@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reusable button to show the visualization actions for a given contextualized argument
*
* @param contribution a contextualized argument contribution
* @param pullRight true if the actions menu must be displayed at the right of the screen
*
* @author Martin Rouffiange
*@

@import helper._
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser

@import be.webdeb.core.api.contributor.EContributorRole
@(
        argument : ArgumentContextHolder,
        linkedContributionId : Long,
        pullRight : Boolean,
        user : WebdebUser
)

<ul class="dropdown-menu @if(pullRight){dropdown-menu-right}" data-id="@argument.getId" data-debate-id="@argument.getContextFirstArgumentId" data-contribution-id="@linkedContributionId">
    @if(argument.isFirstArgument) {
        <li>
            <button class="btn btn-link primary argument-see-debate-btn" title="">
                <span><span class="fas fa-comment fixed-size"></span>&nbsp;@Messages("argument.options.viz.debate.see")</span>
            </button>
        </li>
    }
    <li>
        <button class="btn btn-link primary argument-see-citations-btn" title="">
            <span><span class="fas fa-align-left fixed-size"></span>&nbsp;@Messages("argument.options.viz.citation.see")</span>
        </button>
    </li>
    @if(user.getERole.id() >= EContributorRole.OWNER.id()) {
        <li>
            <button class="btn btn-link primary argument-see-history-btn" title="">
                <span><span class="fas fa-history fixed-size"></span>&nbsp;@Messages("viz.admin.history.label")</span>
            </button>
        </li>

        <li>
            <button class="btn btn-link primary argument-show-details-btn" title="">
                <span><span class="fas fa-info-circle fixed-size"></span>&nbsp;@Messages("viz.admin.details.label")</span>
            </button>
        </li>
    }
</ul>