@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*
*@

@*
* Reusable button to show the actions for a given contribution
*
* @param contribution a contribution
* @param linksActions true if actions for links must be displayed
* @param linkId a link id
* @param contextId the id of the context
* @param linkedContributionId the id of a linked contribution if any (ex : an actor id)
* @param pullRight true if the actions menu must be displayed at the right of the screen
* @param asBlock true if the actions menu must be displayed as block
*
* @author Martin Rouffiange
*@

@import helper._
@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@import be.webdeb.presentation.web.controllers.entry.actor.ActorHolder
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentHolder
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextHolder
@import be.webdeb.presentation.web.controllers.entry.debate.DebateHolder
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptHolder
@import be.webdeb.presentation.web.controllers.entry.folder.FolderHolder
@import be.webdeb.presentation.web.controllers.entry.text.TextHolder

@import be.webdeb.presentation.web.views.html.toolbar.argumentVizActions
@import be.webdeb.presentation.web.views.html.toolbar.argumentEditActions
@import be.webdeb.presentation.web.views.html.toolbar.argumentAddActions
@import be.webdeb.presentation.web.views.html.toolbar.excerptVizActions
@import be.webdeb.presentation.web.views.html.toolbar.excerptEditActions
@import be.webdeb.presentation.web.views.html.toolbar.excerptAddActions
@import be.webdeb.presentation.web.controllers.permission.WebdebUser

@import be.webdeb.core.api.contribution.EContributionType
@(
    contribution : ContributionHolder,
    linksActions : Boolean,
    linkId : Long,
    contextId : Long,
    linkedContributionId : Long,
    pullRight : Boolean,
    asBlock : Boolean,
    user : WebdebUser
)

<div class="contribution-actions-container @if(!asBlock && pullRight){pull-right}else{@if(asBlock && pullRight){co-xs-12 no-padding}}">
    @if(asBlock && pullRight){<span class="pull-right">}
        <span class="dropdown" style="margin: 0;padding: 0;" >
            <button type="button" class="btn btn-link primary btn-simple-link tree_node_option dropdown-toggle" style="font-size : 18px;"
            data-toggle="dropdown" title="" aria-expanded="true"><i class="fas fa-eye"></i>
            </button>
            @contribution match {
                case h : ArgumentContextHolder => { @argumentVizActions(h, linkedContributionId, pullRight, user)}
                case h : DebateHolder => { }
                case h : ExcerptHolder => {@excerptVizActions(h, pullRight, user) }
                case h : ActorHolder => {}
                case h : TextHolder => {}
                case h : FolderHolder => {}
                case _ => { @* ignore *@ }
            }
        </span>
        <span class="dropdown" style="margin: 0;padding: 0;">
            <button type="button" class="btn btn-link primary btn-simple-link tree_node_option dropdown-toggle" style="font-size : 18px;"
            data-toggle="dropdown" title=""><i class="fas fa-pencil-alt"></i>
            </button>
            @contribution match {
                case h : ArgumentContextHolder => { @argumentEditActions(h, linksActions, pullRight, user)}
                case h : DebateHolder => { }
                case h : ExcerptHolder => { @excerptEditActions(h, linksActions, linkId, pullRight, user) }
                case h : ActorHolder => {}
                case h : TextHolder => {}
                case h : FolderHolder => {}
                case _ => { @* ignore *@ }
            }
        </span>
        @if(contribution.getType == EContributionType.ARGUMENT_CONTEXTUALIZED || contribution.getType == EContributionType.EXCERPT) {
            <span class="dropdown" style="margin: 0;
                padding: 0;">
                <button type="button" class="btn btn-link primary btn-simple-link tree_node_option dropdown-toggle" style="font-size: 18px;"
                data-toggle="dropdown" title=""><i class="fas fa-plus"></i>
                </button>
                @contribution match {
                    case h: ArgumentContextHolder => {
                        @argumentAddActions(h, linksActions, pullRight, contextId, user)
                    }
                    case h: DebateHolder => {}
                    case h: ExcerptHolder => {
                        @excerptAddActions(h, pullRight, user)
                    }
                    case h: ActorHolder => {}
                    case h: TextHolder => {}
                    case h: FolderHolder => {}
                    case _ => { @* ignore *@ }
                }
            </span>
        }
    @if(asBlock && pullRight){
        </span>
        <div class="clearfix"></div>
    }
</div>