@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Toolbox dropdown that contains user-related tools (with settings, group, admin tools, etc.)
*
* @param user the user profile data
*
* @author Fabian Gilson
*@


@import be.webdeb.core.api.contributor.EContributorRole
@import be.webdeb.presentation.web.controllers.account.settings.ESettingsPane
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput}
@import helper._


@(
        user : WebdebUser
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@form(be.webdeb.presentation.web.controllers.account.routes.ContributorActions.authenticate) {
    <li class="nav-item dropdown">
    @user.getERole match {
        case EContributorRole.TMP_CONTRIBUTOR => {

        }

        case EContributorRole.VIEWER => {
            @* login drop down *@
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fixed-size"></i>
                <span class="d-inline d-md-none d-lg-inline">@Messages("menu.signin")</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right p-3" aria-labelledby="navbarDropdownUser" style="width: 250px;">
                <fieldset>
                    @inputText(
                        user.getLoginForm()("emailOrPseudo"),
                        'placeholder -> Messages("contributor.place.mail"),
                        '_label -> Messages("signin.email"),
                        'class -> "form-control"
                    )
                    @inputPassword(
                        user.getLoginForm()("password"),
                        'placeholder -> Messages("contributor.place.password"),
                        '_label -> Messages("signin.password"),
                        'class -> "form-control"
                    )
                <div class="mt-1">
                    <label class="checkbox-inline">
                        <input id="remember" type="checkbox" name="remember" class="mr-1">@Messages("signin.remember")
                    </label>
                </div>
                </fieldset>
                <div class="form-actions mt-1">
                    <button type="submit" class="btn btn-primary">@Messages("signin.signin") &nbsp; <span class="fa fa-sign-in"></span></button>
                    <br>
                    <small><a class="btn btn-link btn-sm primary no-padding mt-1" href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.signup">@Messages("signin.register")</a></small><br />
                    <small><button id="forgot-pwd" type="button" class="btn btn-link btn-sm primary no-padding">@Messages("signin.forgot")</button></small>
                </div>
            </div>
        }


        case _ => {
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fixed-size"></i>
                <span class="d-inline d-md-none d-lg-inline">@user.getContributor.getFirstname</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                @item(be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(user.getId, ESettingsPane.PROFILE.id).toString,
                    "fa fa-user", "toolbox.menu.settings")

                @item(be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(user.getId, ESettingsPane.CONTRIBUTIONS.id).toString,
                    "fas fa-comment-dots", "toolbox.menu.contributions")

                @item(be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(user.getId, ESettingsPane.GROUP_MGMT.id).toString,
                    "fas fa-users", "toolbox.menu.group.admin")

                @item(be.webdeb.presentation.web.controllers.routes.Application.help.toString,
                    "fa fa-question-circle", "help.navbar.title")

                @if(user.getERole.equals(EContributorRole.ADMIN)) {
                    <div class="dropdown-divider"></div>

                    @item(be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(user.getId, ESettingsPane.FEEDER.id).toString,
                        "fa fa-download", "toolbox.menu.feeder")

                    @item(be.webdeb.presentation.web.controllers.account.admin.project.routes.ProjectActions.manageProjects.toString,
                        "fa fa-cogs", "toolbox.menu.project")

                    @item(be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(user.getId, ESettingsPane.ADMIN.id).toString,
                        "fa fa-cogs", "toolbox.menu.admin")

                    @item(be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(user.getId, ESettingsPane.PROFESSION.id).toString,
                        "fa fa-cogs", "toolbox.menu.profession")

                    @item(be.webdeb.presentation.web.controllers.account.admin.routes.AdminActions.editFreeCopyrightSources().toString,
                        "fa fa-cogs", "toolbox.menu.freeSources")

                    @item(be.webdeb.presentation.web.controllers.account.admin.routes.AdminActions.editArgumentsDictionary().toString,
                        "fa fa-cogs", "toolbox.menu.arguments.dictionary")

                    @item(be.webdeb.presentation.web.controllers.account.admin.routes.AdminActions.getAdminEmailForm().toString,
                        "fa fa-cogs", "toolbox.menu.arguments.mail")
                    <div class="dropdown-divider"></div>
                }

                @item(be.webdeb.presentation.web.controllers.account.routes.ContributorActions.logout.toString,
                "fa fa-sign-out-alt", "toolbox.menu.logout")
            </div>
        }
    }
    </li>
}

@item(link : String, logo : String, message : String) = {
    <a class="dropdown-item" href="@link">
        <span class="falogo fixed-size"><i class="@logo"></i></span> @Messages(message)
    </a>
}