/*
 * WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
 *
 * List of the contributors to the development of WebDeb: see AUTHORS file.
 * Description and complete License: see LICENSE file.
 *
 * This program (WebDeb) is free software:
 * you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with this program (see COPYING file).
 * If not, see <http://www.gnu.org/licenses/>.
 *
 */

/**
 * Main style customisation sheet for the webdeb website
 *
 * @author Fabian Gilson
 * @author Martin Rouffiange
 */

@import "/public/less/variables.less";

// gandhi
@font-face {
  font-family: 'gandhi_serifregular';
  src: url('/assets/fonts/gandhi/GandhiSerif-Regular-webfont.eot');
  src: url('/assets/fonts/gandhi/GandhiSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/gandhi/GandhiSerif-Regular-webfont.woff') format('woff'),
  url('/assets/fonts/gandhi/GandhiSerif-Regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/gandhi/GandhiSerif-Regular-webfont.svg#gandhi_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gandhi_sansregular';
  src: url('/assets/fonts/gandhi/GandhiSans-Regular-webfont.eot');
  src: url('/assets/fonts/gandhi/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/gandhi/GandhiSans-Regular-webfont.woff') format('woff'),
  url('/assets/fonts/gandhi/GandhiSans-Regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/gandhi/GandhiSans-Regular-webfont.svg#gandhi_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// fallback for telugu and kannada (indi dialects)
@font-face {
  font-family: 'akshar';
  src: url('/assets/fonts/akshar.ttf') format('truetype');
}

@webdeb-red:#ff1d25;
@webdeb-orange:#f7931e;
@webdeb-green:#39b54a;

@btn-add: #cfeacf;

/*
 *	GENERAL PURPOSE
 */

body {
  // fix navbar jiggling (modal bug https://github.com/twbs/bootstrap/issues/14040 (part1)
  padding-right: 0 !important;
  font-family: 'gandhi_sansregular', sans-serif, 'akshar';
}

// fix for mozilla
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

// NAVBAR

// fix navbar jiggling (modal bug https://github.com/twbs/bootstrap/issues/14040 (part2)
nav {
  padding-right: 0 !important;
}

.navbar {
  margin-bottom:0 !important;
}

.navbar .searchbar{
  padding : 5px;
}

.nav-browse{
  @media(max-width:@screen-xs-max) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

// Flip around the padding for proper display in narrow viewports
.navbar-wrapper > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar .container {
  width: 100%;
}

.navbar-right {
  margin-right: 0;
}

.navbar-nav {
  margin: initial;
}

.navbar-nav > li {
  font-size: 16px;
}

.navbar-form {
  margin-top: 10px;
}

@media(max-width:@screen-md-min) {
  .nav > li > a {
    padding: 15px 10px;
  }
  .navbar .nabar-form {
    margin: 15px 10px;
  }
}

@media(max-width:@screen-sm-min) {
  .navbar-form {
    border:none;
    margin: 0;
    box-shadow: none;
  }
}

.navbar-index-header {
  display: flex;
  align-items: center;
}

.navbar .navbar-form .form-control{
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media(max-width:@screen-sm-min) {
  .navbar-nav > li > a {
    padding: 15px 10px;
  }
}

.flex-container {
  display: flex !important;
}

.flex-container-centered {
  display: flex!important;
  align-items: center;
}

.no-decoration a, .no-decoration a:hover{
  text-decoration: none;
}

.nav-index{
  background-color: #d1d2d3;
  padding : 15px;
  padding-bottom : 5px;
}

.nav-index .navbar-form .form-control{
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.nav-slogan{
  margin-left : 20px;
  font-size : 21px;
  width : 130px;
  margin-top : -8px;
}

.nav-slogan p {
  padding : 0;
  margin : 0;
  color : @index-color1;
  margin-top : -5px;
}

.nav-slogan p:last-child {
  color : @index-color2;
}


.nav-index a{
  color : #5c4d4d;
  font-size : 20px;
}

@media(max-width:@screen-xs-max) {
  .navbar-brand{
    padding-left : 8px;
    padding-right : 0;
  }
  .navbar-form{
    padding-left : 10px;
    padding-right : 10px;
    padding-top : 12px;
  }
}

.badge {
  margin-left: 3px;
  border-radius: 8px !important;
  padding: 5px 7px;
  background-color: @gray-light;
}

.badge.primary {
  background-color: @brand-primary;
}

.fake-tab {
  margin-top: 5px;
  text-decoration: none!important;
}

// MAIN CONTENT -> fixed padding (because of navbar)
.main-content {
  padding-top: 55px;
  min-height : 80vh;
}

.main-content-nav-large {
  padding :0;
  padding-top: 85px;
  @media (max-width: @screen-xs-max) {
    padding-top: 55px;
  }
}

// FOOTER
.footer {
  margin-top : 40px;
  background-color: #f5f5f5;
}

.img-transparent {
  mix-blend-mode: multiply;
}

@media (max-width: 799px) {
  .footer-margin {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.btn-footer {
  font-size : 16px;
}

//title

@media (max-width: @screen-xs-max) {
  h1 {
    font-size: 24px;
    margin-top : 10px;
  }
  h2 {
    font-size: 20px;
    margin-top : 10px;
  }
  h3 {
    font-size: 18px;
    margin-top : 10px;
  }
  h4 {
    font-size: 16px;
    margin-top : 10px;
  }
}

.small-margin{
  margin-top : 10px;
  margin-bottom : 0;
}

.title-inline {
  display: inline-block !important;
}

// signin dropdown
.signin-drop {
  padding: 10px;
  min-width: 240px;
  background-color: @body-bg !important;
}

// alignments
.center-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center; // align horizontal
  align-items: center; // align vertical
  @media(max-width:@screen-sm-min) {
    display: table;
  }
}

.center-flex.large {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center; // align horizontal
  align-items: center; // align vertical
  @media(max-width:@screen-lg-min) {
    display: table;
  }
}

.bottom-aligned {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
}

// avoid default border radius for buttons
* {
  border-radius: 0 !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-tabs > li > a {
  font-size: 1.1em;
}

.pager {
  padding-top: 5px;
}

optgroup {
  font-weight: 700 !important;
}

/*
 * INDEX PAGE FORMATTING
 */
.back-over {
  width: 100%;
  vertical-align: middle;
  background: @gray;
  padding: 180px 5% 120px;
  margin: 1em auto -300px;
  @media(max-width: 420px) {
    padding: 130px 5% 100px;
  }
}

.back-over:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 300px;
  color: @gray-light;
  top: 50%;
  left: 50%;
  margin: -218px 0 0 -150px;
  z-index: 1;
  @media(max-width: 420px) {
    font-size: 200px;
    margin: -118px 0 0 -100px;
  }
}

.back-over:hover {
  background: lighten(@gray, 10%);
  text-decoration: none;
  cursor: pointer;
}

.back-over:hover::after {
  color: lighten(@gray-light, 10%);
}

.back-over-contribute:after {
  content: "\f0e6";
}

.back-over-search:after {
  content: "\f277";
}

.cursor-pointer{
  cursor: pointer;
}

.inner {
  vertical-align: middle;
  color: @body-bg;
  position: relative;
  z-index: 2;
  min-height: 5.7em;
}

// Center align text

.overv {
  margin:0;

  div {
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    font-weight: normal;
  }
  @media(max-width: 460px) {
    h3 {
      font-size: 18px;
    }
  }
}

.viz-head {
  position: -webkit-sticky;
  position: sticky;
  top : 0;
  background-color: white;
  z-index: 1;
}

.viz-head-flex {
  display : flex;
  align-items : center;

  .viz-head-elem {
    display : initial;
  }
  .viz-head-elem-scrolled {
    display : none;
  }
}

.viz-head-title{
  font-size: 24px;
  padding-top : 15px;
  padding-bottom:15px;
  margin : 0;
}

.viz-head-subtitle-1{
  font-size: 16px;
  margin : 0;
}

.viz-head-flex-scrolled {
  @media (max-width: @screen-xs-max) {
    .viz-head-elem-xs {
      display : none;
    }
  }
  @media (min-width: @screen-sm-min) {
    .viz-head-elem-s {
      display : block;
    }
  }
  .viz-head-elem {
    display : none;
  }
  .viz-head-elem-scrolled {
    display : initial;
  }
}

.viz-head-scrolled {
  hr{
    margin-top : 0;
  }
  background-color: #f8f8f8;
}

.viz-head hr{
  margin-bottom : 0;
}

.viz-body{
  margin-top : 10px;
}

.chevron {
  margin-top: -20px;
  padding-top: 40px;
  background-color: white;
  margin-bottom: -120px;
  padding-bottom: 180px;
  max-height: 460px;
}

.chevron.middle {
  margin-top: -40px;
  padding-top: 80px;
  background-color: #f2f2f2;
  margin-bottom: -60px;
  padding-bottom: 80px;
}

.chevron.bottom {
  padding-top: 0;
  padding-bottom: 0;
}

.bubble-holder {
  height: 320px;
  @media (max-width: @screen-sm-max) {
    height: auto;
  }
}

.bubble {
  background: url('/assets/images/picto/bubbles.png') no-repeat center;
  vertical-align: middle;
  background-size: 100% 320px;
  overflow: hidden;

  p {
    font-family: 'gandhi_serifregular', serif;
    font-style: italic;
    font-size: 1.2em;
    text-align: left;
    overflow: hidden;
  }

  p:hover {
    cursor: pointer;
    text-decoration: none;
  }
  div.left {
    color: @gray;
    margin-top: 5px;
    padding: 0 45px 0 55px;
    height: 290px;
  }
  div.left:hover {
    color: darken(@gray, 20%);
  }
  div.right {
    color: @body-bg;
    margin-top: 10px;
    padding: 40px 75px 0 10px;
    height: 290px;
  }
  div.right:hover {
    color:darken(@body-bg, 10%);
  }
}

.bubble-small {
  background: url('/assets/images/picto/bubbles2.png') no-repeat center;
  background-size: 100% 320px;
}

/*
 * SPECIAL POINTABLE ELEMENTS
 */
.pointable {
  cursor: pointer;
  text-decoration: none;
}

.pointable-content .summary:hover {
  cursor: pointer;
  background-color: #f9f9f9 !important;
}

.pointable-content .summary:hover {
  background-color: #f9f9f9 !important;
}

.pointable:hover {
  text-decoration: underline;
  .btn-link, a {
    text-decoration: underline;
  }
}

p.pointable:hover {
  text-decoration: none;

}

// special jumbo class
.my-jumbo {
  padding: 0 10px 10px !important;
  background: transparent !important;
  p {
    font-size: 1.6em;
  }
}

.help-inline {
  color: darken(@gray-light, 5%);
  margin-top: 5px;
}


// LISTS

// special class for list icons
ul {
  padding-left:20px;
}

ul.no-icon {
  display: block;
  li {
    list-style-type: none;
    padding-bottom: 2px;
  }
}

ol.terms {
  padding-left: 0;
  margin-left: 15px;

  li {
    margin-left: 3px;
  }
  ol {
    list-style-type: lower-alpha;
    padding-left: 0;
    margin-left: 15px;
  }
}

// for centered panel (for loading spin displayed when html is updated by ajax)
.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
}


/*
 * manual padding corrections for inputs
 */

.padding-group .input-group-btn {
  padding-bottom:7px;
  .btn {
    margin-left: 5px;
    border-radius: 2px !important;
    vertical-align: middle;
  }
}

.padding-group .input-group-btn.bottom {
  vertical-align: bottom;
}

.input-group-border {
  padding: 5px 15px 0 15px;
  border-left: 2px #e0e0e0 solid;
  margin-left: 5px;
}

.padding-field {
  padding: 0 5px 5px 0;
  vertical-align: middle;
}

// used to correct bottom margin of twitter-input (autocomplete) fields in responsive mode
@media (max-width: @screen-sm-min) {
  .correct-tt-margin .tt-input {
    margin-bottom: 10px;
  }
}

.padding-field-full {
  padding-left: 0;
  padding-bottom: 4px;
  padding-right: 0;
}

.padding-column {
    padding : 0;

}

.padding-column:not(:last-child) {
  @media (min-width: @screen-md-min) {
    padding-right: 15px;
  }
}

.no-padding {
  padding: 0 0 0 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.col-padding {
  padding-left : 15px;
  padding-right : 15px;
}

.no-padding-xs {
  @media (max-width: @screen-xs-max) {
    padding: 0 !important;
  }
}

.no-padding-left-xs {
  @media (max-width: @screen-xs-max) {
    padding-left: 0 !important;
  }
}

.padding-min-xs {
  @media (max-width: @screen-xs-max) {
    padding-left : 5px !important;
    padding-right : 5px !important;
  }
}

.padding-top-xs {
  @media (max-width: @screen-xs-max) {
    padding-top : 8px !important;
  }
}

.padding-xs {
  @media (max-width: @screen-xs-max) {
    padding-left : 15px !important;
    padding-right : 15px !important;
  }
}

.no-margin-xs {
  @media (max-width: @screen-xs-max) {
    margin: 0 !important;
  }
}

.no-margin-top {
  margin-top : 0;
}

.block-xs {
  @media (max-width: @screen-xs-max) {
    display: block !important;
  }
}
.inline-cont {
  display: inline !important;
}

.inline-xs {
  @media (max-width: @screen-xs-max) {
    display: inline !important;
  }
}

.space-m-xs{
  @media (max-width: @screen-xs-max) {
    height: 5px;
  }
}

.no-margin {
  margin: 0 0 0 0 !important;
  .form-group {
    margin-bottom: 0 !important;
  }
  .help-inline {
    margin-top: 0 !important;
  }
}

.input-group.padding {
  padding: 10px 10px 10px 10px;
}

.input-group-addon.dark {
  color: @input-color-placeholder;
}

.input-group-addon.no-background {
  padding:0;
  width:30px;
  color: @input-color-placeholder;
  background-color: transparent;
  border: none;
}

.input-group.correct-margin,.controls.correct-margin {
  margin-bottom: 15px;
}

.row.padding {
  margin: 20px;
}

.form-group .negative-margin {
  margin-top: -5px;
}

.add-up-down-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
 * CUSTOM BUTTONS
 */

.btn-add,.btn-add:focus, .btn-add:active {
  background-color: @btn-add;
  border-color: darken(@btn-add, 2%);
}

.btn-add:hover {
  background-color: darken(@btn-add, 5%);
  border-color: darken(@btn-add, 15%);
}

.btn-remove, .btn-remove:focus, .btn-remove:active {
  background-color: lighten(@brand-danger, 35%);
  border-color: lighten(@brand-danger, 30%);
}

.btn-remove:hover {
  background-color: lighten(@brand-danger, 30%);
  border-color: lighten(@brand-danger, 25%);
}

// special class to avoid decoration on buttons
.button.no-decoration {
  text-decoration: none !important;
}

span.primary {
  color: @brand-primary !important;
  cursor : pointer;
}

.btn-link {
  border: none !important;
}

.btn-link.primary, a.primary {
  color: @brand-primary !important;
  text-decoration-color: @brand-primary !important;
}

.btn-link.primary:hover, a.primary:hover {
  color: darken(@brand-primary, 15%) !important;
  text-decoration-color: darken(@brand-primary, 15%) !important;
}

.btn-link.secondary {
  color: @gray-light !important;
  text-decoration-color: @gray-light !important;
  text-decoration: underline;
}

.btn-link.secondary:hover {
  color: darken(@gray-light, 15%) !important;
  text-decoration-color: darken(@gray-light, 15%) !important;
}

.btn-link-simple {
  padding : 0;
  font-family: 'gandhi_serifregular', serif;
  text-align: justify;
  position: relative;
  bottom : 1px;
  padding-left : 2px;
  font-size: 16px;
}

.btn-lg.fixed-size {
  min-width: 240px;
}

.btn-full {
  width: 100%;
}

.button-img{
  width: 100%;
}

.falogo.fixed-size {
  display : inline-block;
  width: 20px;
  margin-right : 5px;
}

// special placement for bottom buttons
.bottombutton {
  padding-top: 20px;
  float:right;
  clear:both;
}

.fake-input {
  border: 1px solid #ccc;
  .btn:active, .btn:focus {
    background-color: @body-bg !important;
    border-color: @body-bg !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
}

.fake-input.focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.fake-input .form-control:focus {
  border: 0!important;
  outline: 0!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

// search
.custom-search-input {
  box-shadow: none;
  background-color: @body-bg;
  border: 0;
  color:@input-border;
}

.custom-search-input:hover {
  background-color: @body-bg;
  color:@brand-info;
  text-decoration: none;
}

.btn-checkbox.active {
  text-shadow: 0 1px 0 @brand-info !important;
  color: @body-bg !important;
  background-color: #7A837F !important;
  border-color: @brand-info !important;
}

.btn-checkbox.active:hover {
  background-color: @brand-info !important;
}

.btn-group-checkbox .btn.active {
  text-shadow: 0 1px 0 @brand-info !important;
  color: @body-bg !important;
  background-color: #7A837F !important;
  border-color: @brand-info !important;
}

.btn-group-checkbox .btn.active:hover {
  background-color: @brand-info !important;
}

/*
 * check boxes
 */

.input-group-addon.roundedbox {
  background-color: @body-bg;
  cursor: pointer;
  color: @brand-info;
}

.input-group-addon.roundedbox.colored {
  text-shadow: 0 1px 0 @brand-info !important;
  color: @body-bg !important;
  background-color: #7A837F !important;
  border-color: @brand-info !important;
}

.input-group-addon.roundedbox input[type="checkbox"],
.input-group-addon.roundedbox input[type="radio"] {
  display: none;
}

/*
 * TOOLTIPS
 */

.popover {
  max-width: 800px;
  font-family: 'gandhi_sansregular', sans-serif;
}

.popover.bottom > .arrow::after {
  border-bottom-color: @gray-lighter;
}

.popover-content {
  text-align: justify;
}

.popover.btn-only {
  background-color: @btn-default-bg;
  border-radius: 5px !important;
  .btn {
    border:none;
  }
  .popover-title {
    display:none;
  }
  .popover-content {
    padding:1px;
  }
  .arrow:after {
    border-bottom-color: @btn-default-bg;
  }
  .form-group {
    margin:0;
  }
}

.helpbubble {
  color: @brand-primary;
}

.helpbubble:hover {
  color: @brand-success !important;
  cursor: pointer;
}

.helpbubble:focus {
  color: @brand-success !important;
}

.select-group-box {
  padding: 0 10px;
  .btn-link {
    padding: 0 0 5px 5px;
  }
}

.dropdown-menu {
  margin: 2px 0 0 !important;
}

/*
 * PARAGRAPHS, TEXT CONTENT AND SPECIAL FONT TYPES
 */

a.normal-style {
  color: inherit;

  :hover {
    color: inherit;
    text-decoration-color: inherit;
  }
}

p {
  text-align: justify;
}

.justified-content {
  text-align: justify;
}

td.spaced {
  word-spacing: 50px;
}

p.center {
  text-align: center;
}

p.instructions,div.instructions {
  padding-top: 10px;
  font-size: 16px;
  font-style: italic;
  button {
    font-style: normal;
  }
}

p.quote {
  padding-left: 20px;
  font-style: italic;
}

p.indent {
  padding-left: 20px;
}

p.right-align {
  text-align: right;
}

table {
  max-width: 100%;
}

// for search results
.searched {
  padding-left: 40px;
  li {
    color: @gray-light;
    font-size: 0.9em;
  }
  .fa {
    font-size: 0.85em;
    padding-top: 0.2em
  }
}

.forcewrap {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  max-width: 95%;
  position: relative;
}

a > .forcewrap:not(.badge) {
  display: inline-block;
  margin-bottom: -5px;
}

a > .forcewrap:hover {
  text-decoration: underline;
}

.forcewrap.full-size {
  max-width: 100% !important;
}

.table-header {
  width: 200px;
}

.table-striped td .forcewrap {
  max-width:  calc(~"95% - 200px");
  position: absolute;
}

.actorbox.forcewrap {
  position: absolute;
  max-width: 75%;
  font-size: 1.1em;
  padding: 5px 0 5px 10px;
}

.centered {
  text-align: center;
  margin: 20px auto;
}

p.popular-box {
  color: @text-color;
  cursor: pointer;
  margin-bottom: 0;
}

p.popular-box.actors {
  font-size:1.1em;
  padding: 5px;
}

p.popular-box:hover {
  text-decoration: underline;
  color: darken(@text-color, 15%);
}

// font sizes and styles
.italic {
  font-style: italic;
}

.huge-font {
  font-size: 1.6em!important;
  @media(max-width:@screen-sm-min) {
    font-size: 1.20em!important;
  }
}

.larger-font {
  font-size: 1.3em!important;
  @media(max-width:@screen-sm-min) {
    font-size: 1.10em!important;
  }
}

.large-font {
  font-size: 1.2em!important;
  @media(max-width:@screen-sm-min) {
    font-size: 1.05em!important;
  }
}

.normal-font {
  font-size: 1em;
}

.small-font {
  font-size: 0.9em!important;
}

.smaller-font {
  font-size: 0.85em!important;
}

.evensmaller-font {
  font-size: 0.8em!important;
}

.tiny-font {
  font-size: 0.75em!important;
}

.small-caps {
  font-variant: small-caps;
}

.serif {
  font-family: 'gandhi_serifregular', serif;
}

.text-shade-2, .text-shade-4 {
  color:darken(@webdeb-green, 12%);;
}

.text-shade-5 {
  color:darken(@webdeb-orange, 12%);;
}

.text-shade-3, .text-shade-6 {
  color: darken(@webdeb-red, 12%);;
}

.force-muted {
  a, .fa, .text-muted {
    color: lighten(@text-muted, 20%) !important;
  }
}

/*
 * TEXT HIGHLINGTING
 */
span.highlight {
  color: initial;
  background-color: @state-info-bg;
}

span.highlight:hover {
  background-color: @state-info-border;
  cursor: pointer;
}

span.highlight:focus,
span.highlight:active {
  outline: 0 !important;
}
.annotated {
  .organisation {
    font-weight: bold;
    color: #a72364;
  }

  .personne {
    font-weight: bold;
    color: #f7941d;
  }

  .lieu {
    font-weight: bold;
    color: #0054a4;
  }

  .temps {
    font-weight: bold;
    color: #537435;
  }

  .profession {
    font-weight: bold;
    color: #773637;
  }
  .other {
    font-weight: bold;
    color: #000;
  }
  .conn {
    font-weight: bold;
    color: #666666;
  }
}

/*
 * CUSTOM MODAL MANAGEMENT
 */

.modal {
  position: fixed;
  overflow: auto !important;
}

.modal-dialog {
  @media (max-width: @screen-md-min) {
    width:90%!important;
    margin-left: 5%;
  }
}

.modal-dialog.small {
  width: 50% !important;
  @media (max-width: @screen-md-min) {
    width:90%!important;
  }
}

.modal-dialog.default {
  width: 60% !important;
  @media (max-width: @screen-md-min) {
    width:90%!important;
  }
}

.modal-dialog.large {
  width: 70% !important;
  @media (max-width: @screen-md-min) {
    width:90%!important;
  }
}

.modal-dialog.form {
  width: 90% !important;
}

.modal-dialog.full {
  width: 100% !important;
}

.panel-title.searchelem {
  border-color: #386491;
  color: #446e9b;
}

.modal-dialog.scrollable {
  .modal-body {
    max-height: calc(~"90vh - 120px");
    overflow-y: auto;
  }
}

/*
 * TABLE
 */

table .collapse.in {
  display: table-row !important;
}

table.borderless td, table.borderless th {
  border: none !important;
}

// for user conditions
.scroll-down-wrapper {
  position: fixed;
  text-align: center;
  overflow: hidden;
  z-index: 2;
  color: @brand-success;
  right: 50%;
  bottom: 15px;
  cursor: pointer;
}


/*
 * SCROLL TO TOP BUTTON
 */
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  overflow: hidden;
  z-index: 100;
  background-color: @gray-light;
  color: @gray-lighter;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 25px;
  bottom: 25px;
  padding-top: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
  background-color: #888888;
}

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0;
}

.scroll-top-wrapper i.fa {
  line-height: inherit;
}


/*
 * TOKENFIELD LIKE BOXES
 */

.tokenlike {
  color: @gray-light;
  text-decoration: underline;
  display: inline-block;
}

.tokenlike:hover {
  color: darken(@gray-light, 15%);
}

.tokenlike.primary {
  color: @brand-primary;
}

.tokenlike.primary:hover {
  color: darken(@brand-primary, 15%);
}


/*
 *	TWITTER TYPEAHEAD FIXES
 */

.twitter-typeahead {
  float: left;
}

// twitter-typeahead has trouble when no help-inline is given
.no-help {
  margin-bottom: 10px!important;
}

.input-group .twitter-typeahead:last-child .tt-input,
.input-group .twitter-typeahead:last-child .tt-hint {
  border-radius: 0!important;
}

/*
.tt-dropdown-menu {
  margin-top: 2px;
  padding: 0 0;
  background-color: @body-bg;
  border: 1px solid @input-border;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  min-width: 160px;
  width: 100%;
}

.tt-suggestion.tt-cursor {
  color: @body-bg;
  background-color: @brand-primary;
  background-image: -moz-linear-gradient(top, @brand-primary, @btn-primary-border);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@brand-primary), to(@btn-primary-border));
  background-image: -webkit-linear-gradient(top, @brand-primary, @btn-primary-border);
  background-image: -o-linear-gradient(top, @brand-primary, @btn-primary-border);
  background-image: linear-gradient(to bottom, @brand-primary, @btn-primary-border);
  background-repeat: repeat-x;
}
*/
/*
 *	tokenfield visual enhancements and fixes
 */

.tokenfield .token {
  color: @body-bg;
  background-color: @brand-primary;
  background-image: -moz-linear-gradient(top, @brand-primary, @btn-primary-border);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@brand-primary), to(@btn-primary-border));
  background-image: -webkit-linear-gradient(top, @brand-primary, @btn-primary-border);
  background-image: -o-linear-gradient(top, @brand-primary, @btn-primary-border);
  background-image: linear-gradient(to bottom, @brand-primary, @btn-primary-border);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  cursor: default;
}

/* Tokenfield-specific Typeahead styling => must be overridden specifically */
.tokenfield .twitter-typeahead {
  float: none;
}

/*
 * SEARCH RESULTS PANELS
 */
.summary {
  border-bottom: 2px solid @gray-lighter;

  h4 {
    margin-bottom: 5px;
  }
  ul {
    margin-left: 30px;
    margin-top: -5px;
    @media(max-width:@screen-sm-min) {
      margin-left: -5px;
      margin-top: 0;
    }
  }
  .well {
    background-color: transparent;
  }
  blockquote {
    font-size: 1em;
  }
}

.summary.fixed-3 {
  height: 80px;
  overflow: hidden;
}

.summary.fixed-2 {
  height: 55px;
  overflow: hidden;
}

.no-summary-border .summary {
  border: none !important;
}

.manual-bottom-border {
  border-bottom: 2px solid @gray-lighter;
}

.summary.selected {
  background-image: -webkit-linear-gradient(top, #d9eafc 0, #abcef1 100%);
  background-image: linear-gradient(to bottom, #d9eafc 0, #abcef1 100%);
}

.modal-body .summary ul {
  max-height: 60px;
  overflow: hidden;
}

.modal-body .summary ul.detailed {
  max-height: 110px !important;
}

/*
 * FEATURETTES FOR ABOUT pages
 */
.featurette-divider {
  margin: 80px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin: 20px;
  font-size: 50px;
  text-align: justify;
}

.featurette-image {
  border-radius: 10% !important;
  padding:10px;
}


/*
 * BREADCRUMB AND ALERTS
 */

.breadcrumb-pane {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  position: absolute;
  top:55px;
  right:15px;
  z-index: 5; // always stack on top
}

.breadcrumb-pane .fa:hover {
  text-decoration: underline;
}
// Basic Style
.cd-breadcrumb, .cd-multi-steps {
  max-width: 768px;
  padding: 0;
  border-radius: .25em!important;
}
.cd-breadcrumb:after, .cd-multi-steps:after {
  content: "";
  display: table;
  clear: both;
}
.cd-breadcrumb li, .cd-multi-steps li {
  display: inline-block;
  float: left;
  margin: 0.5em 0;
}
.cd-breadcrumb li::after, .cd-multi-steps li::after {
  // this is the separator between items
  display: inline-block;
  content: '/';
  margin: 0 .6em;
  color: @brand-primary;
}
.cd-breadcrumb li:last-of-type::after, .cd-multi-steps li:last-of-type::after {
  // hide separator after the last item
  display: none;
}
.cd-breadcrumb li > *, .cd-multi-steps li > * {
  // single step
  display: inline-block;
  font-size: 1em;
  color: @brand-info;
}
.cd-breadcrumb li.current > *, .cd-multi-steps li.current > * {
  // selected step
  color: @brand-success;
}
.no-touch .cd-breadcrumb a:hover, .no-touch .cd-multi-steps a:hover {
  // steps already visited
  color: @brand-success;
}
.cd-breadcrumb.custom-separator li::after, .cd-multi-steps.custom-separator li::after {
  // replace the default arrow separator with a custom icon
  content: '';
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
.cd-breadcrumb.custom-icons li > *::before, .cd-multi-steps.custom-icons li > *::before {
  // add a custom icon before each item
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: .4em;
  margin-top: -2px;
  vertical-align: middle;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(2) > *::before {
  // change custom icon using image sprites
  background-position: -20px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(3) > *::before {
  background-position: -40px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(4) > *::before {
  background-position: -60px 0;
}
.cd-breadcrumb.custom-icons li.current:first-of-type > *::before, .cd-multi-steps.custom-icons li.current:first-of-type > *::before {
  // change custom icon for the current item
  background-position: 0 -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(2) > *::before {
  background-position: -20px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(3) > *::before {
  background-position: -40px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(4) > *::before {
  background-position: -60px -20px;
}

@media only screen and (min-width:@screen-sm-min) {
  .cd-multi-steps li > * {
    font-size: 1.6rem;
  }
}

// Custom icons hover effects - breadcrumb and multi-steps
@media only screen and (min-width: @screen-sm-min) {
  .no-touch .cd-breadcrumb.triangle.custom-icons li:first-of-type a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:first-of-type em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:first-of-type a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:first-of-type em::before {
    // change custom icon using image sprites - hover effect or current item
    background-position: 0 -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(2) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(2) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(2) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(2) em::before {
    background-position: -20px -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(3) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(3) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(3) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(3) em::before {
    background-position: -40px -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(4) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(4) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(4) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(4) em::before {
    background-position: -60px -40px;
  }
}

// multi steps indicator
@media only screen and (min-width: @screen-sm-min) {
  .cd-multi-steps {
    /* reset style */
    background-color: transparent;
    padding: 0;
    text-align: center;
  }

  .cd-multi-steps li {
    position: relative;
    float: none;
    margin: 0.4em 40px 0.4em 0;
  }
  .cd-multi-steps li:last-of-type {
    margin-right: 0;
  }
  .cd-multi-steps li::after {
    /* this is the line connecting 2 adjacent items */
    position: absolute;
    content: '';
    height: 4px;
    background: #edeff0;
    /* reset style */
    margin: 0;
  }
  .cd-multi-steps li.visited::after {
    background-color: @brand-success;
  }
  .cd-multi-steps li > *, .cd-multi-steps li.current > * {
    position: relative;
    color: @brand-primary;
  }

  .cd-multi-steps.custom-separator li::after {
    // reset style
    height: 4px;
    background: #edeff0;
  }

  .cd-multi-steps.text-center li::after {
    width: 100%;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%) translateX(-1px);
    -moz-transform: translateY(-50%) translateX(-1px);
    -ms-transform: translateY(-50%) translateX(-1px);
    -o-transform: translateY(-50%) translateX(-1px);
    transform: translateY(-50%) translateX(-1px);
  }
  .cd-multi-steps.text-center li > * {
    z-index: 1;
    padding: .6em 1em;
    border-radius: .25em;
    background-color: #edeff0;
  }
  .no-touch .cd-multi-steps.text-center a:hover {
    background-color: @brand-info;
  }
  .cd-multi-steps.text-center li.current > *, .cd-multi-steps.text-center li.visited > * {
    color: #ffffff;
    background-color: @brand-success;
  }
  .cd-multi-steps.text-center.custom-icons li.visited a::before {
    // change the custom icon for the visited item - check icon
    background-position: 0 -60px;
  }

  .cd-multi-steps.text-top li, .cd-multi-steps.text-bottom li {
    width: 80px;
    text-align: center;
  }
  .cd-multi-steps.text-top li::after, .cd-multi-steps.text-bottom li::after {
    // this is the line connecting 2 adjacent items
    position: absolute;
    left: 50%;
    // 40px is the <li> right margin value
    width: calc(100% + 40px);
  }
  .cd-multi-steps.text-top li > *::before, .cd-multi-steps.text-bottom li > *::before {
    // this is the spot indicator
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #edeff0;
  }
  .cd-multi-steps.text-top li.visited > *::before,
  .cd-multi-steps.text-top li.current > *::before, .cd-multi-steps.text-bottom li.visited > *::before,
  .cd-multi-steps.text-bottom li.current > *::before {
    background-color: @brand-success;
  }
  .no-touch .cd-multi-steps.text-top a:hover, .no-touch .cd-multi-steps.text-bottom a:hover {
    color: @brand-success;
  }
  .no-touch .cd-multi-steps.text-top a:hover::before, .no-touch .cd-multi-steps.text-bottom a:hover::before {
    box-shadow: 0 0 0 3px @state-success-border;
  }

  .cd-multi-steps.text-top li::after {
    // this is the line connecting 2 adjacent items
    bottom: 4px;
  }
  .cd-multi-steps.text-top li > * {
    padding-bottom: 20px;
  }
  .cd-multi-steps.text-top li > *::before {
    // this is the spot indicator
    bottom: 0;
  }

  .cd-multi-steps.text-bottom li::after {
    // this is the line connecting 2 adjacent items
    top: 3px;
  }
  .cd-multi-steps.text-bottom li > * {
    padding-top: 20px;
  }
  .cd-multi-steps.text-bottom li > *::before {
    // this is the spot indicator
    top: 0;
  }
}

// add a counter to the multi-steps indicator
.cd-multi-steps.count li {
  counter-increment: steps;
}

.cd-multi-steps.count li > *::before {
  content: counter(steps) " - ";
}

@media only screen and (min-width: @screen-sm-min) {
  .cd-multi-steps.text-top.count li > *::before,
  .cd-multi-steps.text-bottom.count li > *::before {
    // this is the spot indicator
    content: counter(steps);
    height: 26px;
    width: 26px;
    line-height: 26px;
    font-size: 1.4rem;
    color: #ffffff;
  }

  .cd-multi-steps.text-top.count li:not(.current) em::before,
  .cd-multi-steps.text-bottom.count li:not(.current) em::before {
    // steps not visited yet
    color: @brand-primary;
  }

  .cd-multi-steps.text-top.count li::after {
    bottom: 11px;
  }

  .cd-multi-steps.text-top.count li > * {
    padding-bottom: 34px;
  }

  .cd-multi-steps.text-bottom.count li::after {
    top: 11px;
  }

  .cd-multi-steps.text-bottom.count li > * {
    padding-top: 34px;
  }
}

.alert-fixed {
  position: fixed;
  bottom: -20px;
  left: 0;
  width: 100%;
  z-index: 99; // force on top
}

.alert-cookie {
  color: @body-bg;
  background-color: @gray;
  a.close {
    color: @body-bg;
  }
}

/*
 * JQUERY PAGER PLUGIN
 */

.tp-verticalbox {
  column-gap: 20px;
  line-height: 23px;
  color: #4b4b4b;
}

// super hacking for "empty text" messages
.tp-verticalbox .alert {
  width: 200%;
}

.tp-page:hover {
  cursor: pointer;
}

/*
.tp-control-arrows {
  height: 40px;
  float: left;
}
.tp-control-pages {
  height: 40px;
}
.tp-control-arrow-left {
  cursor: pointer;
  float: left;
  margin: 0 5px;
  padding: 10px;
}
.tp-control-arrow-right {
  cursor: pointer;
  float: left;
  margin: 0 5px;
  padding: 10px;
}
.tp-control-arrow-left.unactive {
  background: #eee;
}
.tp-control-arrow-right.unactive {
  background: #eee;
}
.tp-page {
  background: #777777;
  color: #FFFFFF;
  cursor: pointer;
  float: left;
  margin: 0 5px;
  padding: 10px;
}
.tp-page.active {
  background: #ff0000;
  color: #FFFFFF;
}*/


/*
 * CHECKBOXES AND RADIO BUTTONS (adapted from http://bootsnipp.com/momodinium )
 */

.funkyradio > .form-group {
  margin-bottom: 5px;
}

.funkyradio label {
  font-weight: normal;
  display: block;
}

.funkyradio.large label {
  font-weight: normal;
  display: block;
  border: @input-border 1px solid!important;
  width: 100%;
  margin:0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  background-color: #E4E4E4;;
}

.form-group {
  margin: 0;
}

.label-for-funkyradio {
  display: inline-block;
  float: inherit;
  padding-top: 5px;
  margin-right: 30px;
  font-weight: bold;
}

.funkyradio.inline > div {
  display: inline-block;
  padding: 0 30px 0 0;
}

.funkyradio.no-padding {
  padding: 0 0 15px 0 !important;
  label {
    font-weight: bold !important;
  }
}

.funkyradio.disabled {
  color: @gray-light!important;
  label:hover {
    cursor: not-allowed!important;
  }
  label:before {
    content: ''!important;
  }
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  // hide default box to be replaced by pseudo css element
  // do not make display none otherwise the box will become unselectable
  opacity: 0;
}

.funkyradio input[type="radio"]:empty + label,
.funkyradio input[type="checkbox"]:empty + label {
  position: relative;
  margin-top: -22px; // size of default checkbox, since it is simply hidden with opacity
  text-indent: 2.5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.funkyradio.large input[type="radio"]:empty + label,
.funkyradio.large input[type="checkbox"]:empty + label {
  margin-right:2px;
  line-height: 2.2em;
  text-align: center;
}

.funkyradio input[type="radio"]:empty + label:before,
.funkyradio input[type="checkbox"]:empty + label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 1.4em;
  height: 1.4em;
  border-radius: 5px!important;
  border: @input-border 1px solid;
  background: @body-bg;
}

.funkyradio.large input[type="radio"]:empty + label:before,
.funkyradio.large input[type="checkbox"]:empty + label:before {
  width: 2.5em;
  height: 2.2em;
  border-radius:0!important;
}

.funkyradio input[type="radio"]:hover:not(:checked) + label,
.funkyradio input[type="checkbox"]:hover:not(:checked) + label {
  color: @brand-info;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) + label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  text-indent: .15em;
  color: @brand-info;
}

.funkyradio input[type="checkbox"]:checked + label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  text-indent: .15em;
  color: #333;
  background-color: @input-border;
}

.funkyradio input[type="radio"]:hover:not(:checked) + label:before {
  content: "\f111";
  font-family: 'FontAwesome';
  text-indent: .15em;
  color: @brand-info;
}

.funkyradio input[type="radio"]:checked + label:before {
  content: "\f111";
  font-family: 'FontAwesome';
  text-indent: .15em;
  color: #333;
  background-color: @brand-info;
}

.funkyradio input[type="radio"]:focus + label:before,
.funkyradio input[type="checkbox"]:focus + label:before {
  border-color: @input-border-focus;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.funkyradio-default input[type="radio"]:checked + label:before,
.funkyradio-default input[type="checkbox"]:checked + label:before {
  color: @body-bg;
  background-color: @brand-info;
}

.funkyradio-primary input[type="radio"]:checked + label:before,
.funkyradio-primary input[type="checkbox"]:checked + label:before {
  color: @body-bg;
  background-color: @brand-primary;
}

.funkyradio-primary input[type="radio"]:checked + label,
.funkyradio-primary input[type="checkbox"]:checked + label {
  color: @brand-primary;
}

.funkyradio-success input[type="radio"]:checked + label:before,
.funkyradio-success input[type="checkbox"]:checked + label:before {
  color: @body-bg;
  background-color: @brand-success;
}

.funkyradio-success input[type="radio"]:checked + label,
.funkyradio-success input[type="checkbox"]:checked + label {
  color: @brand-success;
}

.funkyradio-danger input[type="radio"]:checked + label:before,
.funkyradio-danger input[type="checkbox"]:checked + label:before {
  color: @body-bg;
  background-color: @brand-danger;
}

.funkyradio-danger input[type="radio"]:checked + label,
.funkyradio-danger input[type="checkbox"]:checked + label {
  color: @brand-danger;
}

/*
 * FILE INPUT
 */

.file-input-group-input input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  filter: alpha(opacity=0);
}

.file-input-group-input input[disabled]:hover, .file-input-group-filename[disabled]:hover {
  cursor: not-allowed!important;
}

.file-input-title {
  margin-left:2px;
}

.file-input-group-filename {
  cursor: pointer !important;
  background-color: @body-bg !important;
}

.file-input-clear {
  z-index: 3!important;
}

/*
 * STYLING FOR DETAILS / DISPLAY PAGES
 */

// CUSTOM TEXTAREA tweaks

// force height for form-control in text area
textarea.form-control {
  height: 100%;
}

// must handle firefox and other specifically
.textcontent {
  text-align: justify;
  font-size: 1.1em;
  line-height: 3.5ex;
  height: 63ex;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'gandhi_serifregular', serif;
  .summary {
    cursor: pointer;
  }
}

.textcontent.embed-pdf {
  height: 530px;
}

@-moz-document url-prefix() {
  .textcontent {
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.8em;
    height: 32.4em;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'gandhi_serifregular', serif;
  }
}

.next-page-indicator {
  bottom: -30px;
  position:absolute;
  color:@brand-success;
  margin-left: 10px;
  .fa {
    font-size: 1.5em;
  }
}

// ARGUMENTS
.argument-displayed { // copy form style
  display: block;
  max-width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: @text-color;
  background: @body-bg none;
  border: 1px solid @input-border;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  cursor: pointer;
  overflow: hidden;
  font-family: 'gandhi_serifregular', serif;
}

.argument-displayed.large {
  font-size: 18px;
  cursor:not-allowed;
}

.heterogeneous-inline {
  float: left;
  vertical-align: top;
  padding-left: 10px;
  @media(max-width: @screen-md-min) {
    float: none;
  }
}

.heterogeneous-inline.remaining {
  float: none;
  overflow: hidden;
  textarea {
    width: 100%;
  }
}

ul.authornames {
  padding-left: 5px;
  padding-top: 5px;

  li {
    font-size: 110%;
    padding: 0;
  }
  li + li:before {
    content: ", ";
  }
}

// contribution details special boxes
hr.contrib-details {
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), @gray-lighter, rgba(0, 0, 0, 0));
}

hr.argument-list {
  margin-top: 5px;
  margin-bottom:5px;
}

table.stat {
  padding: 20px;
}

table.stat th {
  font-size: 2.5em !important;
  color: lighten(@gray-light, 15%) !important;
  padding-right : 15px;
  padding-bottom : 25px;
}

.stat-image {
  max-height: 80px;
}

table.stat .text-primary-muted {
  color :lighten(@brand-primary, 10%) !important;
}

.contribution-card {
  font-size: 1.2em;
  text-align: justify!important;
  p {
    margin: 5px 0;
  }
}

.text-align-left{
  text-align: left;
}

  /*
   * BLOCKQUOTES for argument / excerpts
   * Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes
   */

blockquote {
  font-family: 'gandhi_sansregular', sans-serif;
  font-style: italic;
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 2em;
  text-align: justify;
  font-size: 1.15em;
  @media(max-width:@screen-sm-min) {
    padding: 0;
    margin : 0;
    border-left: 0;
    font-style: normal;
    font-size: 15px;
  }
}

blockquote.no-border {
  border: none;
  font-size: 1.1em;
  margin: 0;
  padding: 10px 0 0 0;
  a {
    color: @text-color;
    text-decoration: none;
  }
  a:hover {
    color:darken(@text-color, 15%);
    text-decoration: underline;
  }
}

blockquote footer.bottom-border {
  border-bottom: 1px solid @gray-lighter;
}

blockquote.topdown-border {
  font-style: normal;
  border-left: none;
  border-top: 2px solid @gray-lighter;
  border-bottom: 2px solid @gray-lighter;
  font-size: 1.2em;
  margin: 0;
  padding: 10px;
}

blockquote.large {
  font-size: 1.3em;
}

blockquote.argument:before {
  font-family: 'gandhi_serifregular', serif;
  position: absolute;
  font-size: 2em;
  font-style: italic;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
  color: @gray-light;
  @media(max-width:@screen-sm-min) {
    left:-30px;
  }
}

blockquote.argument:after {
  font-family: 'gandhi_serifregular', serif;
  position: absolute;
  float:right;
  font-size:2em;
  font-style: italic;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  color: @gray-light;
  content: "\201D";
}

blockquote footer {
  padding: 0.5em 4em 0.5em 0;
  text-align: right;
  font-size: .9em;
}

blockquote.hidden, h3.hidden {
  display: none;
}

blockquote.actor-cited {
  padding: 0;
  > a {
    font-style: normal!important;
    font-size: 1.45em!important;
    @media(max-width:@screen-sm-min) {
      font-size: 1.15em!important;
    }
  }
}

/*
 * ARGUMENT RADIO VISUALIZATION
 */

.statistics-pane {
  border-left: 2px solid @hr-border;
  font-size: 105%;
  color: @text-muted;
  span {
    font-weight: bold;
  }
}

span.stat-circle:before {
  content: "\f111";
  font-family: 'FontAwesome';
  margin-right: 2px;
  font-style: normal;
}

span.opposes {
  color: @webdeb-red;
}
span.qualifies {
  color: @webdeb-orange;
}
span.similar {
  color: @webdeb-green;
}

button.primary-a, button.primary-a:focus, button.opposes:active {
  color: @brand-primary;
  border-radius: 5px !important;
  text-decoration: none;
  padding : 2px 7px 2px 7px;
}
button.primary-a:hover {
  background-color: @brand-primary;
  color : white !important;
}
.btn.qualifies, .btn.qualifies:focus, .btn.qualifies:active {
  color: darken(@webdeb-orange, 10%);
  border-radius: 5px !important;
  text-decoration: none;
  padding : 2px 7px 2px 7px;
}
.btn.qualifies:hover {
  background-color: darken(@webdeb-orange, 10%);
  color : white;
}
.btn.opposes, .btn.opposes:focus, .btn.opposes:active {
  color: @webdeb-red;
  border-radius: 5px !important;
  text-decoration: none;
  padding : 2px 7px 2px 7px;
}
.btn.opposes:hover {
  background-color: @webdeb-red;
  color : white;
}
.btn.similar, .btn.similar:focus, .btn.similar:active {
  color: @webdeb-green;
  border-radius: 5px !important;
  text-decoration: none;
  padding : 5px 15px 5px 15px;
}
.btn.similar:hover {
  background-color: @webdeb-green;
  color : white;
}

.btn.btn-qualifies, .btn.btn-qualifies:focus, .btn.btn-btn-qualifies:active {
  color : white;
  background-color: @webdeb-orange;
  text-decoration: none;
  padding : 5px 15px 5px 15px;
}
.btn.qualifies:hover {
  background-color: darken(@webdeb-orange, 10%);
}
.btn.btn-opposes, .btn.btn-opposes:focus, .btn.btn-opposes:active {
  color : white;
  background-color: @webdeb-red;
  text-decoration: none;
  padding : 5px 15px 5px 15px;
}
.btn.btn-opposes:hover {
  background-color: darken(@webdeb-red, 10%);
}
.btn.btn-similar, .btn.btn-similar:focus, .btn.btn-similar:active {
  color : white;
  background-color: @webdeb-green;
  text-decoration: none;
  padding : 5px 15px 5px 15px;
}
.btn.btn-similar:hover {
  background-color: darken(@webdeb-green, 10%);
}

/*
 * ARGUMENT CARTO VISUALIZATION
 */

.arg-carto {
  margin: 0;

  a {
    text-decoration: none;
    color: @text-color;
  }
  a:hover {
    color: darken(@text-color, 15%);
    text-decoration: underline;
  }

  .arg-carto-box {
    border-bottom: 2px solid darken(@gray-lighter, 5%);
    padding: 10px;
    padding-bottom: 5px;
    a {
      font-family: 'gandhi_sansregular', sans-serif;
      font-size: 1.1em;
    }
    .box-title{
      font-size : 16px;
    }
  }
  .arg-carto-box.small {
    padding-top: 3px;
    padding-bottom: 3px;
    min-height : 0;
  }
  .arg-carto-green {
    border-left : 3px solid lighten(@webdeb-green, 20%);
  }
  .arg-carto-orange {
    border-left : 3px solid lighten(@webdeb-orange, 20%);
  }
  .arg-carto-red {
    border-left : 3px solid lighten(@webdeb-red, 20%);
  }
}

.well {
  background-color: #f0f0f0;
  border: none;
  box-shadow: none;
}


/*
 * AVATAR AND THUMBNAILS
 */
.avatar {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 0 auto;
  background-size: 100% 100%;
  border-radius:5px !important;
}

.avatar.empty:not(.small) {
  width: 200px;
  height: 200px;
  cursor: pointer;

  // all of the following is to center "add picture" button
  text-align: center;
  display: table;
  form {
    display: table-cell;
    vertical-align: middle;
    div {
      display: inline;
    }
  }
}

.avatar.small {
  vertical-align: middle;
  max-height: 120px;
  max-width: 120px;
}

.thumbnail-holder {
  background: no-repeat center;
  background-size: 100%;
  border-radius: 50% !important;
  border: @gray-lighter solid 2px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  vertical-align: middle;
  cursor : pointer;
}

.thumbnail-holder.large {
  @media (min-width: 586px) {
    width: 250px;
    height: 250px;
  }
  @media (max-width: 490px) {
    width: 120px;
    height: 120px;
  }
  @media (max-width: 420px) {
    width: 80px;
    height: 80px;
  }
}

.avatar.small.empty {
  width: 150px;
  height: 150px;
}

.plussign {
  background: url('/assets/images/picto/plussign.png') no-repeat;
  background-size: 100%;
  border: @gray-lighter solid 2px;
}

.actor-thumbnail {
  display: inline-block;
  position: relative;
  width: 150px;
  margin: 10px;
  vertical-align: top;
  .towrap {
    margin: 0 5px;
  }
  a {
    color: @gray-light !important;
    text-decoration-color: @gray-light !important;
    text-decoration: underline;
  }
  a:hover {
    color: darken(@gray-light, 15%) !important;
    text-decoration-color: darken(@gray-light, 15%) !important;
  }
}

.actor-thumbnail.large {
  width: 200px;
}

.actor-thumbnail.small {
  width: 35px;
  max-height: 35px!important;
  margin: 0;
  .thumbnail-holder { // must reset both min and max
    min-height: 35px;
    max-height: 35px;
    min-width: 35px;
    max-width: 35px;
  }
}

.actor-thumbnail.chart {
  width: 300px;
  @media (min-width: @screen-lg-min) {
    width: 450px;
  }
  @media (max-width: @screen-xs-max) {
    width: 35px;
  }
  margin: 0;

  .chart-holder{
    height : 40px;
    @media (max-width: @screen-xs-max) {
      display : none;
    }
  }

  h4, button {
    text-align: justify;
    left:0;
    width: 250px; // force size for text ellipsis to work
    @media (min-width: @screen-lg-min) {
      width: 400px;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }

  h4 {
    margin-bottom: 0;
  }

  div {
    display: inherit;
  }
  .thumbnail-holder { // must reset both min and max
    min-height: 35px;
    max-height: 35px;
    min-width: 35px;
    max-width: 35px;
    vertical-align: top;
  }
  .avatar {
    max-width: 35px !important;
    max-height: 35px !important;
    position: absolute;
  }

  .avatar + div {
    width: 285px;
    @media (min-width: @screen-lg-min) {
      width: 425px;
    }
    margin-left: 40px;
    overflow: hidden;
  }
}

.actor-thumbnail.chartxbig {
  width: 100%;
  .thumbnail-holder { // must reset both min and max
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
    @media (max-width: 420px) {
      min-height: 50px;
      max-height: 50px;
      min-width: 50px;
      max-width: 50px;
    }
  }

  .chart-holder{
    margin-left:  5px;
    white-space: nowrap;
  }

  h4, button {
    text-align: left;
    width: 100%;
    font-size : 24px;
  }
}

.actor-thumbnail.chartxsbig {
  width: 100%;
  margin : 0 !important;
  .thumbnail-holder { // must reset both min and max
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
    @media (max-width: 420px) {
      min-height: 40px;
      max-height: 40px;
      min-width: 40px;
      max-width: 40px;
    }
  }

  .chart-holder{
    margin-left:  5px;
  }

  h4, button {
    text-align: left;
    width: 100%;
    font-size : 20px;
  }
}

.actor-thumbnail.chartbig {
  width: initial;

  h4, button {
    width: initial;
  }
  .avatar + div {
    width: initial;
  }
}

.actor-thumbnail.chart2 {
  width: 100%;
  text-align: left;

  h4, button {
    width: 100%;
  }

  div {
    display: inline-block;
  }
}

.actor-thumbnail.medium {
  width: 60px;
  max-height: 60px!important;
  margin: 0;

  .thumbnail-holder { // must reset both min and max
    min-height: 60px;
    max-height: 60px;
    min-width: 60px;
    max-width: 60px;
    @media (max-width: 420px) {
      min-height: 40px;
      max-height: 40px;
      min-width: 40px;
      max-width: 40px;
    }

  }
}

.actor-thumbnail.lmedium {
  width: 80px;
  max-height: 80px!important;
  margin: 0;

  .thumbnail-holder { // must reset both min and max
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
    @media (max-width: 420px) {
      min-height: 50px;
      max-height: 50px;
      min-width: 50px;
      max-width: 50px;
    }

  }
}

.actor-thumbnail.medium.topleft{
  float: right;
  display: block;
  margin-bottom: 15px;
  padding-bottom: -30px;
  margin-left: 150px;
}

.actor-thumbnail.medium.topright{
  float: left;
  display: block;
  margin-bottom: 15px;
  padding-bottom: -30px;
  margin-right: 150px;
}

.actor-thumbnail.medium.middleleft{
  float: right;
  display: block;
  margin-bottom: 15px;
  padding-bottom: -30px;
  margin-left: 110px;
  margin-right: 30px;
  vertical-align: middle;
}

.actor-thumbnail.medium.middleright{
  float: left;
  display: block;
  margin-bottom: 15px;
  padding-bottom: -30px;
  margin-right: 110px;
  margin-left: 30px;
  vertical-align: middle;
}

.actor-thumbnail.medium.bottomleft{
  float: right;
  display: block;
  margin-left: 150px;
  vertical-align: bottom;
}

.actor-thumbnail.medium.bottomright{
  float: left;
  display: block;
  margin-right: 150px;
  vertical-align: bottom;
}

.summary td {
  vertical-align: top;
  .browse-thumbnail {
    width: 35px;
    text-align: center;
    font-size: 1.2em;
    color: @brand-primary;
  }
}



/*
 * OTHER ACTOR CUSTOMIZATION
 */

.actor-radio-excerpt > div {
  margin-top: 10px;
}

/*
 * SETTINGS PAGE CUSTOMIZATION
 */

.group-member-detail {
  padding: 5px 10px;
}

.group-detail {
  h3 {
    margin-top: 5px;
  }
  .fa {
    vertical-align: middle;
    font-size: 1.2em;
  }
}
.group-detail {
  border-bottom: 1px @gray-lighter solid;
}

.group-member-detail, .group-detail {
  .btn-link:not(.dropdown-toggle) {
    padding: 0 0 0 10px;
    margin-top: -2px;
  }
}

.group-dropdown {

  .btn-link, a {
    padding: 0;
    margin: 0 0 5px 0;
    display: inline-block;
  }
  a:hover {
    text-decoration: underline!important;
    background-color: @body-bg!important;
  }
}

.left-border {
  border-left: 2px @gray-lighter solid;
}

.markdiv {
  padding-top : 10px;
  .markdiv-container {
    padding-left: 50px;
  }

  .markbox {
    width: 60px !important;
  }
  .mark-validate-label {
    padding-left: 20px;
  }
  .mark-validate {
    padding-left: 20px;
    display: inline-block;
  }
}

/*
 * HIGHCHARTS CUSTOMIZATION
 */
.highcharts-container {
  width: 100% !important;
  overflow: visible !important;
}

.highcharts-container svg {
  font-family: 'gandhi_sansregular', sans-serif !important;
  overflow: visible !important;
}


/*
 * Drag and drop nestedSortable
 */

.justification-tree ol{
  @media(max-width:@screen-xs-max) {
    padding-left : 5px;
  }
}

.menuDiv:not(.readonly) {
  background-color: lighten(@gray-lighter, 5%);
  border: solid 1px @gray-light;
}

.menuDiv.readonly {
  background-color: transparent;
  font-size: 1.2em;
}

.menuDiv .expand {
  margin: 3px;
  padding: 3px;
}

.menuDiv:not(.readonly):hover {
  background-color: lighten(@gray-lighter, 3%);
}

.link--1 .menuDiv {
  border-left: solid 1px @gray-light;
  border-bottom: solid 1px @gray-light;
}

.link-2 > .menuDiv {
  border-left: solid 4px @webdeb-green;
  border-bottom: solid 1px @webdeb-green;
}

.link-2.linktype-label {
  padding: 5px;
  border-left: @webdeb-green;
  border-radius: 5px !important;
  color: @webdeb-green;
  font-size: .8em;
  vertical-align: middle;
}

.link-7 .menuDiv {
  border-left: solid 4px @webdeb-orange;
  border-bottom: solid 1px @webdeb-orange;
}

.link-7.linktype-label {
  padding: 5px;
  border-left: @webdeb-orange;
  border-radius: 5px !important;
  color: @webdeb-orange;
  font-size: .8em;
  vertical-align: middle;
}

.link-3 > .menuDiv {
  border-left: solid 4px @webdeb-red;
  border-bottom: solid 1px @webdeb-red;
}

.link-3.linktype-label {
  padding: 5px;
  border-left: @webdeb-red;
  border-radius: 5px !important;
  color: @webdeb-red;
  font-size: .8em;
  vertical-align: middle;
}

.mjs-nestedSortable-error {
  background: #fbe3e4;
  border-color: transparent;
}

ol.sortable {
  min-height: 100px;
}

ol.sortable:first-child {
  padding-left: 0;
}

ol.sortable, ol.sortable ol {
  list-style-type: none;
  padding-left : 20px;
}

ol.sortable li div {
  margin: 3px;
  padding: 3px;
  padding-bottom: 1px;
  display: inline-block;
}

ol.sortable:not(.readonly) li div {
  cursor: move;
}

ol.sortable li.mjs-nestedSortable-collapsed > ol {
  display: none;
}

ol.sortable li.mjs-nestedSortable-branch > div > .expand {
  display: inline-block;
}



.menuDiv .expand,
.menuDiv .minimizer {
  cursor: pointer;
  display: none;
  color: @gray-base;
  font-size: 1.2em;
  vertical-align: middle;
}

.menuDiv .remove {
  float: right;
  cursor: pointer;
  color: darken(@gray-lighter, 30%);
  font-size: 1.5em;
  padding: 2px 5px 0 2px;
}

.menuDiv .expand:hover,
.menuDiv .minimizer:hover,
.menuDiv .remove:hover {
  color: @brand-primary;
}


.menuDiv .form-control {
  width: inherit;
  display: inherit;
  margin-right: 5px;
}

.menuDiv {
  width: 100%;
}

.placeholder {
  outline: 1px dashed @brand-primary;
}

.itemContent {
  font-family: 'gandhi_serifregular', serif;
  text-align: justify;
  vertical-align: middle;
}

.mid-bottom-margin{
  margin-bottom: 15px !important;
}

.mid_espacement {
  height: 40px;
}

.searchTextResult{
  background-color: yellow;
}

.searchTextResultPointed{
  background-color: darkgreen !important;
  color : white;
}

.label-warning{
  background-color: darkorange;
}

.colorPicker{
  cursor : pointer;
}

.colorPicker-background-dark{
  color : white;
}

.colorPicker-background-bright{
  color : #555555 !important;
}

.btn-picker{
  height : 30px;
  width : 30px;
  margin-top : 3px;
  margin-right : 3px;
}

.popover-picker{
  width : 198px !important;
  background-color: #797979;
}

.picker-mid-size{
  font-size : 13px !important;
}

.affiliation-title, .affiliated-title{
  font-size : 16px;
  font-weight: bold;
}
.limiter em{
  background-color: red;
}

.mid-side-margin{
  margin-left : 5px;
  margin-right : 1px;
}

.progress-limiter{
  height : 12px !important;
}

.progress-limiter-bar{
  font-size : 10px;
  position : relative;
  top : -4px;
}

.map {
  height: 400px;
  width: 100%;
}

.marker {
  width: 20px;
  height: 20px;
  border: 1px solid #088;
  border-radius: 10px;
  background-color: limegreen;
  opacity: 0.7;
}
.marker-place {
  text-decoration: none;
  color: #222222;
  font-size: 11pt;
  font-weight: bold;
  background-color: snow;
  padding : 2px;
  border : 1px black solid;
}

.link-no-style {
  color : inherit;
  text-decoration : inherit;
}
.link-no-style:hover {
  color : inherit;
  text-decoration : underline;
}
.link-no-style:focus {
  color : inherit;
  text-decoration : inherit;
}

#nlpboxes table{
  margin-top: 10px;
  margin-bottom : 10px;
  border-bottom: 1px solid darkgrey;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

.btn-filter{
  color : @brand-primary;
  padding : 2px;
  border : 1px solid @brand-primary;
  font-size : 14px;
  margin-bottom: 5px;
}
.btn-filter:hover{
  color : @brand-primary;
}
.btn-filter:focus{
  color : @brand-primary;
  text-decoration: none;
}

.place_link{
  cursor : pointer;
}

.place_underline{
  text-decoration: underline;
}

.div-warning{
  background-color: #ff9000;
  color : white;
  padding : 2px;
}

.filter-nodelist-label{
  display : inline-block !important;
  width : 240px;
  margin: 0;
}

.filter-nodelist-button{
  color : grey;
  position: relative;
  bottom : 5px;
  padding : 0 3px 0 3px;
}

.filter-nodelist-button:hover, .filter-nodelist-button:active, .filter-nodelist-button:focus{
  color : dimgrey;
}

.sub_filter--basic_item{
  height : 25px;
}

.sub_filter-item-count{
  position: absolute;
  bottom: 5px;
  left: 260px;
}

.main-text{
  padding : 10px;
  font-size : 20px;
}

.index-box{
  padding : 25px;
  text-align: center;
  font-size : 24px;
  font-family: Calibri, sans-serif;
}

.index-box-title{
  background-color: #f2f2f2;
  margin-top : 10px;
}

.index-box-subtitle{
  margin-top : 10px;
  color : white;
}

.index-box-title img{
  width : 60%;
  margin-top : 7px;
  margin-bottom : 2px;
}

.index-box-text-color1{
  color : @index-color1;
}

.index-box-background-color1{
  background-color : @index-color1;
}

.index-box-text-color2{
  color : @index-color2;
}

.index-box-background-color2{
  background-color : @index-color2;
}

.index-box-text-color3{
  color : @index-color3;
}

.index-box-background-color3{
  background-color : @index-color3;
}

.mid-side-padding{
  padding-left : 10px;
  padding-right : 10px;
}

.btn-index{
  color : #303030;
  background-color: lightgrey;
}

.padding-mid-left{
  padding-left : 10px;
}

.padding-large-left{
  padding-left : 20px;
}

.separator-mid{
  height : 15px;
}

.btn-help{
  color : @brand-primary;
  font-size : 14px;
}

.btn-help:hover{
  color : rgb(63, 124, 233);
  text-decoration : none;
}

.btn-help:focus{
  color : rgb(63, 124, 233);
}

.btn-justification-group{
  margin : 0;
  padding : 0;
}

.btn-justification {
  overflow: hidden;
  display: flex;
}

.btn-justification span {
  color : grey;
  width : 20px;
  padding-right : 2px;
  text-align : right;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.btn-justification-red{
  color : lighten(@webdeb-red, 10%);
}

.btn-justification-red-border{
  border-bottom-color : lighten(@webdeb-red, 15%) !important;
  border-top-color : lighten(@webdeb-red, 15%) !important;
}

.btn-justification-orange{
  color : lighten(@webdeb-orange, 10%);
}

.btn-justification-orange-border{
  border-bottom-color : lighten(@webdeb-orange, 15%) !important;
  border-top-color : lighten(@webdeb-orange, 15%) !important;
}

.btn-justification-green{
  color : lighten(@webdeb-green, 10%);
}

.btn-justification-green-border{
  border-bottom-color : lighten(@webdeb-green, 15%) !important;
  border-top-color :lighten( @webdeb-green, 15%) !important;
}

.justification-info-container{
  display : flex;
  flex-direction: column;
  position : relative;
  bottom : 1px;
}

.justification-info{
  padding : 5px
}

.justification-info-selected{
  border : 1px solid black;
}

.folder-container{
  min-height : 500px;
}

.color-primary{
  color : @brand-primary;
}

.color-primary:hover {
  color: darken(@brand-primary, 15%);
}

.color-primary-bold{
  color : darken(@brand-primary, 10%);
}

.color-primary-bold:hover{
  color : darken(@brand-primary, 20%);
}

.hr-xs-sensible{
  @media(max-width:@screen-xs-max) {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

.hr-xs-no-bottom{
  @media(max-width:@screen-xs-max) {
    margin-bottom: 1px;
  }
}

.hr-grey {
  border-top: 1px solid #ccc;
}

.hr-black {
  border-top: 1px solid black;
}

.hr-small {
  margin-top : 5px;
  margin-bottom : 5px;
}
.hr-small-top {
  margin-top : 5px;
  margin-bottom : 0;
}
.hr-xs-small {
  margin-top : 0;
  margin-bottom : 0;
}
.phone-screen-warning{
  font-size : 16px;
  padding : 10px;
  border : 1px solid black;
  text-align: left;
}

.folder-tree-box {
  position : absolute;
  min-width : 150px;
  background-color: white;
  border : 1px solid black;
  cursor : pointer;
  overflow: hidden;
  display : inline-block;
}

.folder-tree-main-box{
  background-color : #e2e2e2;
}

.folder-tree-box .ui-selecting {
  background-color: #FECA40;
}

.folder-tree-box .ui-selected {
  background-color: #F39814;
  color: white;
}

.folder-tree-box-title {
  text-align: center;
  font-size: 18px;
  padding : 5px;
}

.text-links ol{
  @media(max-width:@screen-xs-max) {
    padding-left : 2px;
  }
}

.languagebox{
  width : 50px;
  @media(max-width:@screen-xs-max) {
    width : 140px;
  }
}

.navform{
  width : 350px;
  @media(max-width:@screen-md-max) {
    width : 300px;
  }
  @media(max-width:@screen-sm-max) {
    width : 200px;
  }
}

#help-menu-links{
  margin-left : 15px;
}

#help-menu-links a{
  color : @brand-primary;
  font-size : 16px;
}

button.disabled,
button.disabled:hover,
button.disabled:active,
button.disabled:focus {
  color : lighten(#fff, 25%);
  background : lighten(#50ade5, 25%);
  border : 1px solid lighten(#3aa3e2, 25%);
  border-radius:3px;
  outline:none;
}

.chart-labels{
  position: relative;
  top: 50px;
}

.chart-labels-middle{
  @media(min-width:@screen-lg-min) {
    width : 480px;
  }
  width : 380px;
}

.chart-labels-middle div{
  margin-top : 5.5px !important;
}

.chart-labels-low div{
  margin-top : 0 !important;
}

.overflowy{
  overflow-y: auto;
}

.no-margin-bottom{
  margin-bottom : 0;
}

.no-margin-bottom label{
  margin-bottom : 0 !important;
}

#folder-tag-div label{
  display: none;
}

.btn-simple-link{
  padding : 0;
}

.btn-simple-link:not(:last-child){
  padding-right : 10px;
}

.btn-simple-link:hover, .btn-simple-link:active, .btn-simple-link:focus {
  text-decoration: none;
  color : darken(grey, 15%);
}

.fake-textarea{
  border : 1px solid silver;
  background-color: white;
  padding : 7px;
  padding-left : 12px;
  padding-right : 12px;
}

.media-share-btn{
  @media(min-width:@screen-md-min) {
    position: absolute;
    right: 30px;
  }
  @media(max-width:@screen-sm-max) {
    float : right;
  }
}

span.indecision{
  font-weight: bold;
}

.no-underline{
  text-decoration: none !important;
}

/*
  EXPANDABLE CONTAINER
 */

.expandable-cursor{
  width: 10px;
  background-color: #d9d9d9;
  /* cursor : ew-resize; */
}

.expandable-btn{
  color : #555;
  font-size: 15px;
  cursor: pointer;
}

.expandable-btn-left{
  margin-left : 1.5px;
}

.expandable-btn-right{
  margin-left : 3px;
}

.expandable-btn-middle{
  font-size: 12px;
}

.expandable-zone{
  min-width : 250px;
  padding : 10px;
  background-color: white;
}

.expandable-container{
  border : 2px solid #d1d1d1;
  min-height : 400px;
}

.col-separator{
  padding-right : 25px !important;
}

.data-autoresize{
  box-sizing: border-box;
  resize: none;
  min-height : 35px;
  max-height : 200px;
  overflow-y: hidden;
}

.header-inline{
  display: inline-block;
  margin-top: 10px;
}

.dataloader-filterbtn{
  float : left;
  margin-right : 10px;
  margin-top : 5px;
}

.place-at-first{
  z-index: 100;
}

.img-full{
  background-size: cover;
  height : 70px;
}

.form-nolabel{
  margin-top: 21px;
}

.textarea-vertical{
  resize : vertical;
}

.scrollable-zone{
  overflow-y: scroll;
  height:400px;
}

.scrollbar-modern {
  float: left;
  overflow-y: scroll;
}

.scrollbar-modern-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.scrollbar-modern-1::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-modern-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.afflist{
  border-bottom: 1px solid silver;
}

.election2{
  background-color : #413c3c;
  padding : 5px;
  color : white;
}

.election1{
  position : relative;
  top : -292px;
  max-width : 600px;
  margin: auto;
  padding : 25px;
}

.election1 div{
  background-color : #413c3c;
  color : white;
  font-size : 18px;
  padding : 5px;
  border : 2px solid black;
}

.election-link, .election-link:focus, .election-link:active{
  color : white;
  text-decoration: none;
}

.election-link img{
  width : 100%;
}

.election-link:hover{
  color : white;
  text-decoration: underline;
}

.btn-xs-sensible {
  @media(max-width:@screen-xs-max) {
    .btn-text{
      display: none;
    }

    .btn-logo{
      font-size : 18px;
    }
  }
}

.pull-left-xs{
  float : left;
  @media(max-width:@screen-xs-max) {
    float : right;
  }
}

// ELECTIONS

.election-chart-header{
  cursor : pointer;
}

.election-chart-header-cursor{
  font-size: 38px;
  color: white;
  padding-top: 27px;
  padding-right: 25px;
  padding-left : 5px;
  background-color: inherit;
  z-index: 10;

  @media(max-width:@screen-xs-max) {
    font-size: 20px;
    padding-top: 22px;
  }
}

.election-chart-header .chart-holder h4{
  margin-left: 15px;
}

.election-chart-header .chart-holder a{
  color : white !important;
  text-decoration: none !important;
}

.election-chart-header .chart-holder a:hover{
  color : white !important;
  text-decoration: underline !important;
}

.election-desc{
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: calibri;
  color: #686868;
}

#candidates-container .candidat-number{
  width: 40px;
  padding-top: 32px;
  padding-left: 10px;
  overflow: hidden;
  @media(max-width:@screen-xs-max) {
    padding-top: 20px;
  }
}

#candidates-container .aff-padding{
  padding-top: 25px;
  @media(max-width:@screen-xs-max) {
    padding-top: 15px;
  }
}

.electionTitle1{
  font-size: 24px;
}

.electionTitle2{
  font-size: 18px;
}

.stat-container{
  padding : 40px;
  font-size: 20px;
  color : white;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  @media(max-width:@screen-sm-max) {
    padding : 30px;
    padding-left : 15px;
    padding-right : 15px;
  }
}

.stat-container-i{
  font-size: 18px !important;
}

#webdeb-theme-presentation h1{
  text-align: center;
}


.image-selectable{
  cursor : pointer;
}

.footnote{
  line-height: 1;
  color: #0b0080;
  position : relative;
  top : -5px;
  font-size: 0.8em;
}

.tt-dropdown-menu{
  min-width : 500px;
  @media(max-width:@screen-sm-max) {
    min-width : 400px;
  }
}

.tt-picture{
  margin-right:10px;
  min-width:40px;
  max-width:40px;
  min-height:40px;
  max-height:40px;
  background: no-repeat;
  background-size: cover;
  font-size : 28px;
  text-align: center;
}

.tt-dropdown-menu {
  max-height: 400px !important;
  overflow-y: auto !important;
}

.search_input{
  height: 40px !important;
  min-width: 150px;
  width : 100%;
}

.contributionPop_content .contributionDescription{
  justify-content: center;
  overflow: hidden;
  min-height : 78px;
}

.contributions-container{
  visibility: hidden;
}

.pagination{padding-left:0;margin:20px 0;border-radius:4px}
.pager li,.pagination>li{display:inline}
.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;line-height:1.42857143;text-decoration:none;color:#50ade5;background-color:#fff;border:1px solid #ddd;margin-left:-1px}
.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}
.pagination>li:last-child>a,.pagination>li:last-child>span{border-bottom-right-radius:4px;border-top-right-radius:4px}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;color:#50ade5;background-color:#eee;border-color:#ddd}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;background-color:#50ade5;border-color:#50ade5;cursor:default}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;background-color:#fff;border-color:#ddd;cursor:not-allowed}
.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px;line-height:1.3333333}
.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}
.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-bottom-right-radius:6px;border-top-right-radius:6px}
.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px;line-height:1.5}
.badge,.label{text-align:center;font-weight:700;line-height:1;white-space:nowrap}
.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}
.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-bottom-right-radius:3px;border-top-right-radius:3px}
.pager{padding-left:0;margin:20px 0;list-style:none;text-align:center}
.pager li>a,.pager li>span{display:inline-block;padding:5px 14px;background-color:#fff;border:1px solid #ddd;border-radius:15px}
.pager li>a:focus,.pager li>a:hover{text-decoration:none;background-color:#eee}
.pager .next>a,.pager .next>span{float:right}
.pager .previous>a,.pager .previous>span{float:left}
.pager .disabled>a,.pager .disabled>a:focus,.pager .disabled>a:hover,.pager .disabled>span{color:#777;background-color:#fff;cursor:not-allowed}