@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Main index page of the webdeb platform for unlogged people with a special navbar.
*
* @param user the user profile data
* @param actors an example holder object containing a list of actors, arguments and topics
* @param map the message map
*
* @author Julien Mathieu
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.toolbar.{languagebox, toolbox}
@import be.webdeb.presentation.web.views.html.util.message

@(
        user : WebdebUser,
        occursMap : java.util.Map[Integer, Integer],
        map: java.util.Map[String, String]
)

  @scripts = {
    <title>@Messages("welcome.index.title") @Messages("welcome.slogan.1") @Messages("welcome.slogan.2")</title>
    <meta name="description" content="@Messages("welcome.slogan.3") @Messages("welcome.slogan.4")">

    <meta property="og:title" content="@Messages("welcome.slogan.3") @Messages("welcome.slogan.4")" />
    <meta property="og:description" content="@Messages("welcome.index.1.subtitle") @Messages("welcome.index.2.subtitle") @Messages("welcome.index.3.subtitle")" />
    <meta property="og:url" content="@be.webdeb.presentation.web.controllers.routes.Application.index().absoluteURL()" />
    <meta property="og:image" content="@routes.Assets.at("images/webdeb_sharable.png").absoluteURL()" />

    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900,700," rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/design/index_styles.css")">

    <script type="text/javascript">

            $(document).ready(function() {

              $('div.footer').hide();

              $(".count_content").countJs({
                duration : 1600
              });

              $(window).scrollJs({
                duration : 400,
                navbar : $(".fond")
              });
            });

            /*!
         * Count.js performs a count up for numbers
         * https://github.com/martini224
         *
         * Includes jquery.js
         * https://jquery.com/
         */
            (function(e) { e.fn.countJs = function (options) {

              let eOptions,
                      container = $(this),
                      lock = false;

              initOptions();
              initListeners();

              function initOptions(){
                // handle passed options to countJs
                if (options !== null && typeof(options) !== 'undefined') {
                  eOptions = {
                    // Duration of the count up
                    duration : isNaN(options.duration) ? 1500 : options.duration
                  };
                } else {
                  eOptions = {
                    duration : 1500
                  };
                }
              }

              function initListeners(){
                doCount();
                // Triggered when the user scrolls the page
                $(window).scroll(function(event){
                  doCount();
                });
              }

              function doCount(){
                // Check that the count up has not be done and that the count container is visible for the user
                if(!lock && $(window).scrollTop() + $(window).height() > (container.offset().top - container.height())){
                  lock = true;

                  $('.count-number').each(function() {
                    // that = this is used because this change with the context. Here we want to keep each item that
                    // have the class count-number
                    let that = $(this),
                            countTo = that.attr('data-count');

                    $({ countNum: that.text()}).animate({
                      countNum: countTo
                    },{
                      duration: 1500,
                      easing:'linear',
                      step: function() {
                        // here if we used this instead of that, that would refer to the animate function context
                        // rather than the element with the class count-number.
                        that.text(Math.floor(this.countNum));
                      },
                      complete: function() {
                        that.text(this.countNum);
                      }
                    });
                  });
                }
              }

            };}(jQuery));

            /*!
         * Scroll.js performs an automatic scroll to differents page elements
         * https://github.com/martini224
         *
         * Includes jquery.js
         * https://jquery.com/
         */
            (function(e) { e.fn.scrollJs = function (options) {

              let eOptions,
                      container = $(this),
                      scrollType,
                      scrollables,
                      iScrollable,
                      position,
                      lock;

              initScroll();
              initOptions();
              initListeners();

              function initScroll(){
                // The type of scroll varying with the screen type
                scrollType = getScrollType();
                // the array of elements that will be scrolled
                scrollables = $(scrollType);
                // the index of the previous array
                iScrollable = 0;
                // the current scroll position in the container, set to 0
                position = 0;
                // use to not consume the scroll event each time it s triggered
                lock = false;
                // ensure that the scroll is 0
                animateScroll(0, 0);
              }

              function initOptions(){
                // handle passed options to scrollJs
                if (options !== null && typeof(options) !== 'undefined') {
                  eOptions = {
                    // Duration of the scroll animation
                    duration : isNaN(options.duration) ? 400 : options.duration,
                    // it is used if a navbar is used but not scrolled
                    navbarHeight : options.navbar instanceof jQuery && options.navbar.exists() ? Math.round(options.navbar.height()) : 0
                  };
                } else {
                  eOptions = {
                    duration : 400,
                    navbarHeight : 0
                  };
                }
              }

              function initListeners(){
                container.scroll(function(event){
                  if(!lock){
                    lock = true;

                    let currentElement = $(scrollables[iScrollable]);
                    // if this condition is true, user scroll down. Otherwhise he scroll up.
                    let scrollDown = (container.scrollTop() > position);
                    let nextIndex = (scrollDown ?
                            getNextScrollableIndex(scrollables, iScrollable) : getPrevScrollableIndex(scrollables, iScrollable));
                    if(nextIndex > -1){
                      iScrollable = nextIndex;
                      let nextElement = $(scrollables[iScrollable]);

                      let currentPosition = Math.round(currentElement.offset().top);
                      let nextPosition = Math.round(nextElement.offset().top);

                      let scrollTop = nextPosition - eOptions.navbarHeight;

                      let windowHeight = Math.round($( window ).height());
                      let currentHeight = Math.round(currentElement.height() + eOptions.navbarHeight);

                      // Compute the prospective part of the current element that could be not displayed
                      let residual = Math.abs(windowHeight - (currentHeight - (position - (currentPosition - eOptions.navbarHeight))));

                      // If the user scroll down and there is a residue, the scrollTop value must be changed
                      if(scrollDown && residual > 0){
                        scrollTop = position + (residual < windowHeight ? residual : windowHeight);
                        iScrollable--;
                      }

                      animateScroll(scrollTop, eOptions.duration);
                    }
                    // Set a lock for a couple of ms to ensure that the scroll animation is finished
                    setTimeout(function(){position = Math.round(container.scrollTop());lock = false;}, eOptions.duration + 100);
                  }
                });

                /**
                 * When the screen is resize, ensure that the scrollType is the same. Otherwise, reset the scroll to the top
                 */
                container.resize(function(){
                  if(getScrollType() !== scrollType) {
                    initScroll();
                  }
                });
              }

              /**
               * Do the scroll animation
               *
               * param top the top position where the animation must gone
               * param duration the duration of the animation
               */
              function animateScroll(top, duration){
                $('body,html').animate({scrollTop: top}, duration);
              }

              /**
               * Get the type of scroll depending of the screen type (refer to bootstrap screen values)
               *
               * returns {string}
               */
              function getScrollType(){
                if(container.width() >= 1200){
                  return ".scroll-sm";
                }else if(container.width() >= 992){
                  return ".scroll-sm";
                }else if(container.width() >= 768){
                  return ".scroll-sm";
                }else{
                  return ".scroll-xs";
                }
              }

              /**
               * Get next scrollable element if any
               *
               * param scrollables the array of scrollables elements
               * param iScrollable the current index of the array that point the current element
               * returns {*}
               */
              function getNextScrollableIndex(scrollables, iScrollable){
                if(iScrollable + 1 < scrollables.length){
                  return iScrollable + 1;
                }
                return -1;
              }

              /**
               * Get previous scrollable element if any
               *
               * param scrollables the array of scrollables elements
               * param iScrollable the current index of the array that point the current element
               * returns {*}
               */
              function getPrevScrollableIndex(scrollables, iScrollable){
                if(iScrollable - 1 >= 0){
                  return iScrollable - 1;
                }
                return -1;
              }

            };}(jQuery));

    </script>
  }

  @count(c : Integer) = {
  @if(c > 100) {
    @(c - 100)
  }else{
    0
  }
  }

  @main2(user, scripts) {

    @message(flash)
    @message(map)

    <div class="wrapper">

      <div class="index-page">
        <div class="index-header">
          <section class="header_content">
            <div class="slogan">
              <img class="slogan_img" src="@routes.Assets.at("images/webdeb.png")" alt="WebDeb">
              <h2 class="slogan_txt"><span class="color2">@Messages("welcome.slogan.1") </span><span class="color1">@Messages("welcome.slogan.2")</span></h2>
            </div>
            <div class="txt">
              <h4 class="color2">@Messages("welcome.slogan.3")
              </h4>
              <h4 class="color1">@Messages("welcome.slogan.4")
              </h4>
            </div>
            <img class="animated infinite slow slideOutDown" src="@routes.Assets.at("images/picto/scroll.svg")" alt="">
          </section>
        </div>    <section class="count">
        <div class="count_content">
          <div>
            <i class="far fa-comments"></i>
            <p class="timer count-title count-number" data-count="@occursMap.get(1)" data-speed="100">@count(occursMap.get(1))</p>
            <p>@Messages("general.filter.ctype.1")s</p>
          </div>
          <div>
            <i class="far fa-comment"></i>
            <p class="timer count-title count-number" data-count="@occursMap.get(3)" data-speed="100">@count(occursMap.get(1))</p>
            <p>@Messages("general.filter.ctype.3")s</p>
          </div>
          <div>
            <i class="fas fa-align-left"></i>
            <p class="timer count-title count-number" data-count="@occursMap.get(4)" data-speed="100">@count(occursMap.get(1))</p>
            <p>@Messages("general.filter.ctype.4")s</p>
          </div>
          <div>
            <i class="fas fa-street-view"></i>
            <p class="timer count-title count-number" data-count="@occursMap.get(0)" data-speed="100">@count(occursMap.get(1))</p>
            <p>@Messages("general.filter.ctype.0")s</p>
          </div>
        </div>
      </section>
        <article class="">
          <section class="explore">
            <div class="explore_content">
              <div>
                <h2>@Messages("welcome.index.1.title")</h2>
                <img class="webdeb" src="@routes.Assets.at("images/webdeb.png")" alt="WebDeb">
                <p>
                @Html(Messages("welcome.index.1.subtitle"))
                </p>
                <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.index()">
                  <div class="btn">@Messages("general.thisway")</div>
                </a>
              </div>
              <img class="explore_img" src="@routes.Assets.at("images/home/explorer.svg")" alt="">
            </div>
          </section>
          <section class="contribute">
            <div class="contribute_content">
              <div>
                <h2>@Messages("welcome.index.2.title")</h2>
                <img class="webdeb" src="@routes.Assets.at("images/webdeb.png")" alt="WebDeb">
                <p>
                @Html(Messages("welcome.index.2.subtitle"))
                </p>
                <a href="@be.webdeb.presentation.web.controllers.entry.routes.EntryActions.contribute">
                  <div class="btn">@Messages("general.overthere")</div>
                </a>
              </div>
              <img class="contribute_img" src="@routes.Assets.at("images/home/contribuer.svg")" alt="">
            </div>
          </section>
          <section class="learn">
            <div class="learn_content">
              <div>
                <h2>@Messages("welcome.index.3.title")</h2>
                <img class="webdeb" src="@routes.Assets.at("images/webdeb.png")" alt="WebDeb">
                <p>
                @Html(Messages("welcome.index.3.subtitle"))
                </p>
              </div>
              <img class="learn_img animated slideInLeft" src="@routes.Assets.at("images/home/enseigner.svg")" alt="">
            </div>
          </section>
        </article>
        <main class="main">
          <main class="main_content">
            <img class="collective" src="@routes.Assets.at("images/home/collective.svg")" alt="">
            <div>
              <h2>@Messages("welcome.index.whatis.1")</h2>
              <img class="webdeb" src="@routes.Assets.at("images/webdeb.png")" alt="WebDeb">
              <h3>
              @Messages("welcome.index.whatis.2")
              </h3>
              <p>
              @Messages("welcome.index.whatis.3")
              </p>
            </div>
            <div>
              <H3>
              @Messages("welcome.index.whatis.4")

              </H3>
              <p>
              @Messages("welcome.index.whatis.5")
              </p>
            </div>
            <div>
              <h3>
              @Messages("welcome.index.whatis.6")
              </h3>
              <p>
              @Messages("welcome.index.whatis.7")
              </p>
            </div>
            <div>
              <h3>
              @Messages("welcome.index.whatis.8")
              </h3>
              <p>
              @Html(Messages("welcome.index.whatis.9"))
              </p>
            </div>
            <div>
              <h3>
              @Messages("welcome.index.whatis.10")
              </h3>
              <p>
              @Messages("welcome.index.whatis.11")
              </p>
            </div>
            <div>
              <h3>
              @Messages("welcome.index.whatis.12")
              </h3>
              <p>
              @Messages("welcome.index.whatis.13")
              </p>
            </div>
            <div>
              <h3>
              @Messages("welcome.index.whatis.14")
              </h3>
              <p>
              @Messages("welcome.index.whatis.15")
              </p>
            </div>
          </main>
        </main>
        <section class="show-index">
          <div class="show-index_content">
            <h2>@Messages("welcome.index.whatshows.1")</h2>
            <div>
              <img class="webdeb" src="@routes.Assets.at("images/webdeb.png")" alt="WebDeb">
            </div>

            <div class="row">
              <div class="col-12 col-sm-auto first_list">
                <ul>
                  <li><a href="https://webdeb.be/viz/actor?id=5510&pane=0">@Messages("welcome.index.whatshows.2")</a></li>
                  <li><a href="https://webdeb.be/viz/actor?id=2181&pane=6">@Messages("welcome.index.whatshows.3")</a></li>
                  <li><a href="https://webdeb.be/viz/actor?id=11780&pane=0">@Messages("welcome.index.whatshows.4")</a></li>
                  <li><a href="https://webdeb.be/viz/actor?id=3727&pane=3&pov=0">@Messages("welcome.index.whatshows.5")</a></li>
                </ul>
              </div>
              <div class="col-12 col-sm-auto second_list">
                <ul>
                  <li><a href="https://webdeb.be/viz/debate?id=173308&pane=0&pov=0">@Messages("welcome.index.whatshows.6")</a></li>
                  <li><a href="https://webdeb.be/viz/argument/context?id=172533&pane=1&pov=0">@Messages("welcome.index.whatshows.7")
                  </a></li>
                  <li><a href="https://webdeb.be/viz/text?id=167006&pane=0&pov=4">@Messages("welcome.index.whatshows.8")</a></li>
                  <li><a href="https://webdeb.be/viz/debate?id=173308&pane=2&pov=4">@Messages("welcome.index.whatshows.9")</a></li>
                </ul>
              </div>
            </div>
          </div>

        </section>
        <section class="join">
          <div class="join_content">
            <div class="content first">
              <h2>
              @Messages("welcome.index.join.1")
              </h2>
              <p>
              @Messages("welcome.index.join.2")
              </p>
              <div class="text-center">
                <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.index"><div class="btn">consulter webdeb</div></a>
              </div>
            </div>
            <div class="content second">
              <h2>
              @Messages("welcome.index.join.3")
              </h2>
              <p>
              @Messages("welcome.index.join.4")
              </p>
              <div class="text-center">
                <a href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.signup"><div class="btn">rejoignez-nous</div></a>
              </div>
            </div>
          </div>
        </section>
      </div>


  }