@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Partner page, show and link to all partners
*
* @param user the user profile data
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.util.breadcrumb


@(
    user: WebdebUser
)

@main(user) {

  <div class="row">
    <div class="col-xs-12">
      <h3 class="small-caps text-muted">@Messages("partner.title")</h3>
      <hr>
    </div>

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
      <div class="jumbotron my-jumbo">
        <p>
        @Html(Messages("partner.desc"))
        </p>
      </div>

      <div class="row featurette center-flex">
        <div class="col-xs-12">
          <a href="http://www.ledevoir.com/" target="_blank">
            <img class="img-responsive center-block" alt="LeDevoir" src="@routes.Assets.at("images/partners/LeDevoir.png")" style="max-width:450px">
          </a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette center-flex">
        <div class="col-xs-12">
          <a href="http://www.levif.be/" target="_blank">
            <img class="img-responsive center-block" alt="levif" src="@routes.Assets.at("images/partners/levif.png")" style="max-width:450px">
          </a>
        </div>
      </div>
    </div>
  </div>
}
