@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Auto-creation or edition modal page to ask user to fill in more details about new auto-created argument
*
* @param argumentForm the form to fill in the new argument
* @param helper helper class to fetch predefined values from (types, ...)
* @param user the user profile
* @param map the message map (may be null)
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.{emptyModalframe, message, argumentdiv}
@import be.webdeb.core.api.argument.EArgumentType

@(
        argumentForm: Form[ArgumentForm],
        helper : ContributionHelper,
        user : WebdebUser,
        map : java.util.Map[String,String]
)

<div id="msg-div">
  @message(map)
</div>

@emptyModalframe("modal-argument", true, "form", "", false) {

  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">
      @Messages("entry.actor.new.unknown")&nbsp;
      <span class="text-primary">@argumentForm("title").value</span>
    </h3>
    <h4>@Messages("entry.folder.auto")</h4>
  </div>

  <div class="modal-body row">
    <div class="col-xs-12 actordiv">
      <div class="well">
        <form id="folder-form" method="post" enctype="multipart/form-data">
        @argumentdiv(argumentForm, "argument", helper, EArgumentType.NOT_FIRST_ARGUMENT)
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="form-actions pull-left">
      <button type ="button" name="cancel" class="btn btn-default">
        <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.cancel")
      </button>
      <button type ="button" name="submit" class="btn btn-primary">
        @Messages("entry.folder.modify")
      </button>
    </div>
  </div>

}
