@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Edition modal page to update details about an argument dictionary
*
* @param argumentForm the form to fill the argument dictionary
* @param helper helper class to fetch predefined values from (types, ...)
* @param user the user profile
* @param map the message map (may be null)
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.{emptyModalframe, message, bootstrapInput, hiddenFormField, inlineform}
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentDictionaryForm
@import helper._

@(
        argumentForm: Form[ArgumentDictionaryForm],
        helper : ContributionHelper,
        user : WebdebUser,
        map : java.util.Map[String,String]
)

<script type="text/javascript">
    $(document).ready(function() {
        let modal = $("#modal-argument-dictionary");

        modal.find('button[name="submit"]').on("click", function(){
            let form = modal.find("#argument-dictionary-form");
            doSaveArgumentDictionary(form.find("#id").val(), form);
        });

        modal.find(".data-autoresize").autoResize();
    });

    /**
     * Save an argument dictionary from a form
     *
     * param argId the argument dictionary id to save
     * param form the form with all details about the argument dictionary
     */
    function doSaveArgumentDictionary(argId, form){
        let modal = $("#modal-argument-dictionary");

        saveArgumentDictionary(argId, form).done(function () {
            hideAndDestroyModal(modal);
            slideMessage($('#success-save'));
            DataLoader.triggerDataLoaded();
        }).fail(function (xhr) {
            hideAndDestroyModal(modal);
            slideMessage($('#error-save'));
        });
    }
</script>

<div id="msg-div">
    @message(map)
</div>

@emptyModalframe("modal-argument-dictionary", false, "form", "", false) {

    <div class="modal-header">
        <h3 class="modal-title small-caps text-muted">
            @Messages("entry.dictionary.header")&nbsp;
        </h3>
        <p><span class="text-primary">@argumentForm("title").value</span></p>
    </div>

    <div class="modal-body row">
        <div class="col-xs-12 actordiv">
                <form id="argument-dictionary-form" method="post" enctype="multipart/form-data">
                    <div class="well">
                        <fieldset>
                            @hiddenFormField(argumentForm("id"))
                            <div class="col-xs-12 col-sm-6 col-md-8 padding-field">
                                <div class="input-group col-xs-12">
                                    @textarea(
                                        argumentForm("title"),
                                        'placeholder -> "",
                                        '_label -> Messages("entry.dictionary.title.label"),
                                        'class -> "form-control data-autoresize",
                                        'rows -> "1"
                                    )
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 padding-field">
                                @select(
                                    argumentForm("lang"),
                                    options(helper.getLanguages(ctx.lang.code)),
                                    '_default -> Messages("actor.place.namelang"),
                                    '_label -> Messages("text.title.lang.label"),
                                    'class -> "form-control",
                                    'autocomplete -> "off"
                                )
                            </div>
                        </fieldset>
                    </div>
                </form>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-actions pull-left">
            <button type ="button" name="cancel" class="btn btn-default" data-dismiss="modal">
                <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.cancel")
            </button>
            <button type ="button" name="submit" class="btn btn-primary">
            @Messages("entry.dictionary.modify")
            </button>
        </div>
    </div>

}
