@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Web page to work with a given text
*
* @param text the text details (may not be null, but empty)
* @param newExcerpt a form to add a new excerpt
* @param newActor a form to bind an actor to this text (as cited actor)
* @param user the user profile data
* @param map the message map
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.contributor.EPermission
@import be.webdeb.presentation.web.controllers.entry.actor.ActorSimpleForm
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptSimpleForm
@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.{EVizPane}
@import be.webdeb.presentation.web.views.html.util.helpButton
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.util.waitforit
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, breadcrumb, handleNameMatches, helpbubble, hiddenField, hiddenFormField, inlineform, message, noerrorForm, publishInGroup, searcharea}
@import helper._

@import be.webdeb.presentation.web.views.html.util.displayTextContent

@import be.webdeb.core.api.argument.EArgumentLinkShade
@(
    text: TextHolder,
    newExcerpt: Form[ExcerptSimpleForm],
    newActor: Form[ActorSimpleForm],
    user : WebdebUser,
    map : java.util.Map[String, String]
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@scripts = {
  <title>
    @if(text.getTitle != null) {
      @text.getTitle
    }else{
      @Messages("text.args.label.search")
    } @Messages("general.metatitle")
  </title>
  <meta name="description" content="@Messages("text.args.btn.tooltip")">

  <script src="@routes.Assets.at("javascripts/actor-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/argument-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/excerpt-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/text-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/justificationtree.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/folder-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jQuery.highlighter.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/textAnnotator.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jquery.mjs.nestedSortable.min.js")" type="text/javascript"></script>

  <script type="text/javascript">
    var annotatedText = null;
    $(document).ready(function() {
      // Init expandable zone with text and justification tree
      initExpandableZone();

      $("#tab-list").on('click', function(){
        setTimeout(centerAllContents, 5);
        setTimeout(doLoadAnnotatedText, 5);
      });

      $(document).on("reload-annotated-text", function(){
        setTimeout(doLoadAnnotatedText, 5);
      });

      var searchArea = $('#search');
      var searchTextArea = $('#searchtext');
      var searchSearchButton = $('#show-search');

      // hide search area
      showMe(searchArea, true, false);
      showMe(searchTextArea, false, false);
      showMe(searchSearchButton, false, false);

      // if we have some content
      if (@text.getId !== -1) {
        var dd = new JustificationTree($('#justification-links'), $('#links'), $(".waiting"), @text.getId, @text.getFirstArgumentId, @EArgumentLinkShade.SUPPORTS.id, true, -1);
        dd.init();

        $('#nb-argument-level').on('click', 'button', function(){
          var that = $(this);
          dd.changeLevelThresholdAndRebuild(that.val());
          // add "btn-success" class
          that.siblings('.btn-success').removeClass('btn-success');
          that.addClass('btn-success');
        });

        searchSearchButton.on('click', function () {
            showMe(searchArea, !searchArea.is(':visible'), true);
            showMe(searchTextArea, !searchTextArea.is(':visible'), true);
            changeShowSearchTitle(searchTextArea.is(':visible'));
        });
      }

      // request annotated text if we are editing a text and this text is not an external one (pdf)
      var below = $('#below-pane');
      setTimeout(doLoadAnnotatedText, 5);

      // search handling

      var nlpHelp = $('#nlpboxes');
      $('#searchbtn').on('click', function() {
        handleSearch(nlpHelp, below, workwith);
      });

      $('#query').keypress(function(e) {
        if (e.which === 13) {
          handleSearch(nlpHelp, below, workwith);
        }
      });

      handleSearchText($("#main-content"));

      // redirect to text if a search result is selected and button is clicked
      var workwith = $('#reload-btn');
      workwith.prop('disabled', true);
      workwith.on('click', function () {
        redirectToTextExcerpts($('.selected').prop('id').split("_")[1]);
      });

      // add typeahead to Title
      textTypeahead('#query');

      // add typeahead to add actor pane
      var actordiv = $('#addactor-div');
      addActorsTypeahead(actordiv, 'fullname', '-1');
      addActorsTypeahead(actordiv, 'affname', '-1');

      $('#addactor-btn').on("click", function() {
        showMe('#addactor-div', !$('#addactor-div').is(":visible"), true)
      });

      // manage add argument button
      $('#addarg-btn').on('click', function () {
        showMe('#addarg-div', !$('#addarg-div').is(':visible'), true);
      });
      // manage tooltip (help) bubbles
      handleHelpBubble($('#workwithdiv'));
      handleHelpBubble($('#argument'));

      // auto-creation modal if any
      getAutoCreatedModals();
    });

    function doLoadAnnotatedText(){
      annotatedText = loadAnnotatedText(annotatedText, true, $("#main-content"),
              $("#"+$("#tab-list").find(".active").children().first().attr("aria-controls")));
    }

    /**
     * Make a copy of JustificanTree data for cancel the user modifications or paste the copied data into the justification tree
     *
     * param dd the current justification tree
     * param copydd the copy of the justification tree (may be null)
     */
    function copyJustificationTree(dd, copydd){
        copydd = copydd || null;
        var cpy = (copydd == null ? {} : dd);
        copydd = (copydd == null ? dd : copydd);
        cpy.level = copydd.level.slice();
        cpy.modified = copydd.modified;
        cpy.nestedLinks = new Map(copydd.nestedLinks);
        cpy.unused = copydd.unused.slice();
        cpy.used = copydd.used.slice();
        cpy.arguments = new Map(copydd.arguments);
        cpy.links = new Map(copydd.links);
        return cpy;
    }

    /**
     * Manage search panel for texts
     *
     * param nlpHelp element with the color legend for nlp-related annotation to be hidden
     * param below below pane to be hidden (tabbed-pane with, ao, text details and arguments)
     * param workwith pane that will contain the content of the text
     */
    function handleSearch(nlpHelp, below, workwith) {
      nlpHelp.hide();
      below.hide();
      workwith.show();
      executeSearch('#search', '#textarea', '#pager', 5, '#reload-btn', false, true).then(function (pager) {
        pager.reset();
      });
      $('#textarea').removeClass('textcontent');
    }

    /**
     * Change the text of the show-search button depending of the search form displayed
     *
     * param textSearchVisible a boolean value, true if textSearch is visible
     */
    function changeShowSearchTitle(textSearchVisible){
      var searchTitle = $("#show-search-title");
      var text = "";
      if(textSearchVisible)text = "text";
      searchTitle.html(Messages("text.args.label.search"+text));
    }

  </script>
}

@authorInTable(list : java.util.List[ActorSimpleForm], removable : Boolean) = {
  @for(a <- list) {
    <tr>
      <td>
        <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(a.getId, EVizPane.CARTO.id(), 0)" class="btn btn-link secondary no-padding">
          @a.getFullname
        </a>
        @if(a.getFullFunction != "") { <span class="text-muted italic">(@a.getFullFunction)</span> }
        @if(removable) {
          <a href="@be.webdeb.presentation.web.controllers.entry.text.routes.TextActions.removeActor(text.getId, a.getId)"
            class="btn btn-link btn-sm primary">
            @Messages("text.args.actorname.remove")
          </a>
        }
      </td>
    </tr>
  }
}

@main(user, scripts) {

  @if(!newActor.hasErrors && newActor.value.nonEmpty) {
    @if(newActor.get.getNameMatches.size > 0 && !newActor.get.getIsDisambiguated) {
      @handleNameMatches(newActor.get.getNameMatches, true, -1)
      <script type="text/javascript">
        $(document).ready(function () {
          handleContributionNameMatches($('#addnew_names').find('[id$="fullname"]'), '[id="id"]', '[id="isDisambiguated"]', $('#addnew-submit'), "Actor");
        });
      </script>
    } else {
      @if(newActor.get.getAffNameMatches.size > 0 && !newActor.get.getIsAffDisambiguated) {
        @handleNameMatches(newActor.get.getAffNameMatches, false, -1)
        <script type="text/javascript">
          $(document).ready(function () {
            handleContributionNameMatches($('#addnew_names').find('[id$="affname"]'), '[id="affid"]', '[id="isAffDisambiguated"]', $('#addnew-submit'), "Actor");
          });
        </script>
      }
    }
  }

  <div id="msg-div">
    @message(flash)
    @message(map)

    @* messages for links *@
    <div id="missing-type" class="alert alert-fixed alert-danger" style="display: none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>@Messages("danger")</strong> @Messages("text.links.missing.type")
    </div>
    <div id="warning-link-exists" class="alert alert-fixed alert-warning" style="display: none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>@Messages("warning")</strong> @Messages("argument.links.alreadyexist")
    </div>
    <div id="error-save" class="alert alert-fixed alert-danger" style="display: none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>@Messages("danger")</strong> @Messages("text.links.save.error")
    </div>
    <div id="success-save" class="alert alert-fixed alert-success" style="display: none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>@Messages("success")</strong> @Messages("text.links.save.success")
    </div>
    <div id="nothing-save" class="alert alert-fixed alert-warning" style="display: none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>@Messages("warning")</strong> @Messages("text.links.nothing")
    </div>
    <div id="success-save" class="alert alert-fixed alert-success" style="display: none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>@Messages("success")</strong> @Messages("text.links.save.success")
    </div>
    <div id="success-delete" class="alert alert-fixed alert-success" style="display: none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>@Messages("success")</strong> @Messages("general.delete.success")
    </div>
    <div id="error-delete" class="alert alert-fixed alert-danger" style="display: none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>@Messages("danger")</strong> @Messages("general.delete.error")
    </div>
  </div>

  <div id="workwithdiv" class="row">
    <div class="col-xs-12">
      @if(text.getTitle != null) {
        <h2><a title="@Messages("viz.text.args.tooltip")" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(text.getId, EVizPane.CITATION.id, 4)" class="link-no-style">
          @text.getTitle
        </a></h2>
      }
      <hr>
    </div>

    <!--  search area -->
    <div class="col-sm-8 col-sm-offset-2 col-xs-12" style="margin-top:-10px">
      <div class="col-xs-12">
        <button id="show-search" class="btn btn-link btn-xs secondary pull-right" style="display : none;">
          <span id="show-search-title">@Messages("text.args.label.search")</span>&nbsp;<spam class="fa fa-chevron-down"></spam>
        </button>
      </div>
      @searcharea("searchtext", "none", Messages("text.args.label.searchtext"), Messages("text.args.place.searchtext"), Messages("browse.search.tooltip"))
      <form id="search" style="display : none;">
        @hiddenField("isText", "isText", "true")
        <div class="input-group">
          <span class="input-group-addon dark">@Messages("text.args.label.search")</span>
          <input type="text" class="form-control" id="query" name="query" placeholder="@Messages("text.args.place.search")">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="searchbtn" title="@Messages("browse.search.tooltip")" data-placement="bottom">
              <span class="fa fa-search"></span>
            </button>
          </span>
        </div>
        @*<p class="instructions">
          @Html(Messages("text.args.label.random",
            be.webdeb.presentation.web.controllers.entry.text.routes.TextActions.randomText)) @Html(
          Messages("text.args.label.new",
            be.webdeb.presentation.web.controllers.entry.text.routes.TextActions.edit(-1))) <span
          id="addnew-instructions" class="instructions">@Html(Messages("text.args.label.create"))</span>
        </p>*@
        <p class="instructions">
          @Html(Messages("text.args.label.new", be.webdeb.presentation.web.controllers.entry.text.routes.TextActions.edit(-1)))
        </p>
        @hiddenField("text-id", "text-id", text.getId)
        @hiddenField("isText", "isText", true)
        @hiddenField("isArgument", "isArgument", false)
        @hiddenField("isActor", "isActor", false)
        @hiddenField("inGroup", "inGroup", user.getGroup.getGroupId)
      </form>
      <br>
    </div>
  </div>

  <!-- Text area -->

  @* @displayTextContent(text, user, true) *@

    @if(text.getId != -1L){

  <!-- arguments and text info -->
  <div id="below-pane" class="row">
    <div class="col-xs-12">
      <ul id="tab-list" class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#excerpt" aria-controls="excerpt" role="tab" data-toggle="tab">@Messages("text.exc.label.tab.excerpts")</a></li>
        <li role="presentation" class="active"><a href="#links" aria-controls="links" role="tab" data-toggle="tab">@Messages("text.args.label.tab.links")</a></li>
          @* <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">@Messages("text.args.label.tab.info")</a></li>*@
          @* <li role="presentation"><a href="#actor" aria-controls="actor" role="tab" data-toggle="tab">@Messages("text.args.label.tab.actors")</a></li>*@
        <li role="presentation" class="fake-tab">
          <button onclick="window.location = '@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(text.getId, EVizPane.CARTO.id, 0)'" class="btn btn-link primary">
            <span class="fa fa-address-card-o"></span>&nbsp;@Messages("text.args.label.tab.text")
          </button>
        </li>
        <li role="presentation" class="fake-tab pull-right">
          <div>@helpButton("entry.argument.analyse;entry.argument.encode;entry.argument.illustrate", false)</div>
        </li>
      </ul>

      <div class="tab-content">

        @* list of excerpts panel *@

        <div role="tabpanel" class="tab-pane" id="excerpt">
          <div class="form-group">
            <div class="col-xs-12 no-padding flex-container expandable-container">

              <div class="expandable-zone expandable-left">
                <div class="controls hidden-xxs" id="excerpts">
                  <p class="instructions">
                    @Html(Messages("text.exc.desc.tab.excerpts"))
                  </p>
                @if(text.getExcerpts(user) != null) {
                  @for(e <- text.getExcerpts(user)) {
                    <div class="entry input-group padding-group">
                      <div class="input-group-addon no-background">@(text.getExcerpts(user).indexOf(e) + 1). </div>
                      <div class="col-xs-12 padding-field ">
                        <a class="argument-displayed">@e.getWorkingExcerpt</a>
                      </div>

                      <span class="input-group-btn">
                        <a type="button" class="btn btn-sm btn-default" title="@Messages("text.args.tooltip.arg.settings")" data-placement="bottom"
                        href="@be.webdeb.presentation.web.controllers.entry.excerpt.routes.ExcerptActions.edit(text.getId, e.getId)">
                          <span class="fa fa-edit"></span>
                        </a>
                      </span>
                    </div>
                  }
                }
                </div>
                <div class="form-group">
                  <br>
                  <label>@Messages("text.args.add.new")</label>
                  @* add a new line to copy an excerpt into *@
                  @form(be.webdeb.presentation.web.controllers.entry.excerpt.routes.ExcerptActions.newExcerpt) {
                    <div id="addarg-div" class="entry input-group padding-group">
                      <div class="col-md-12 padding-field">
                      @inputText(
                        newExcerpt("originalExcerpt"),
                        'placeholder -> Messages("text.args.argument.excerpt"),
                        '_label -> null,
                        'class -> "form-control",
                        'autocomplete -> "off"
                      )
                      </div>
                      <div>
                      @hiddenFormField(newExcerpt("textId"))
                      </div>

                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-default"
                        title="@Messages("text.args.tooltip.arg.settings")" data-placement="bottom">
                          <span class="fa fa-edit"></span>
                        </button>
                      </span>
                    </div>
                  }
                </div>
              </div>

              <div class="expandable-cursor">
                <div class="expandable-btn expandable-btn-left"><i class="fas fa-caret-left"></i></div>
                <div class="expandable-btn expandable-btn-right"><i class="fas fa-caret-right"></i></div>
                <div class="expandable-btn expandable-btn-middle"><i class="fas fa-compress"></i></div>
              </div>

              <div class="expandable-zone expandable-right text-zone">@displayTextContent(text, user, true, false)</div>

            </div>

          </div>
        </div>

        @* justification links *@
        <div role="tabpanel" class="tab-pane active" id="links">
          <div class="col-xs-12 no-padding">
            <div class="alert alert-info" style="display: none;">@Messages("text.links.nolink")</div>
            @waitforit("waiting")
            <div class="col-xs-12 no-padding flex-container expandable-container">

              <div class="expandable-zone expandable-left">
                <h4 style="display:inline-block">
                  <span class="text-muted">@Messages("viz.argument.radio.pov.title")</span>&nbsp;
                  <span id="nb-argument-level">
                  @for(i <- 0 to 4) {
                    <button type="button" class="btn btn-sm btn-default @(if(i == 4) "btn-success")" value="@i">
                    @Messages("viz.argument.radio.pov." + i)
                    </button>
                  }
                  </span>
                </h4>
                <div id="justification-links">@* fetch links via javascript *@</div>
              </div>

              <div class="expandable-cursor">
                <div class="expandable-btn expandable-btn-left"><i class="fas fa-caret-left"></i></div>
                <div class="expandable-btn expandable-btn-right"><i class="fas fa-caret-right"></i></div>
                <div class="expandable-btn expandable-btn-middle"><i class="fas fa-compress"></i></div>
              </div>

              <div class="expandable-zone expandable-right text-zone">@displayTextContent(text, user, true, false)</div>

            </div>
          </div>
        </div>

      </div> <!--  tab content -->
    </div> <!--  col-md-10 -->
  </div> <!--  row -->
}

  @* "add new excerpt" box *@
  <div class="highlighter-container" style="display : none;">
    <div style="display: block;" class="popover popoverbox fade bottom in btn-only" role="tooltip">
      <div class="arrow"></div>
      <div class="popover-content">
        @excerptEditBox(text, newExcerpt, null, user)
      </div>
    </div>
  </div>
}
