/*
 * WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
 *
 * List of the contributors to the development of WebDeb: see AUTHORS file.
 * Description and complete License: see LICENSE file.
 *
 * This program (WebDeb) is free software:
 * you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with this program (see COPYING file).
 * If not, see <http://www.gnu.org/licenses/>.
 *
 */

/**
 * Main style customisation sheet for the webdeb website
 *
 * @author Fabian Gilson
 * @author Martin Rouffiange
 */

/*
 *	GENERAL PURPOSE
 */

.no-padding{
    padding-left : 0 !important;
    padding-right : 0 !important;
}

.election2{
    background-color : #413c3c;
    padding : 5px;
    color : white;
}

.election1{
    position: absolute;
    top: 170px;
    max-width : 600px;
    margin: auto;
    padding : 25px;
}

.election1 div{
    background-color : #413c3c;
    color : white;
    font-size : 18px;
    padding : 5px;
    border : 2px solid black;
}

.election-link, .election-link:focus, .election-link:active{
    color : white;
    text-decoration: none;
}

.election-link img{
    max-width : 600px;
    width : 100%;
}

.election-link:hover{
    color : white;
    text-decoration: underline;
}

.image-selectable{
    cursor : pointer;
}

.btn-footer{
    color : white !important;
    cursor: pointer;
}

.btn-footer:hover{
    text-decoration: underline !important;
}