@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal frame to change the contributor mail address
*
* @param user the user profile data
* @param mailForm the form asking for the contributor's email (to replace the current address by this new address)
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.account.settings.MailForm
@import be.webdeb.presentation.web.views.html.util.emptyModalframe
@import helper._


@(
    contributor: Long,
    mailForm: Form[MailForm]
)


<script type="text/javascript">
  $(document).ready(function() {

  	submitOnEnterKey(document, submitMailChange);
    $('#submit-btn').on('click', function () {
      submitMailChange();
    });

    function submitMailChange() {
      changeMail(@contributor, $('#mail-form')).done(function (data) {
        $('#profile').empty().append(data);

      }).fail(function (jqXHR) {
        // rebuild form from response text
        replaceContent('mail-form', jqXHR.responseText, 'form');
      });
    }
  });
</script>

@emptyModalframe("changemail-modal", false, "default", "", false) {
  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">
      @Messages("contributor.change.mail")
    </h3>
  </div>

  <div class="modal-body row">
    <div id="form-content" class="col-xs-12">
      <p class="instructions">@Messages("contributor.change.mail.instructions")</p>
      <form id="mail-form">
        <fieldset>
          <div class="col-xs-12">
            @inputText(
              mailForm("email"),
              '_label -> null,
              'class -> "form-control",
              'autocomplete -> "off"
            )
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <div class="col-xs-12">
      <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
      <button id="submit-btn" type="button" name="submit" class="btn btn-primary">@Messages("general.btn.confirm")</button>
    </div>
  </div>
}
