@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Partial login form page (form only)
*
* @param user the user profile data
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.bootstrapInput
@import helper._


@(
    user : WebdebUser
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@form(be.webdeb.presentation.web.controllers.account.routes.ContributorActions.authenticate) {

  @if(user.getLoginForm.hasGlobalErrors) {
    <p class="error">
      <span class="label label-danger">@user.getLoginForm.globalError.message</span>
    </p>
  }

  <fieldset>
    @inputText(
      user.getLoginForm()("emailOrPseudo"),
      'placeholder -> Messages("contributor.place.mail"),
      '_label -> Messages("signin.email"),
      'class -> "form-control"
    )
    @inputPassword(
      user.getLoginForm()("password"),
      '_label -> Messages("signin.password"),
      'placeholder -> Messages("contributor.place.password"),
      'class -> "form-control"
    )
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      @Messages("signin.signin") &nbsp; <span class="fa fa-sign-in"></span>
    </button>

    <div class="pull-right" style="margin-right : 75px;">
      <label class="checkbox-inline">
        <input id="remember" type="checkbox" name="remember">@Messages("signin.remember")
      </label>
    </div>

    <br />

    <small><a class="btn btn-link btn-sm primary no-padding" href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.signup">@Messages("signin.register")</a></small><br />
    <small><button id="forgot-pwd2" type="button" class="btn btn-link btn-sm primary no-padding">
      @Messages("signin.forgot")
    </button></small>
  </div>
}
