@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reset (lost) password
*
* @param passwordForm the password form to reset the password
* @param token a unique token corresponding to the reset request
* @param user the user profile
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.account.settings.PasswordForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, breadcrumb}
@import helper._


@(
    passwordForm : Form[PasswordForm],
    token : String,
    user: WebdebUser
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@main(user) {

  <div class="row">
    <div class="col-xs-12">
      <h3 class="small-caps text-muted">@Messages("contributor.recover.password.title")</h3>
      <hr>
    </div>

    <div id="form-content" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <p class="instructions">@Messages("contributor.change.password.instructions")</p>
      @form(be.webdeb.presentation.web.controllers.account.routes.ContributorActions.doResetPassword(token)) {
        <fieldset>
          <div class="col-xs-12 no-padding">
            <div class="col-sm-6 col-xs-12 padding-field">
            @inputPassword(
              passwordForm("password"),
              'placeholder -> Messages("contributor.place.password"),
              '_label -> Messages("contributor.label.password"),
              '_help -> Messages("contributor.help.password"),
              'class -> "form-control",
              'autocomplete -> "off"
            )
            </div>
            <div class="col-sm-6 col-xs-12 padding-field">
            @inputPassword(
              passwordForm("confirm"),
              'placeholder -> Messages("contributor.place.repassword"),
              '_label -> Messages("contributor.label.repassword"),
              'class -> "form-control",
              'autocomplete -> "off"
            )
            </div>
          </div>
        </fieldset>
        <div class="form-actions">
          <a href="@be.webdeb.presentation.web.controllers.routes.Application.index" class="btn btn-default">
            <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.cancel")
          </a>
          <button id="submit" type="submit" class="btn btn-primary">
            @Messages("general.btn.confirm")&nbsp; <span class="fa fa-check-circle"></span>
          </button>
        </div>
      }
    </div>
  </div>
}
