@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Full page for user settings
*
* @param tab the pane enum id (to know which pane must be displayed)
* @param contributor the contributor to display the profile data
* @param editable true if the profile is editable
* @param user the user profile data (the user currently logged)
* @param map the message map
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.contributor.EContributorRole
@import be.webdeb.presentation.web.controllers.account.ContributorHolder
@import be.webdeb.presentation.web.controllers.account.settings.ESettingsPane
@import be.webdeb.presentation.web.controllers.permission.WebdebUser

@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.account.admin.{adminContributors, adminExternalFeeders, adminProfession}
@import be.webdeb.presentation.web.views.html.account.group.manageGroups
@import be.webdeb.presentation.web.views.html.account.settings.{userProfile, userContributionsDashboard}
@import be.webdeb.presentation.web.views.html.util.{breadcrumb, message}
@import be.webdeb.presentation.web.controllers.entry.ContributionHelper

@(
    tab : ESettingsPane,
    contributor : ContributorHolder,
    editable : Boolean,
    user : WebdebUser,
    map: java.util.Map[String, String]
)


@scripts = {
  <title>
    @Messages("settings.title." + (contributor.getId == user.getId),
    if(contributor.getId == user.getId || user.getERole.id() == EContributorRole.ADMIN.id){contributor.getFirstname + " " + contributor.getLastname}else{contributor.getPseudo})
    @Messages("general.metatitle")
  </title>
  <meta name="description" content="@Messages("settings.profile.pill." + (contributor.getId == user.getId))">

  <script src="@routes.Assets.at("javascripts/settings-scripts.js")" type="text/javascript"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      if (@editable) {
        handleTabs(@tab.id);
        addManageGroupListeners();
        fadeMessage();
      } else {
        handleTabs(@tab.id);
      }
    });
  </script>
}


@main(user, scripts) {

  <div id="msg-div">
    @message(flash)
    @message(map)
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3 class="small-caps text-muted">
        @Messages("settings.title." + (contributor.getId == user.getId),
          if(contributor.getId == user.getId || user.getERole.id() == EContributorRole.ADMIN.id){contributor.getFirstname + " " + contributor.getLastname}else{contributor.getPseudo})
      </h3>
      <hr>
    </div>


    <div class="col-md-offset-1 col-md-10 col-sm-12">
      <ul id="tabs" class="nav nav-tabs" role="tablist">
        <li role="presentation"><a id="profile_0" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
            @Messages("settings.profile.pill." + (contributor.getId == user.getId))
        </a></li>
        <li role="presentation"><a id="profile_1" href="#contributions" aria-controls="contributions" role="tab" data-toggle="tab">
          @Messages("settings.contributions.pill." + (contributor.getId == user.getId))
        </a></li>
        @if(contributor.getId == user.getId) {
          <li role="presentation"><a id="manage-groups_3" href="#manage-groups" aria-controls="manage-groups" role="tab" data-toggle="tab">@Messages("settings.manage.group.pill")</a></li>
          @if(user.getERole.equals(EContributorRole.ADMIN)) {
            <li role="presentation"><a id="feeder_4" href="#feeder" aria-controls="feeder" role="tab" data-toggle="tab">@Messages("settings.feeder")</a></li>
            <li role="presentation"><a id="admin_5" href="#admin" aria-controls="admin" role="tab" data-toggle="tab">@Messages("settings.admin")</a></li>
            <li role="presentation"><a id="profession_6" href="#profession" aria-controls="profession" role="tab" data-toggle="tab">@Messages("settings.profession")</a></li>
          }
        }
      </ul>
      <div class="tab-content" style="padding-top: 10px">
        <div role="tabpanel" class="tab-pane" id="profile">
          @userProfile(contributor, user, null)
        </div>

        <div role="tabpanel" class="tab-pane" id="contributions">
          @userContributionsDashboard(contributor, contributor.getContributionsCount, user.getId == contributor.getId)
        </div>

        @if(contributor.getId == user.getId) {
          <div role="tabpanel" class="tab-pane" id="manage-groups">
            @manageGroups(contributor, null)
          </div>

          @if(user.getERole.equals(EContributorRole.ADMIN)) {
            <div role="tabpanel" class="tab-pane" id="feeder">
              @adminExternalFeeders()
            </div>
            <div role="tabpanel" class="tab-pane" id="admin">
              @adminContributors(null)
            </div>
            <div role="tabpanel" class="tab-pane" id="profession">
            @adminProfession()
            </div>
          }
        }
      </div>
    </div>

    <div class="scroll-top-wrapper ">
      <span class="scroll-top-inner">
        <i class="fa fa-2x fa-arrow-circle-up"></i>
      </span>
    </div>
  </div>
}
