@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Partial page with all fields to encode/update a contextualized argument into the knowledge base
*
* @param argumentContextForm the form that holds the contextualized argumen values
* @param helper helper class to fetch predefined values from (types, ...)
* @param user the user profile
* @param map the message map to display (if any)
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.core.api.contributor.EContributorRole

@import be.webdeb.presentation.web.views.html.util.{noerrorForm, bootstrapInput, helpbubble, hiddenField, hiddenFormField, inlineform, message, argumentcontextdiv, folderdiv}
@import helper._
@import be.webdeb.core.api.argument.EArgumentType

@(
        argumentForm: Form[ArgumentContextForm],
        helper : ContributionHelper,
        user : WebdebUser,
        map : java.util.Map[String, String]
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<fieldset>
    @hiddenFormField(argumentForm("id"))
    @hiddenFormField(argumentForm("contributor"))
    @hiddenFormField(argumentForm("lang"))
    @hiddenFormField(argumentForm("version"))
    @hiddenFormField(argumentForm("inGroup"))
    @hiddenFormField(argumentForm("contextId"))
    @hiddenField("previousCall", "previousCall", "")

    <div class="col-xs-12" style="padding: 0 0 10px 0">
        <p class="instructions">@Messages("general.required.fields")</p>
        @argumentcontextdiv(argumentForm, helper, "argument", EArgumentType.NOT_FIRST_ARGUMENT)
    </div>
</fieldset>