@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Edition modal page to ask user to fill in more details about given contextualized argument
*
* @param argumentForm the form to fill in the new contextualized argument
* @param helper helper class to fetch predefined values from (types, ...)
* @param user the user profile
* @param map the message map (may be null)
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.entry.argumentcontext.editArgumentContextFields
@import be.webdeb.core.api.contributor.EContributorRole
@import be.webdeb.presentation.web.views.html.util.{emptyModalframe, message, handleNameMatches, handleFolderNameMatches}

@(
        argumentForm: Form[ArgumentContextForm],
        helper : ContributionHelper,
        user : WebdebUser,
        map : java.util.Map[String,String]
)

<div id="msg-div">
    @message(map)
</div>

<div id="modal-namematches"></div>

<script type="text/javascript">
    $(document).ready(function() {
        let modal = $("#modal-argument-context");
        modal.find(".data-autoresize").autoResize();
    });
</script>

@emptyModalframe("modal-argument-context", true, "form", "", false) {

    <div class="modal-header">
        <h3 class="modal-title small-caps text-muted">
            @Messages("entry.actor.new.unknown")&nbsp;
            <span class="text-primary">@argumentForm("argument.title").value</span>
        </h3>
    </div>

    <div class="modal-body row">
        <div class="col-xs-12 actordiv">
            <div class="well">
                <form id="argument-context-form" method="post" enctype="multipart/form-data">
                 @editArgumentContextFields(argumentForm, helper, user, map)
                </form>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-actions pull-left">
            <button type ="button" name="cancel" class="btn btn-default" data-dismiss="modal">
                <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.cancel")
            </button>
            <button id="submit-form" type ="button" name="submit" class="btn btn-primary">
            @Messages("argument.modify.title")
            </button>
        </div>
    </div>

}
