@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Folder's linked texts content part (Lazy Loaded)
*
* @author Martin Rouffiange
*@




@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.core.api.contribution.EContributionType
@import be.webdeb.presentation.web.views.html.viz.textBox

@import be.webdeb.presentation.web.controllers.viz.EVizPane
@(
        texts : java.util.List[TextHolder],
        user : WebdebUser
)

@for(text <- texts) {
    @if(!text.isHidden || !text.getExcerpts(user).isEmpty) {
        <div class="filterable-item" data-filterable="@text.getFilterable">
            <div class="col-xs-12 col-sm-10 no-padding-xs">
                @textBox(text, EVizPane.CITATION, user)
            </div>
            @if(text.getNbRelatedElements(EContributionType.ARGUMENT_CONTEXTUALIZED, user) > 0
                    || text.getNbRelatedElements(EContributionType.EXCERPT, user) > 0) {
                <div class="col-xs-12 col-sm-2 text-muted hidden-xs" style="margin-top: 20px">
                    @Html(Messages("viz.folder.texts.own",
                        text.getNbRelatedElements(EContributionType.ARGUMENT_CONTEXTUALIZED, user),
                        text.getNbRelatedElements(EContributionType.EXCERPT, user)))
                </div>
            }
        </div>
    }
}