@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Actor details pane, ie, all details (name, type, url, affiliations, etc) are displayed, as  well as
* a list of all textual contributions where this actor appears.
*
* @param actor the actor to display
* @param user the current user
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.actor.ActorVizHolder
@import be.webdeb.presentation.web.views.html.viz.actor.actorCard

@import be.webdeb.presentation.web.views.html.util.affiliationList
@import be.webdeb.core.api.actor.EActorType
@import be.webdeb.presentation.web.views.html.util.foldersInlineList
@import be.webdeb.presentation.web.views.html.util.placesInlineList
@(
    actor: ActorVizHolder,
    user : WebdebUser
)


<script type="text/javascript">

  $(document).ready(function() {
    $('.file-input-group-input :file').on('change', function () {
      var timeout = setTimeout(function () {
        $('#wait-for-it').modal('show');
      }, 1000);

      uploadActorPicture($('#form'), @actor.getId).done(function (data) {
        clearTimeout(timeout);
        hideAndDestroyModal('#wait-for-it');

        // update image dynamically with filename passed
        $('#avatar').empty().append('<img class="avatar" ' +
         'src="/avatar/' + data + '" alt="@Messages("actor.label.pic.noimage")">');

      }).fail(function (jqXHR) {
        clearTimeout(timeout);
        hideAndDestroyModal('#wait-for-it');

        // check whether we got a full page (unauthorized) or a partial one
        if (jqXHR.status === 401) {
          // rebuild page on unauthorized
          replaceContent('body', jqXHR.responseText, 'body');
        } else {
          // show received message as is
          showErrorMessage(jqXHR);
        }
      });
    });

    // lazy load actor's contributions
    /*var spinner = $('#contrib-spinner');
    showMe(spinner, true, true);
    var actorContrib = getActorContributions(@actor.getId);
    var activeTab;

    actorContrib.done(function (html) {
      showMe(spinner, false, true);
      $('#bound-contrib').empty().append(html);
      $('#show-filter').prop('disabled', false);
      var pager = new Pager('.pageable', 5, "#pager");
      pager.reset();
    }).fail(function (jqXHR) {
      $('#bound-contrib').empty().append(jqXHR.responseText);
    });*/
  });

</script>


<div class="col-xs-12 no-padding-xs">
  @actorCard(actor, false)
  <hr class="hr-xs-sensible">

  @*<div>
    <h3>@Messages("viz.actor.contributions")</h3>

    <div id="bound-contrib" class="col-md-12 col-sm-12 col-xs-12 large-font no-padding-xs">
      <div id="contrib-spinner" class="text-muted"><span class="fa fa-spinner fa-spin"></span>&nbsp;@Messages("general.dialog.wait")</span></div>
    </div>
    <div class="pull-left"><ul id="pager" class="pager pagination pagination-sm no-margin"></ul></div>

  </div>*@
</div>
