@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Actor cartography pane (affiliations), ie, a view where all affiliations and affiliated actors (if given actor is an
* organization) are shown together with their pictures and affiliation history. (Lazy loaded)
*
* @param actor the actor to build a radiography for
* @param filters the list of filters that apply here
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.viz.actor.ActorVizHolder
@import be.webdeb.presentation.web.views.html.util.affiliationsHighcharts
@import be.webdeb.presentation.web.views.html.util.filterbar
@import be.webdeb.presentation.web.controllers.entry.EFilterName
@import be.webdeb.presentation.web.controllers.entry.FilterTree

@import be.webdeb.core.api.actor.EActorType
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.controllers.entry.actor.ActorHolder
@import be.webdeb.presentation.web.controllers.viz.actor.AffiliationViz
@import be.webdeb.core.api.actor.EPrecisionDate
@import be.webdeb.presentation.web.views.html.util.filterButton
@import be.webdeb.presentation.web.views.html.util.waitforit
@(
        actor : ActorVizHolder,
        viewBy : EActorType,
        container : String,
        filters : java.util.Map[EFilterName, java.util.List[FilterTree]]
)

<script type="text/javascript">
        $(document).ready(function() {
            initAffiliation(@viewBy.id);
            $(document).on('change-filter', function(){
                initAffiliation(@viewBy.id);
            });
            initAffiliationListeners('.carto-@viewBy.id', @viewBy.id, @actor.getId);

            if(getTabType($('#tabs')) === "@container"){
                updatePOV($('#@(container)content').parent().find('.btn-pov.btn-success'), "@container");
            }

            $('#@(container)content').parent().find('.btn-pov').first().on('click', function(){
                $(this).off();
                initAffiliation(@viewBy.id);
            });
        });
</script>

@if(filters != null && !filters.isEmpty) {
    @filterbar(filters)
}


<div id="@container-data-display-0" class="col-xs-12 no-padding dataloader-container">
    <div id="actor-data" style="display: none" data-begin-date="@actor.getBeginDate" data-end-date="@actor.getEndDate"></div>

    @waitforit("waiting-carto-"+viewBy.id)

    <div id="filter-carto-@viewBy.id" style="display: none">
        @filterButton()
    </div>


    <div id="affiliation-chart-@viewBy.id" class="organizational-chart"></div>

    @if(viewBy == EActorType.ORGANIZATION) {
        @affiliationsHighcharts(actor.getAllAffiliationByActorType(if(actor.getEActortype == EActorType.ORGANIZATION){EActorType.UNKNOWN}else{EActorType.ORGANIZATION}), actor.getEActortype, viewBy, "affiliation", if(actor.getEActortype == EActorType.PERSON) {"member"} else {"aff"})
    }

    @if(actor.getEActortype == EActorType.ORGANIZATION) {
        @affiliationsHighcharts(actor.getAllAffiliatedByActorType(viewBy), actor.getEActortype, viewBy, "affiliated", "member")
    }

</div>

<div id="@container-data-display-1" class="col-xs-12 no-padding  dataloader-container" style="display: none">

    @if(actor.getEActortype == EActorType.ORGANIZATION) {
        @if(viewBy == EActorType.ORGANIZATION) {
            @displayList(actor.getAllAffByAffType(actor.getAllAffByActorType(EActorType.UNKNOWN)), "afftype")
        }else{
            @displayList(actor.getAllAffByFunction(actor.getAllAffiliatedByActorType(viewBy)), "function")
        }
    }else{
        @if(actor.getEActortype == EActorType.PERSON) {
            @displayList(actor.getAllAffByOrgType(actor.getAllAffiliationByActorType(viewBy)), "orgtype")
        }else {
            <div class="text-center" style="padding: 40px;
                font-size: 32px">
                <p>@Messages("general.underconstruct")</p>
            </div>
        }
    }

</div>

@displayList(affMap : java.util.Map[String, java.util.Map[String, java.util.Map[ActorHolder, java.util.List[AffiliationViz]]]], id : String) = {
    @if(!affMap.isEmpty){
        @for((generic, map) <- affMap) {
            @if(!map.isEmpty){
                <br>
                <div class="col-xs-12">
                    <div class="col-xs-12 afflist no-padding" style="background-color: #f9f7f7;">
                        <button data-toggle="collapse" data-target="#afflist-@id-@generic.hashCode" class="btn btn-link primary" style="font-size : 16px;text-decoration: underline">@generic&nbsp;<i class="fa fa-caret-down"></i></button>
                    </div>
                    <div id="afflist-@id-@generic.hashCode" class="collapse">
                        @for((listName, map2) <- map) {
                            <div class="col-xs-12 no-padding-right">
                                @if(map.size() > 1){
                                    <div class="col-xs-12 afflist no-padding" style="background-color: #fbfbfb;">
                                        <button data-toggle="collapse" data-target="#afflist-@id-@generic.hashCode-@listName.hashCode" class="btn btn-link primary" style="font-size : 16px;">@listName&nbsp;<i class="fa fa-caret-down"></i></button>
                                    </div>
                                    <div id="afflist-@id-@generic.hashCode-@listName.hashCode" class="collapse col-xs-12 no-padding-right">
                                }
                                <br>
                                <div class="table-responsive">
                                <table class="table">
                                @for((a, list) <- map2) {
                                    <tr data-filterable="@a.getFilterable">
                                        <td>
                                        <div class="actor-thumbnail filterable-item chart chartbig" data-item-id="@a.getId">
                                            <div class="thumbnail-holder" style="background-image: url(/avatar/@a.getSomeAvatar)"></div>
                                            <div class="chart-holder">
                                                <h4><a class="normal-style"
                                                    href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(a.getId, EVizPane.CARTO.id, 0)"
                                                    title="@a.getFullname">
                                                    @a.getFirstNameOrLast</a>
                                                </h4>
                                            </div>
                                        </div>
                                        </td>

                                        <td>
                                            @for(l <- list) {
                                                <span style="padding-right : 15px;position: relative;top: 10px;">
                                                    @if(id.equals("orgtype")){@l.getFunction @if(l.getFunction != null && (l.getFrom != null || l.getTo != null)){ : }}
                                                    @l.getFromTypeName @l.getFrom @if(l.getFrom != null && l.getTo != null){ - }
                                                    @l.getToTypeName @if(l.getToTypeId != EPrecisionDate.ONGOING.id){@l.getTo}
                                                </span>
                                            }
                                        </td>
                                    </tr>
                                }
                                </table>
                                </div>

                                @if(map.size() > 1){
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
        }
    }else{
        <div class="text-center" style="padding: 40px;
            font-size: 32px">
            <p>@Messages("actor.aff.no.label")</p>
        </div>
    }
}