@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Actor's texts content part, ie, depicting a list of texts and statistics about them
* from given text.
*
* @param actor the actor being visualized
* @param filters the list of filters that apply here
* @param user the current user
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.controllers.viz.ETextsView
@import be.webdeb.presentation.web.controllers.viz.actor.ActorVizHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.filterbar
@import be.webdeb.presentation.web.controllers.entry.EFilterName
@import be.webdeb.presentation.web.controllers.entry.FilterTree
@import be.webdeb.presentation.web.views.html.viz.textBox

@import be.webdeb.presentation.web.controllers.viz.EVizPane
@(
        actor : ActorVizHolder,
        filters : java.util.Map[EFilterName, java.util.List[FilterTree]],
        user : WebdebUser
)

@if(filters != null && !filters.isEmpty) {
  @filterbar(filters)
}

@actorTextBox(actor : ActorVizHolder, text : TextHolder, pane : ETextsView, user : WebdebUser) = {
  @if(!text.isHidden) {
    <div class="filterable-item" data-filterable="@text.getFilterable">
      <div class="col-xs-12 col-sm-10 no-padding-xs">
      @textBox(text, EVizPane.CITATION, user)
      </div>
      <div class="col-xs-12 col-sm-2 text-muted hidden-xs" style="margin-top: 20px">
        @Html(Messages("viz.actor.texts.own." + pane.name.toLowerCase, actor.getOwnExcerptMetrics(pane, text.getId)))
        / @actor.getTotalExcerptMetrics(pane, text.getId)
      </div>
    </div>
  }
}

@item(actor : ActorVizHolder, texts : List[TextHolder], pane : ETextsView, user : WebdebUser) = {
  <div class="col-xs-12 col-lg-10 col-lg-offset-1 no-padding-xs">
    <h3 class="text-muted small-caps hidden-xs">
    @Html(Messages("viz.actor.texts." + pane.name.toLowerCase, texts.length))
    </h3>
    <h4 class="text-muted small-caps visible-xs">
    @Html(Messages("viz.actor.texts." + pane.name.toLowerCase, texts.length))
    </h4>

    <div class="col-xs-12 no-padding-xs">
    @if(texts.size > 5) {
      @for(t <- texts.subList(0, 5)) {
        @actorTextBox(actor, t, pane, user)
      }
      <div class="col-xs-12 no-padding">
        <button class="btn btn-xs btn-link secondary" data-toggle="collapse"
        data-target=".showall-@pane.name.toLowerCase.concat(texts.get(3).hashCode.toString)">
          @Messages("viz.showmore.texts") (@(texts.size - 3))
          &nbsp;<span class="fa fa-chevron-down"></span>
        </button>
        <div class="collapse showall-@pane.name.toLowerCase.concat(texts.get(3).hashCode.toString)">
        @for(t <- texts.drop(3)) {
          @actorTextBox(actor, t, pane, user)
        }
        </div>
      </div>
    } else {
      @for(t <- texts) {
        @actorTextBox(actor, t, pane, user)
      }
    }
    </div>
  </div>
}

<div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 no-padding-xs">
  <div id="text-author-pane">@item(actor, actor.getTexts(ETextsView.AUTHOR, user), ETextsView.AUTHOR, user)</div>
  <div id="argument-author-pane">@item(actor, actor.getTexts(ETextsView.EXCERPT_AUTHOR, user), ETextsView.EXCERPT_AUTHOR, user)</div>
  <div id="cited-author-pane">@item(actor, actor.getTexts(ETextsView.EXCERPT_CITED, user), ETextsView.EXCERPT_CITED, user)</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 statistics-pane">
  <h4 class="text-muted">@Messages("viz.radio.stat")</h4>
  <p class="text-muted">@Html(Messages("viz.actor.texts.stats.author", actor.getTextsMetrics(ETextsView.AUTHOR, user)))</p>
  <p class="text-muted">@Html(Messages("viz.actor.texts.stats.argument_author", actor.getTextsMetrics(ETextsView.EXCERPT_AUTHOR, user)))</p>
  <p class="text-muted">@Html(Messages("viz.actor.texts.stats.argument_cited", actor.getTextsMetrics(ETextsView.EXCERPT_CITED, user)))</p>
</div>