@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Text details showing an excerpt of it, its title, author(s), etc, and all arguments extracted from it
*
* @param text the text to display the details for
* @param user current user profile
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.viz.text.TextVizHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.browse.searchResult
@import be.webdeb.presentation.web.views.html.viz.text.textCard

@(
    text: TextVizHolder,
    user: WebdebUser
)


<script type="text/javascript">
  $(document).ready(function() {
    new Pager('#bound-contrib', 5, '#pager').reset();

  });
</script>

<div class="col-xs-12 no-padding-xs">
  <br>
  <br>
  @textCard(text, user, true)

</div>
