@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Text radiography content, showing the list of texts grouped by a given viewkey (Lazy Loaded)
*
* @param text the text to build a radiography for
* @param user current user profile
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.controllers.viz.RadiographyKey
@import be.webdeb.presentation.web.controllers.viz.ERadiographyViewKey
@import be.webdeb.presentation.web.controllers.viz.text.TextVizHolder
@import be.webdeb.presentation.web.views.html.viz.text.textRadioBox
@import be.webdeb.core.api.argument.EArgumentLinkShade


@(
        text: TextVizHolder,

        user : WebdebUser
)


<script type="text/javascript">
    $(document).ready(function() {

        // manage click on pointof view
        var radiography = $('#radiocontent');
        /*$('#point-of-view').find('button').on('click', function () {
            if (!$(this).hasClass('btn-success')) {
                var that = $(this);
                // ajax call to retrieve build new point of view
                var result = textRadiography(@text.getId, $(this).val());
                var waitForIt = $('#wait-for-it');

                // start timer for long search queries
                var timeout = setTimeout(function () {
                    $(waitForIt).modal('show');
                }, 1000);

                result.done(function (html) {
                    clearTimeout(timeout); // clear timer, if query was really fast
                    hideAndDestroyModal(waitForIt);
                    $(radiography).empty().append(html);

                    // add "btn-success" class
                    that.siblings('.btn-success').removeClass('btn-success');
                    that.addClass('btn-success');
                });

                result.fail(function (jqXHR) {
                    // display error message
                    hideAndDestroyModal(waitForIt);
                    $('#msg-div').append(jqXHR.responseText);
                });
            }
        });*/

        showMe($("#radio-data-display-@ERadiographyViewKey.TEXT.id"), true, true);
    });
</script>

@textStat = {
    <p><span class="similar">@text.getTextAmountByShade(EVizPane.RADIO, EArgumentLinkShade.ILLUSTRATE)</span> @Messages("viz.radio.stat.text.similar")</p>
    <p><span class="qualifies">@text.getTextAmountByShade(EVizPane.RADIO, EArgumentLinkShade.SHADED_EXAMPLE)</span> @Messages("viz.radio.stat.text.qualifies")</p>
    <p><span class="opposes">@text.getTextAmountByShade(EVizPane.RADIO, EArgumentLinkShade.COUNTER_EXAMPLE)</span> @Messages("viz.radio.stat.text.opposes")</p>
}

@authorStat = {
    <p><span class="similar">@text.getActorsAmountByShade(EVizPane.RADIO, EArgumentLinkShade.ILLUSTRATE)</span> @Messages("viz.radio.stat.author.similar")</p>
    <p><span class="qualifies">@text.getActorsAmountByShade(EVizPane.RADIO, EArgumentLinkShade.SHADED_EXAMPLE)</span> @Messages("viz.radio.stat.author.qualifies")</p>
    <p><span class="opposes">@text.getActorsAmountByShade(EVizPane.RADIO, EArgumentLinkShade.COUNTER_EXAMPLE)</span> @Messages("viz.radio.stat.author.opposes")</p>
}

@excerptStat = {
    <p><span class="similar">@text.getAmountByShade(EArgumentLinkShade.ILLUSTRATE, EVizPane.RADIO)</span> @Messages("viz.radio.stat.excerpt.similar")</p>
    <p><span class="qualifies">@text.getAmountByShade(EArgumentLinkShade.SHADED_EXAMPLE, EVizPane.RADIO)</span> @Messages("viz.radio.stat.excerpt.qualifies")</p>
    <p><span class="opposes">@text.getAmountByShade(EArgumentLinkShade.COUNTER_EXAMPLE, EVizPane.RADIO)</span> @Messages("viz.radio.stat.excerpt.opposes")</p>
}


<div id="radiocontent">
    <div class="col-xs-12 col-sm-12 col-md-10 no-padding">
    @for((viewby, map) <- text.viewRadiography(user).iterator) {
        <div id="radio-data-display-@viewby.id" style="display: none;">
        @for((k, list) <- map) {
        <div class="col-xs-12 no-padding-xs">
            <div class="row">
                @* author name, source or date *@
            <div class="col-md-4 col-lg-3">
                <h2 class="no-margin-xs" style="text-align: right">
                @viewby match {
                    case ERadiographyViewKey.AUTHOR => {
                        <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(
                            list.get(0).getAuthors.get(0).getId, EVizPane.CARTO.id, 0)" class="normal-style">
                            <span class="@(if(list.get(0).getAuthors.get(0).getActortype == -1) "text-muted")"> @k
                    }
                    case ERadiographyViewKey.SOURCE => {
                        @if(k != RadiographyKey.NOKEY) {
                            <a href="@be.webdeb.presentation.web.controllers.browse.routes.BrowseActions.redirectSearch("query=" + k)"
                            class="normal-style">
                            @k
                            </a>
                        } else {
                            @Messages("viz.no.key")
                        }
                    }
                    case ERadiographyViewKey.DATE => {
                        @(if(k != RadiographyKey.NOKEY) k else Messages("viz.no.key"))
                    }
                    case ERadiographyViewKey.TEXT => { @* do nothing *@ }
                    case _ => { @* ignore, wrong key for this view *@ }
                }
                </h2>
            </div>

                @* excerpts *@
            <div class="col-md-8 col-lg-9">
                @* show at most two and hide the rest under "+ button" *@
                @list.size match {
                    case 1 | 2 => {
                        @for(l <- list) {
                            @textRadioBox(text, l, viewby)
                        }
                    }
                    case _ => {
                        @for(l <- list.subList(0, 2)) {
                            @textRadioBox(text, l, viewby)
                        }
                        <button class="btn btn-xs btn-link secondary" data-toggle="collapse"
                        data-target=".showall-@list.get(2).hashCode">
                            @Messages("viz.showmore.texts") (@(list.size - 2))
                            &nbsp;<span class="fa fa-chevron-down"></span>
                        </button>
                        <div class="collapse showall-@list.get(2).hashCode">
                        @for(l <- list.subList(2, list.size)) {
                            @textRadioBox(text, l, viewby)
                        }
                        </div>
                    }
                }
            </div>
            </div>
        </div>
        }
        </div>
    }
    </div>
    @* statistics pane *@
    <div class="col-md-2 visible-md visible-lg statistics-pane">
        <h4 class="text-muted">@Messages("viz.radio.stat")</h4>
        @textStat
        <hr>
        @authorStat
        <hr>
        @excerptStat
    </div>
</div>
