@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Text cartography pane, ie, all justification links between arguments from given text. Will be filled in
* by the JS object JustificationTree.
*
*
* @param text the text from which all arguments must be displayed
*
* @author Fabian Gilson
* @see assets/javascript/text-scripts.js for JustificationTree functions
*@


@import be.webdeb.presentation.web.controllers.viz.text.TextVizHolder
@import be.webdeb.presentation.web.views.html.util.{waitforit}

@(
        text : TextVizHolder
)

<script type="text/javascript">
  $(document).ready(function() {
    $("#edit_links").on('click', function(){
      redirectToTextExcerpts(@text.getId);
    });

    var dd = new JustificationTree($('.text-links'), $('#carto-tab'), $(".waiting"), @text.getId, @text.getFirstArgumentId, null, true, -1);
    dd.init(@text.getId);

    $('#nb-argument-level').on('click', 'button', function(){
      var that = $(this);
      dd.changeLevelThresholdAndRebuild(that.val());
      // add "btn-success" class
      that.siblings('.btn-success').removeClass('btn-success');
      that.addClass('btn-success');
    });
  });
</script>

<div class="col-xs-12 no-padding-xs">
  <div class="col-xs-12">
    <div class="alert alert-info" style="display: none;">@Messages("viz.text.nolinks")</div>
    <div class="col-xs-12 no-padding-xs">
      <h4 style="display:inline-block">
        <span class="text-muted">@Messages("viz.argument.radio.pov.title")</span>&nbsp;
        <span id="nb-argument-level">
        @for(i <- 0 to 4) {
          <button type="button" class="btn btn-pov btn-sm btn-default @(if(i == 4) "btn-success")" value="@i">
          @Messages("viz.argument.radio.pov." + i)
          </button>
        }
        </span>
      </h4>
      <span class="pull-right hidden-xs">
        <a id="edit_links" type="button" class="btn btn-link btn-lg primary">
          <span class="fa fa-eye"></span>&nbsp;@Messages("viz.text.links2.btn")
        </a>
      </span>
    </div>
    @waitforit("waiting")
  </div>
  <div id="cartocontent" class="text-links"></div>

  <div class="col-xs-12 visible-xs">
    <a id="edit_links" type="button" class="btn btn-link btn-lg primary">
      <span class="fa fa-eye"></span>&nbsp;@Messages("viz.text.links2.btn")
    </a>
  </div>
</div>
