@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Text cited pane, ie, showing all excerps-ts and arguments of this text
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.viz.actor.EActorSortKey
@import be.webdeb.presentation.web.controllers.viz.text.TextVizHolder

@(
        text : TextVizHolder
)

<script type="text/javascript">
        $(document).ready(function () {
            var container = $("#citedcontent");
            argumentOptionsHandler(container);
            excerptOptionsHandler(container);

            var pov = container.parent().find(".btn-pov.btn-success");
            $('.cited-data-display').hide();
            $('#cited-data-display-' + pov.val()).show();

            new DataLoader(container.find("#cited-data-display-1 > div"), {
                toCallBefore : findTextExcerpts,
                params : @text.getId,
                filterButtonContainer : container
            });

            new DataLoader(container.find("#cited-data-display-0 > div"), {
                toCallBefore : findTextArguments,
                params : @text.getId,
                filterButtonContainer : container
            });

        });
</script>

<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 no-padding-xs">
    <h4 style="display:inline-block">
        <span class="text-muted">@Messages("viz.argument.display.pov.title")</span>&nbsp;
        <span id="display-type">
        @for(i <- 0 to 1) {
            <button type="button" class="btn btn-pov btn-sm btn-default @(if(i == 0) "btn-success")" value="@i">
            @Messages("viz.folder.argsexcs.pov." + i)
            </button>
        }
        </span>
    </h4>
    <div id="citedcontent">
        <div id="cited-data-display-0" class="col-xs-12 cited-data-display no-padding">
            <div></div>
        </div>

        <div id="cited-data-display-1" class="col-xs-12 cited-data-display no-padding" style="display: none">
            <div></div>
        </div>
    </div>
</div>
