@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Partial template that displays all details of a text in a concise way.
*
* @param text a text holder to be displayed
* @param user current user profile
* @param large true if a large excerpt must be displayed
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.authorList
@import be.webdeb.presentation.web.views.html.util.folderList
@import be.webdeb.presentation.web.views.html.util.printTextContainer

@import be.webdeb.presentation.web.controllers.viz.EVizPane
@(
    text : TextHolder,
    user : WebdebUser,
    large : Boolean
)


<div class="center-flex large">
  <div id="excerpt-div" class="col-md-5 col-sm-12 well">
    <blockquote>
      @defining(text.getExcerpt(user.getId, large)) { excerpt =>
        @if(excerpt.length > 0) {
          @excerpt
        } else {
          @if(text.getFilename.contains(".")) {
            @Html(Messages("text.args.external.content", "/external/" + text.getFilename))
          } else {
            @Messages("text.args.nocontent")
          }
        }
      }
    </blockquote>
  </div>

  <div class="col-md-7 col-sm-12 contribution-card">
    <p><span class="larger-font">@text.getTitle</span></p>
    <span class="text-muted">@text.getTextType &nbsp;&nbsp;&nbsp; @text.getPublicationDate</span>
    @if(text.getUrl != null || text.getSourceTitle != null) {
      <p>
        @if(text.getSourceTitle != null) {
          <span class="small-font text-muted" style="margin-right: 5px">@Messages("text.args.label.sourceTitle")</span> @text.getSourceTitle
        }
        @if(text.getUrl != null) {
          <span><a href="@text.getUrl" target="_blank">@Messages("general.goto.source")</a></span>
        }
      </p>
    }
    <span class="text-lowercase">
      <span class="small-font text-muted">@Messages("text.args.label.language")</span>
      @text.getLanguage
    </span>

    <p>
      <span class="text-lowercase text-muted small-font" style="margin-bottom: 2px">@Messages("text.args.label.author")</span>
      @authorList(text.getAuthors, "authors")
    </p>

    <p>
      <span class="text-lowercase text-muted small-font" style="margin-bottom: 2px">@Messages("text.folders.label")</span>
      @folderList(text.getFolders, "folders", EVizPane.TEXTS)
    </p>

    @if(large && text.getFilename != null && !text.getFilename.contains(".")){
      <p>
        @printTextContainer(text, user)
      </p>
    }
  </div>
</div>
