@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Modal frame to add an affiliated actor to an existing actor
*
* @param actorForm the actor affiliation form object
* @param affiliationPerson boolean saying if the affiliation concerns a person (true) or an organization (false)
* @param person boolean saying if the affiliated concerns a person (true) or an organization (false)
* @param helper contribution helper class to retrieve predefined data
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.views.html.util.{affiliationdiv, emptyModalframe, hiddenFormField}

@import be.webdeb.core.api.actor.EAffiliationSubtype
@import be.webdeb.core.api.actor.EActorType
@import be.webdeb.presentation.web.controllers.entry.actor.ActorAffiliationForm

@(
    actorForm: Form[ActorAffiliationForm],
    affiliationPerson: Boolean,
    affiliatedPerson: Boolean,
    helper: ContributionHelper
)


<script type="text/javascript">
  $(document).ready(function() {

    let modal = $("#modal-add-member");
    let div = $('#content');
    addAllListeners(div);

    // register event on add btn
    $('#submit-btn').on('click', function () {
      var response = document.createElement('html');
      addMember(@actorForm("id").value, @affiliatedPerson, $('#affiliation-form')).done(function (data) {
        $(document).trigger("reload-viz");
        hideAndDestroyModal(modal);
        getAutoCreatedModals();
      }).fail(function (xhr) {
        if (xhr.status === 409) {
          // name-match to handle, hide this modal and show the other one
          modal.hide();
          // show new one (name-matches resolution)
          $('#modal-namematches').html(xhr.responseText);
          handleContributionNameMatches(modal.find('[id$="affname"]'), '[id$="_affid"]', '[id$="_isDisambiguated"]', modal.find('#submit-btn'), "Actor");

        } else {
          // form errors, rebuild modal content
          response.innerHTML = xhr.responseText;
          div.empty().append(response.getElementsByTagName('form'));
          addAllListeners(div);
        }
      });
    });
  });

  function addAllListeners(div) {
    var affiliations = $('#affiliationsForm');
    addActorsTypeahead(affiliations, ['affname'], @(if(!affiliationPerson && affiliatedPerson){'0'}else{'1'}));
    manageActorButton('affiliationsForm', ['affname'], @(if(!affiliationPerson && affiliatedPerson){'0'}else{'1'}));
    managePrecisionDate();

    $(div).find('[id$="groupEndDate"]').each(function() {
      var that = this;
      updateRoundedbox(that);
      $(this).find('.input-group-addon.roundedbox').each(function() {
        listenerOnRoundedBox(that, '[name$="ongoingDate"]');
      });
    });
    // handle help bubbles
    handleHelpBubble(div);
  }
</script>

<div id="modal-namematches"></div>

@emptyModalframe("modal-add-member", false, "form", "", false) {
  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">
      @Messages("viz.actor.affiliated.add."+ (if(affiliationPerson) "person" else "org") +".title")
      <span class="text-primary">@actorForm("fullname").value</span>
    </h3>
  </div>

  <div id="content" class="modal-body row">
    <form id="affiliation-form" class="col-xs-12">
      @hiddenFormField(actorForm("id"))
      @hiddenFormField(actorForm("fullname"))
      @hiddenFormField(actorForm("birthdate"))
      @hiddenFormField(actorForm("deathdate"))
      @hiddenFormField(actorForm("reversed"))
      @hiddenFormField(actorForm("affiliationPerson"))
      @hiddenFormField(actorForm("affiliatedPerson"))
      @hiddenFormField(actorForm("lang"))
      @hiddenFormField(actorForm("version"))

      @if(affiliationPerson) {
        @affiliationdiv(actorForm, "affiliationsForm", "actor.label.affiliated.person", EActorType.PERSON, EAffiliationSubtype.AFFILIATION, false, helper)
      }else {
        @if(affiliatedPerson) {
          @affiliationdiv(actorForm, "affiliationsForm", "actor.label.affiliated.person2", EActorType.PERSON, EAffiliationSubtype.AFFILIATED, false, helper)
        } else {
          @affiliationdiv(actorForm, "affiliationsForm", "actor.label.affiliated.org", EActorType.ORGANIZATION, EAffiliationSubtype.AFFILIATION, false, helper)
        }
      }
    </form>
  </div>

  <div class="modal-footer">
    <div id="add-affiliated-btns" class="pull-left">
      <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal" title="@Messages("viz.actor.affiliation.submit.title")">
        @Messages("general.btn.cancel")
      </button>
      <button id="submit-btn" type="button" name="submit" class="btn btn-primary">@Messages("viz.actor.affiliated."+ (if(affiliationPerson) "person" else "org") +".submit")</button>
    </div>
  </div>
}
