@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Debate details showing name, folder and places
*
* @param folder the folder to display the details for
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.viz.debate.DebateVizHolder
@import be.webdeb.presentation.web.views.html.viz.debate.debateCard
@import be.webdeb.presentation.web.views.html.util.showPlaces

@import be.webdeb.presentation.web.controllers.viz.EVizPane
@(
        debate: DebateVizHolder
)

<div class="col-xs-12 no-padding-xs">

    <div class="col-xs-12 col-md-6 no-padding-xs">
        @debateCard(debate, false)
        <div class="col-xs-12">
            <span class="text-lowercase">
                <span class="small-font text-muted">@Messages("debate.sumup.firstArgument")</span>
                <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.argumentContext(debate.getFirstArgumentId, EVizPane.CARTO.id, 0)" class="primary">
                @debate.getFirstArgumentContext.getFullTitle</a>
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 no-padding-xs">
        @showPlaces(debate.getFirstArgumentContext.getPlaces, null, "vizmap")
    </div>
</div>
