@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Partial template that displays all details of a debate in a concise way.
*
* @param debate a debate holder to be displayed
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.debate.DebateHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.folderList

@import be.webdeb.presentation.web.views.html.util.foldersInlineList
@import be.webdeb.presentation.web.views.html.util.placesInlineList
@import be.webdeb.presentation.web.views.html.util.placeList
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@(
        debate : DebateHolder,
        min : Boolean
)


<div class="center-flex large">

    <div class="col-xs-12">
        <p><span class="larger-font">@debate.getFullTitle</span></p>

        @if(!min) {
            <p>
                <span class="text-lowercase">
                    <span class="small-font text-muted">@Messages("text.args.label.language")</span>
                    @debate.getLang
                </span>
            </p>
        }

        <p>
            @if(min){
                @placesInlineList(debate.getId, debate.getFirstArgumentContext.getPlaces)
            }else{
                @placeList(debate.getFirstArgumentContext.getPlaces, "places")
            }
        </p>

        <p>
            @if(min){
                @foldersInlineList(debate.getFirstArgumentContext.getFolders, EVizPane.CITATION)
            }else{
                @folderList(debate.getFirstArgumentContext.getFolders, "folders", EVizPane.CITATION)
            }
        </p>
    </div>
</div>
