@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Modal page to select csv files to import actors and/or affiliations
*
* @param user the current user
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.{emptyModalframe, hiddenField, publishInGroup}

@(
    user : WebdebUser
)

<script type="text/javascript">
  $(document).ready(function() {

  	manageFileInput('#csv-for-actor');
    manageFileInput('#csv-for-affiliation');

    // handle csv upload
    $('#submit-csv').on('click', function () {
      var timeout = setTimeout(function () {
        showMe($('#import-spinner'), true, true);
        $('#import-csv-modal').find('button').prop('disabled', true);
      }, 1000);

      uploadCsvFile($('#csv-form'), $('#charset').val(), $('#separator').val(), $('#importGroup').val()).done(function (html) {
        clearTimeout(timeout);
        // show received html with result
        showMe($('#form-content'), false, false);
        showMe($('#import-footer'), false, false);
        showMe($('#import-spinner'), false, false);
        $('#csv-response-msg').empty().append(html).removeClass("label label-danger");
        $('#import-csv-modal').find('button').prop('disabled', false);
        showMe($('#close-footer'), true, false);

      }).fail(function(xhr) {
      	if (xhr.status === 400) {
          clearTimeout(timeout);
          showMe($('#import-spinner'), false, false);
          $('#import-csv-modal').find('button').prop('disabled', false);
          $('#csv-response-msg').empty().append(xhr.responseText).addClass("label label-danger");
        } else {
          clearTimeout(timeout);
          showMe($('#import-spinner'), false, false);
          hideAndDestroyModal('#import-csv-modal');
          showErrorMessage(xhr);
        }
      });
    });

    // refresh on close
    $('#close-csv').on('click', function () {
      updateCsvReports();
    });

  });

  function manageFileInput(subdiv) {
    showMe($('.file-input-clear'), false, false);
    $(subdiv + ' .file-input-clear').on('click', function () {
      $(subdiv + ' .file-input-group').attr("data-content",'').popover('hide');
      $(subdiv + ' .file-input-group-filename').val('');
      $(subdiv + ' .file-input-clear').hide();
      $(subdiv + ' .file-input-group-input input:file').val('');
    });

    $(subdiv + ' .file-input-group-input').find('input:file').on('change', function () {
      var file = this.files[0];
      $(subdiv + ' .file-input-clear').show();
      $(subdiv + ' .file-input-group-filename').val(file.name);
    });
  }
</script>

@emptyModalframe("import-csv-modal", false, "default", "", false) {
  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">@Messages("admin.csv.modal.title")</h3>
  </div>

  <div class="modal-body row">
    <div id="form-content" class="col-xs-12">
      <div class="instructions">
        @hiddenField("importGroup", "importGroup", user.getGroup.getGroupId)
        @Html(Messages("admin.csv.instructions", publishInGroup("import-change-group", "importGroup", user)))
      </div>
      <form id="csv-form">
        <fieldset>
          <label for="actorFile" style="margin-top: 10px">@Messages("admin.csv.actor")</label>
          <div id="csv-for-actor" class="input-group file-input-group">
            <div class="form-group">
              <input class="form-control file-input-group-filename" readonly="readonly" type="text">
            </div>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default file-input-clear" title="@Messages("admin.csv.tooltip")">
                <span class="fa fa-remove"></span>
                <span class="file-input-title">@Messages("general.label.btn.clear")</span>
              </button>
              <div class="btn btn-default file-input-group-input">
                <span class="fa fa-folder-open-o"></span>
                <span class="file-input-title">@Messages("general.label.btn.browse")</span>
                <input type="file" accept="text/csv" name="actorFile" id="actorFile"/>
              </div>
            </span>
          </div>

          <label for="affiliationFile" style="margin-top: 10px">@Messages("admin.csv.affiliation")</label>
          <div id="csv-for-affiliation" class="input-group file-input-group">
            <div class="form-group">
              <input class="form-control file-input-group-filename avatar-field" readonly="readonly" type="text">
            </div>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default file-input-clear" title="@Messages("admin.csv.tooltip")">
                <span class="fa fa-remove"></span>
                <span class="file-input-title">@Messages("general.label.btn.clear")</span>
              </button>
              <div class="btn btn-default file-input-group-input">
                <span class="fa fa-folder-open-o"></span>
                <span class="file-input-title">@Messages("general.label.btn.browse")</span>
                <input type="file" accept="text/csv" name="affiliationFile" id="affiliationFile"/>
              </div>
            </span>
          </div>
        </fieldset>
      </form>

      <div class="col-xs-12 no-padding" style="margin-top: 10px">
        <div class="col-xs-6 padding-field">
          <div class="form-group">
            <label for="charset">@Messages("admin.csv.charset")</label>
            <select id="charset" name="charset" class="form-control">
            @for(charset <- play.Configuration.root().getStringList("csv.import.encoding")) {
              <option value="@charset">@Messages("admin.csv.charset.".concat(charset))</option>
            }
            </select>
          </div>
        </div>
        <div class="col-xs-6 padding-field">
          <div class="form-group">
            <label for="separator">@Messages("admin.csv.separator")</label>
            <select id="separator" name="separator" class="form-control">
              @for(separator <- play.Configuration.root().getStringList("csv.import.separator")) {
                @separator match {
                  case "," => { <option value="@separator">@Messages("admin.csv.separator.comma")</option> }
                  case ";" => { <option value="@separator">@Messages("admin.csv.separator.semicolon")</option> }
                  case _ => { @* ignore *@ }
                }
              }
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12"><label id="csv-response-msg"></label>
    </div>
  </div>

  <div class="modal-footer">
    <div class="col-xs-12">
      <div id="import-footer">
        <span id="import-spinner" class="text-muted huge-font" style="display: none">
          <span class="fa fa-spinner fa-spin"></span>&nbsp;@Messages("general.dialog.wait")
        </span>
        <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
        <button id="submit-csv" type="button" class="btn btn-primary" title="@Messages("admin.csv.submit.title")">@Messages("general.btn.submit")</button>
      </div>
      <div id="close-footer" style="display: none">
        <button id="close-csv" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.close")</button>
      </div>
    </div>
  </div>
}
