@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Auto-creation modal page to ask user to fill in more details about new auto-created folder
*
* @param folderForm the form to fill in the new folder
* @param helper helper class to fetch predefined values from (types, ...)
* @param user the user profile
* @param map the message map (may be null)
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.folder.FolderForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.entry.folder.editFolderFields
@import be.webdeb.core.api.contributor.EContributorRole
@import be.webdeb.presentation.web.views.html.util.{emptyModalframe, message, handleFolderNameMatches}


@(
  folderForm: Form[FolderForm],
  helper : ContributionHelper,
  user : WebdebUser,
  map : java.util.Map[String,String]
)

<div id="msg-div">
  @message(map)
</div>

<div id="modal-namematches"></div>

@emptyModalframe("modal-folder", true, "form", "", false) {

<div class="modal-header">
  <h3 class="modal-title small-caps text-muted">
    @Messages("entry.actor.new.unknown")&nbsp;
    <span class="text-primary">@folderForm("folderName").value</span>
  </h3>
  <h4>@Messages("entry.folder.auto")</h4>
</div>

<div class="modal-body row">
  <div class="col-xs-12 folderdiv">
    <div class="well">
      <form id="folder-form" method="post" enctype="multipart/form-data">
        @editFolderFields(folderForm, helper, user, map)
      </form>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="form-actions pull-left">
    @* @if(user.getERole.id() == EContributorRole.ADMIN.id()) { *@
        <button type ="button" name="cancel" class="btn btn-default">
          <span class="fa fa-times-circle"></span> &nbsp; @Messages("entry.actor.notnow")
        </button>

    <button type ="button" name="submit" class="btn btn-primary">
      @Messages("entry.folder.modify")
    </button>
  </div>
</div>

}
