@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Partial page with all fields to encode/update a folder into the knowledge base
*
* @param folderForm the form that holds the folder values
* @param helper helper class to fetch predefined values from (types, ...)
* @param user the user profile
* @param map the message map to display (if any)
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.folder.FolderForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.core.api.contributor.EContributorRole

@import be.webdeb.presentation.web.views.html.util.{noerrorForm, bootstrapInput, helpbubble, hiddenField, hiddenFormField, inlineform, message, folderdiv}
@import helper._

@import be.webdeb.core.api.folder.EFolderType
@(
        folderForm: Form[FolderForm],
        helper : ContributionHelper,
        user : WebdebUser,
        map : java.util.Map[String, String]
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<fieldset>
  @hiddenFormField(folderForm("id"))
  @hiddenFormField(folderForm("contributor"))
  @hiddenFormField(folderForm("lang"))
  @hiddenFormField(folderForm("version"))
  @hiddenFormField(folderForm("inGroup"))
  @hiddenFormField(folderForm("isNotSame"))
  @hiddenFormField(folderForm("folderType"))
  @hiddenField("previousCall", "previousCall", "")

  <div class="col-xs-12" style="padding: 0 0 10px 0">
    <p class="instructions">@Messages("general.required.fields")</p>

  <div class="col-xs-12 no-padding">
    <div id="folderNames" class="controls col-xs-12 no-padding">
      <label class="control-label">@Messages("folder.names.title")</label>
      @repeatWithIndex(folderForm("folderNames"), min = 1) { (folderName, i) =>
        <div id="foldersNames_@i.toString" class="entry input-group input-group-border padding-group smaller-font">
          <div class="col-xs-4 padding-field">
            @select(
              folderForm(folderName.name.concat(".lang")),
              options(helper.getLanguages(ctx.lang.code)),
              '_default -> Messages("actor.place.namelang"),
              '_label -> Messages("text.title.lang.label"),
              'class -> "form-control",
              'autocomplete -> "off"
            )
          </div>
          <div class="col-xs-8 padding-field">
          @inputText(
            folderForm(folderName.name.concat(".name")),
            'placeholder -> Messages("folder.place.name"),
            '_label -> Messages("folder.label.translatedname"),
            'class -> "form-control",
            'autocomplete -> "off"
          )(handler = noerrorForm, implicitly[Messages])
          </div>
          <span class="input-group-btn bottom">
            <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
            <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
          </span>
        </div>
        @* must handle error message by hand for inlineforms *@
      @folderForm.errors.map { case (key, error) =>
        @if(key.startsWith(folderName.name) && error(0).message != "") {
          <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
        }
      }
      }
    </div>
    <div class="col-xs-12 separator-mid"></div>
    @* <p class="help-inline">
      <button id="show_folder_rewording" type="button" class="btn btn-sm btn-link secondary" data-toggle="collapse" data-target="#folderRewordingNames">
        @Messages("folder.rewordingnames.show")&nbsp;<span class="fa fa-chevron-down"></span>
      </button>
    </p> *@
    @*<div id="folderRewordingNames" class="controls col-xs-12 no-padding collapse
    @(if(folderForm.errors.keySet.exists(k => k.startsWith("folderRewordingNames"))) "in")">*@
    <div id="folderRewordingNames" class="controls col-xs-12 no-padding collapsein">
      <label class="control-label">@Messages("folder.rewordingnames.title")</label>
      @repeatWithIndex(folderForm("folderRewordingNames"), min = 1) { (folderName, i) =>
        <div id="folderRewordingNames_@i.toString" class="entry input-group input-group-border padding-group smaller-font">
          <div class="col-xs-4 padding-field">
            @select(
              folderForm(folderName.name.concat(".lang")),
              options(helper.getLanguages(ctx.lang.code)),
              '_default -> Messages("actor.place.namelang"),
              '_label -> Messages("text.title.lang.label"),
              'class -> "form-control",
              'autocomplete -> "off"
            )(handler = noerrorForm, implicitly[Messages])
          </div>
          <div class="col-xs-8 padding-field">
          @inputText(
            folderForm(folderName.name.concat(".name")),
            'placeholder -> Messages("folder.place.rewordingname"),
            '_label -> Messages("folder.label.rewordingname"),
            'class -> "form-control",
            'autocomplete -> "off"
          )(handler = noerrorForm, implicitly[Messages])
          </div>
          <span class="input-group-btn bottom">
            <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
            <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
          </span>
        </div>
        @* must handle error message by hand for inlineforms *@
      @folderForm.errors.map { case (key, error) =>
        @if(key.startsWith(folderName.name) && error(0).message != "") {
          <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
        }
      }
      }
    </div>

    @if(user.getERole.id() == EContributorRole.ADMIN.id() && folderForm.get().getFolderType != EFolderType.COMPOSED.id()) {
      @folderdiv(folderForm, "normalParents", "folder.parent", false)

      @folderdiv(folderForm, "normalChildren", "folder.child", false)
    }

  </div>
</fieldset>