@*
* Copyright 2014-2018 University of Namur (PReCISE) - University of Louvain (Girsef - CENTAL).
* This is part of the WebDeb software (WDWEB), a collaborative platform to record and analyze
* argumentation-based debates. This is free software:  you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License version 3 as published by the
* Free Software Foundation. It is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
* PARTICULAR PURPOSE.
*
* See <https://webdeb.be/> for a running instance of a webdeb web platform.
* See the GNU Lesser General Public License (LGPL) for more details over the license terms.
*
* You should have received a copy of the GNU Lesser General Public License along with this copy.
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Argument details pane, showing its originating excerpt, its context details
*
* @param argument the argument for which the details will be displayed
* @param user current user profile
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.argument.ArgumentContextVizHolder
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.views.html.browse.searchResult
@import be.webdeb.presentation.web.views.html.util.authorList
@import be.webdeb.presentation.web.views.html.util.folderList

@import be.webdeb.presentation.web.views.html.viz.argument.argumentCard
@import be.webdeb.presentation.web.views.html.util.showPlaces
@import be.webdeb.presentation.web.views.html.util.message
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.viz.contributionAdminActions
@(
        argument : ArgumentContextVizHolder,
        user : WebdebUser
)

@scripts = {
    <title>@argument.getFullTitle @Messages("general.metatitle")</title>
    <meta name="description" content="@Messages("general.more.details.tooltip")">

    <script src="@routes.Assets.at("javascripts/argument-scripts.js")" type="text/javascript"></script>
    <script type="text/javascript">
            $(document).ready(function() {

            });
    </script>
}

@main(user, scripts) {

    <div id="msg-div">
        @message(flash)
    </div>

    <div class="row">

        <div class="col-xs-12 no-padding-xs">

            @contributionAdminActions(argument, true, user)

            <div class="col-xs-12 col-md-6 no-padding-xs">
                @argumentCard(argument)
            </div>
            <div class="col-xs-12 col-md-6 no-padding-xs">
                @showPlaces(argument.getPlaces, null, "placesmap")
            </div>

        </div>
    </div>
}