@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Argument sociography pane (supported, shaded and opposed), ie, a view where all actors from linked excerpts with
* the current argument (and similar arguments) are compared with them position.
* Similarity graph is shown (ranged column with percentages) (Lazy Loaded)
*
* @param argument the argument to build a sociography for
* @param viewby the key used to group actors
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.views.html.util.{exportMenu, filterButton}
@import be.webdeb.presentation.web.controllers.viz.argument.ArgumentContextVizHolder
@import be.webdeb.presentation.web.views.html.util.waitforit
@import be.webdeb.presentation.web.controllers.viz.excerpt.EExcerptGroupKey
@(
        argument : ArgumentContextVizHolder,
        viewby : EExcerptGroupKey
)

@* main content *@
<div class="col-xs-12 no-padding-xs">
    <div class="padding-xs">
        <div>
            <h4 class="text-muted">
                @Messages("viz.actor.socio.pov")&nbsp;
            <span id="point-of-view">
            @for(k <- EExcerptGroupKey.getAll) {
                <button type="button" class="btn btn-pov btn-sm btn-default @(if(viewby == k) "btn-success")" value="@k.id">
                @Messages("viz.argument.socio.pov." + k.name.toLowerCase)
                </button>
            }
            </span>
            <span class="pull-right">
                @exportMenu("tooltip-export-socio", "sociography-graph", Messages("viz.actor.socio.graph"), argument.getTitle, 0)
            </span>
            </h4>
        </div>
        @filterButton()
        &nbsp; @Messages("viz.argument.desc.sociography2")
        <hr class="hr-small">

        @waitforit("waiting")
    </div>
    <div id="sociocontent"></div>
</div>
