@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Argument cited content. All excerpts linked to this argument ordered by shade. (Lazy Loaded)
*
* @param argument the argument to build a radiography for
* @param filters the list of filters that apply here
* @param withBtn with add citations buttons
* @param user current user profile
*
* @Martin Rouffiange
* @Fabian Gilson
*@

@import be.webdeb.presentation.web.controllers.viz.{EVizPane}
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentHolder
@import be.webdeb.core.api.argument.EArgumentLinkShade
@import be.webdeb.presentation.web.controllers.entry.actor.ActorSimpleForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.argument.ArgumentContextVizHolder
@import be.webdeb.presentation.web.views.html.util.filterbar
@import be.webdeb.presentation.web.controllers.entry.EFilterName
@import be.webdeb.presentation.web.controllers.entry.FilterTree

@import be.webdeb.presentation.web.controllers.entry.argument.BaseArgumentHolder
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptHolder
@import be.webdeb.presentation.web.views.html.toolbar.contributionActionsDiv

@import be.webdeb.core.api.contribution.EContributionType
@(
        argument: ArgumentContextVizHolder,
        container : String,
        filters : java.util.Map[EFilterName, java.util.List[FilterTree]],
        withBtn : Boolean,
        user : WebdebUser,
        contextId : Long,
        contributionId : Long,
        contributionType : EContributionType,
        isDebate : Integer
)

@if(withBtn) {
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var container = $("#@container");
            argumentOptionsHandler(container);
            excerptOptionsHandler(container);
        });
    </script>
}

@if(filters != null && !filters.isEmpty) {
    @filterbar(filters)
}

@item(actors : java.util.List[ActorSimpleForm]) = {
    @for(a <- actors) {
        <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(a.getId, EVizPane.CARTO.id, 0)">
            <span class="text-muted">@a.getFullname</span>
        </a>,
    }
}

@cartobox(excerpt : ExcerptHolder, linktype : EArgumentLinkShade) = {
    <div class="arg-carto-box arg-box filterable-item @BaseArgumentHolder.getCartoColor(linktype)" data-filterable="@excerpt.getFilterable">
        <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(excerpt.getTextId, EVizPane.CITATION.id, 0)">
            <span class="@if(excerpt.isIndecision){indecision} box-title">@excerpt.getWorkingExcerpt</span>
        </a>

        @contributionActionsDiv(excerpt, isDebate > 0, argument.getId, if(contextId == null){null}else{contextId}, null, true, false, user)

        <footer class="bottom-border" style="margin-left: 15px; margin-top: 5px; margin-bottom: 5px;">
            <i class="text-muted">
                @item(excerpt.getReporters)
                @Messages("actor.role.signed"),
                <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(excerpt.getTextId, EVizPane.DETAILS.id, 0)">
                    <span class="text-muted">@excerpt.getTextTitle</span>
                </a>
                @* @if(excerpt.getSource != null && excerpt.getSource.length > 0){, @excerpt.getSource} *@
                @if(excerpt.getPublicationDate != null && excerpt.getPublicationDate.length > 0){, @excerpt.getPublicationDate}
            </i>
        </footer>
    </div>
}

@radiography(k : EArgumentLinkShade, list : java.util.List[ExcerptHolder]) = {
    <div class="col-xs-12 col-md-4 padding-column">
        <div class="arg-carto">
            <div class="arg-carto-box small">
                <h4 class="text-shade-@k.id()">
                    @list.size @Messages("viz.argument.carto.0") @titleText(k.id())
                </h4>
            </div>
            @if(list.size <= 6) {
                @for(l <- list) {
                    @cartobox(l, k)
                }
            } else {
                @for(l <- list.subList(0, 6)) {
                    @cartobox(l, k)
                }
                <div class="arg-carto-box small">
                    <button class="btn btn-xs btn-link secondary" data-toggle="collapse"
                    data-target=".showall-@k.name.toLowerCase">
                        @Messages("browse.showall.argument")
                        (@(list.size() - 6))
                        &nbsp;<span class="fa fa-chevron-down"></span>
                    </button>
                </div>
                <div class="collapse showall-@k.name.toLowerCase">
                @for(l <- list.subList(6, list.size)){
                    @cartobox(l, k)
                }
                </div>
            }
            @if(withBtn) {
                <div class="arg-carto-box small">
                    <button class="btn btn-link btn-simple-link argument-add-citation-btn
                        @BaseArgumentHolder.getShadeColor(k)" title="@Messages("text.args.tooltip.arg.add")"
                    data-id="@argument.getId" data-context-id="@if(contextId == null){-1}else{@contextId}" data-linktype="@k.id()">
                        <span> <i class="fas fa-plus-square"></i>
                                &nbsp;@Messages("viz.argument.carto.add.argument.title") @titleText(k.id())
                        </span>
                    </button>
                </div>
            }
        </div>
    </div>
}

@titleText(id : Integer) = {
    @if(isDebate == 1){
        @Messages("viz.argument.radio2." + id)
    }else{
        @if(isDebate == 2){
            @Messages("viz.argument.radio3." + id)
        }else{
            @Messages("viz.argument.radio." + id)
        }
    }
}

<div>
    @* cut screen in five parts *@
    <div class="col-xs-12 no-padding">
    @if(contributionId != null){
        @for((map, i) <- argument.viewRadiography(contributionId, contributionType, user).zipWithIndex) {
            <div class="col-xs-12 no-padding">
                <hr class="hr-small hr-grey">
                <h4>@Messages("viz.actor.radio.citation." + contributionType.name.toLowerCase + "." + i)</h4>
                <hr class="hr-small hr-grey">
                @for((k, list) <- map.iterator) {
                    @radiography(k, list)
                }
            </div>
        }
    }else{
        @for((k, list) <- argument.viewRadiography(user).iterator) {
            @radiography(k, list)
        }
    }
    </div>
</div>