@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Main (tabbed) template to visualize an Argument, containing its cartography, radiography and sociography.
*
* @param argument the argument to visualize
* @param filters the list of filters that apply here
* @param tab the EVizPane id to select which pane is displayed
* @param pov the point of view to select, if any in the selected pane
* @param user the user profile data
* @param map the message map
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.views.html.util.helpButton
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.viz.contributionAdminActions
@import be.webdeb.presentation.web.views.html.viz.vizHeader
@import be.webdeb.presentation.web.views.html.util.{breadcrumb, mediaShareBtn, message}
@import be.webdeb.presentation.web.views.html.viz.metaHolder
@import be.webdeb.presentation.web.controllers.viz.argument.ArgumentContextVizHolder
@import be.webdeb.presentation.web.views.html.viz.argument.argumentCartography
@import be.webdeb.presentation.web.views.html.viz.argument.argumentRadiography
@import be.webdeb.presentation.web.views.html.viz.argument.argumentSociography
@import be.webdeb.presentation.web.controllers.viz.excerpt.EExcerptGroupKey

@import be.webdeb.presentation.web.views.html.viz.argument.argumentTexts
@import be.webdeb.presentation.web.views.html.util.filterButton
@import be.webdeb.presentation.web.views.html.util.waitforit
@(
    argument : ArgumentContextVizHolder,
    filters : java.util.Map[String, java.util.Collection[java.util.Map.Entry[String, String]]],
    tab : EVizPane,
    pov: Integer,
    user : WebdebUser,
    map : java.util.Map[String, String]
)

@scripts = {
    <title>@argument.getFullTitle @Messages("general.metatitle")</title>
    <meta name="description" content="@Messages("general.metatitle.arg.desc")">

    <script src="@routes.Assets.at("javascripts/moment.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/chart.bundle.min.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/excerpt-scripts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/folder-scripts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/actor-scripts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/argument-scripts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/text-scripts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jQuery.highlighter.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/textAnnotator.js")" type="text/javascript"></script>


    <script type="text/javascript">
            var params;
            var filterbars = [];
            $(document).ready(function() {

                handleTabs(@tab.id, @pov);

                // manage change tab for filters and content
                params = {
                    carto : {isToLoad : true},
                    radio : {isToLoad : true},
                    socio : {isToLoad : true},
                    cited : {isToLoad : false},
                    texts : {isToLoad : true}
                };
                manageChangeTab(reloadArgumentLinkedContributions, getArgumentLinkedContributions, filterbars, @argument.getId, params);

                // auto-creation modal if any
                getAutoCreatedModals();
            });

            // load the argument justification map dynamically
            function loadJustificationMap(argument){
                var result = getJustificationMap(argument, linkType);
                result.done(function (html) {
                    $("#argument-"+argument).html(html);
                });
                result.fail(function (jqXHR) {
                    console.log("Load justification map failed");
                });
            }

            /**
             * manage editing of similarity and justification links
             */
            function initEditLinks(paneName){
                var pane = $('#'+paneName+'-tab');
                // manage editing of similarity links

                var saveBtn = pane.find("#save-links");
                var editBtn  = pane.find("#edit-links");
                editBtn.find('span').eq(0).show();
                editBtn.find('span').eq(1).hide();
                saveBtn.hide();

                editBtn.off();
                editBtn.on('click', function() {
                    pane.find(".form-horizontal").toggle();
                    editBtn.find("span").toggle();
                    saveBtn.toggle();

                    checkUserAuth().done(function (html) {
                        editSimilarityLinks(editBtn, saveBtn, pane, paneName);
                    })
                            .fail(function (jqXHR) {
                                redirectToLogin();
                                console.log("Unauthenticated");
                            });
                });
            }

            /**
             * Manage save events for editing of similarity links
             */
            function editSimilarityLinks(editBtn, saveBtn, pane, paneName){
                saveBtn.off();
                saveBtn.on('click', function() {
                    saveLinks(@argument.getId, paneName, findGetParameter("linkType"), getLinksData(pane)).done(function (html) {
                        triggerReloadVizEvent();
                        slideMessage($('#success-save'));
                        saveBtn.prop('disabled', false);
                    })
                            .fail(function (jqXHR) {
                                slideMessage($('#error-save'));
                                saveBtn.prop('disabled', false);
                            });
                });

            }

            /**
             * Converts form data to JSON data to change the links
             */
            function getLinksData(pane){
                var elements = pane.find(".argument-shade");
                var r = {};
                r.links = [];
                elements.each(function() {
                    var that = {};
                    that.linkId = parseInt($( this ).attr("data-link-id"));
                    that.originalLinkId = parseInt($( this ).attr("data-origin-link-id"));
                    that.currentShade = parseInt($( this ).attr("data-current-shade"));
                    that.newShade = parseInt($( this ).find("option:selected" ).val());
                    r.links.push(that);
                });
                return JSON.stringify(r);
            }

    </script>
}


@main(user, scripts, metaHolder(argument)) {

    <div id="msg-div">
        @message(flash)
        @message(map)

        <div id="error-save" class="alert alert-fixed alert-danger" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("danger")</strong> @Messages("text.links.save.error")
        </div>
        <div id="warning-link-exists" class="alert alert-fixed alert-warning" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("warning")</strong> @Messages("argument.links.alreadyexist")
        </div>
        <div id="success-save" class="alert alert-fixed alert-success" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("success")</strong> @Messages("text.links.save.success")
        </div>
        <div id="success-delete" class="alert alert-fixed alert-success" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("success")</strong> @Messages("general.delete.success")
        </div>
        <div id="error-delete" class="alert alert-fixed alert-danger" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("danger")</strong> @Messages("general.delete.error")
        </div>
    </div>

    <div class="row" id="argument-viz">
        @vizHeader(argument)

            <!--  viz areas -->
        <div class="col-xs-12 container-fluid wrapper viz-body no-padding-xs">
            <ul id="tabs" class="nav nav-tabs padding-xs" role="tablist"> @* must reverse order *@
                <li role="presentation"><a id="radio_@EVizPane.RADIO.id" href="#radio-tab" aria-controls="radiography" role="tab" data-toggle="tab">@Messages("viz.argument.pill.radiography")</a></li>
                <li role="presentation"><a id="socio_@EVizPane.SOCIO.id" href="#socio-tab" aria-controls="sociography" role="tab" data-toggle="tab">@Messages("viz.argument.pill.sociography")</a></li>
                <li role="presentation"><a id="carto_@EVizPane.CARTO.id" href="#carto-tab" aria-controls="cartography" role="tab" data-toggle="tab">@Messages("viz.argument.pill.cartography")</a></li>
                <li role="presentation"><a id="socio_@EVizPane.TEXTS.id" href="#texts-tab" aria-controls="texts" role="tab" data-toggle="tab">@Messages("viz.argument.pill.texts")</a></li>
                <li role="presentation" class="fake-tab pull-right">
                    <div>@helpButton("entry.argument.analyse;entry.argument.encode;entry.argument.illustrate;viz.argument", false)</div>
                </li>
            </ul>
            <div id="main" class="tab-content" style="padding-top: 20px">
                <div class="media-share-btn">@mediaShareBtn(argument)</div>
                <div role="tabpanel" class="tab-pane padding-xs" id="carto-tab">
                    <p class="instructions">@Messages("viz.argument.desc.cartography")</p>
                    @argumentCartography()
                </div>

                <div role="tabpanel" class="tab-pane padding-xs" id="radio-tab">
                    <p class="instructions">@Messages("viz.argument.desc.radiography")</p>
                    <div class="col-xs-12 no-padding">
                        <hr class="hr-small">
                        @filterButton()
                        @waitforit("waiting")
                        <div id="radiocontent"></div>
                    </div>
                </div>


                <div role="tabpanel" class="tab-pane padding-xs" id="cited-tab">
                    <p class="instructions">@Messages("viz.argument.desc.radiography")</p>
                    <div class="col-xs-12 no-padding">
                        <hr class="hr-small">
                        @filterButton()
                        @waitforit("waiting")
                        <div id="citedcontent"></div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="socio-tab">
                    <p class="instructions padding-xs">@Messages("viz.argument.desc.sociography")</p>
                    @* <div class="alert alert-info">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>@Messages("info") </strong> @Messages("general.implemented.soon")
                    </div> *@
                    @argumentSociography(argument, EExcerptGroupKey.ORGANIZATION)
                </div>

                <div role="tabpanel" class="tab-pane padding-xs" id="texts-tab">
                    <p class="instructions">@Messages("viz.argument.desc.texts")</p>
                    @argumentTexts()
                </div>

            </div>
        </div>
    </div>

    <div id="modal-anchor">@* used to put the modal frame, in case of user wants to add a new argument *@</div>

}
