@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Argument sociography pane (supported, shaded and opposed), ie, a view where all actors from linked excerpts with
* the current argument (and similar arguments) are compared with them position.
* Similarity graph is shown (ranged column with percentages) (Lazy Loaded)
*
* @param viewed the collection needed for the visualization
* @param filters the list of filters that apply here
* @param user the current user profile
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.entry.EFilterName
@import be.webdeb.presentation.web.controllers.entry.FilterTree
@import be.webdeb.presentation.web.views.html.util.{chartContainer, filterbar}
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.controllers.viz.excerpt.{EExcerptGroupKey, ExcerptSociography}
@import be.webdeb.presentation.web.controllers.viz.excerpt.ExcerptSociographyNode

@(
        viewed : java.util.Map[EExcerptGroupKey, java.util.Collection[ExcerptSociographyNode]],
        filters : java.util.Map[EFilterName, java.util.List[FilterTree]],
        user : WebdebUser
)

<script type="text/javascript">
        $(document).ready(function () {
            var chartData = {
                datasets : [
                    {label: Messages('viz.actor.socio.similar'), backgroundColor: '#39b54a'},
                    {label: Messages('viz.actor.socio.qualifies'), backgroundColor:  '#f7931e'},
                    {label: Messages('viz.actor.socio.opposes'), backgroundColor:  '#ff1d25'}
                ],
                labels : []
            };

            showMe($("#sociocontent").parent().find(".waiting"), false, false);

            $(".socio-data-content").each(function(){
                initSocioChart($(this).prop("id").split("-")[3], chartData, Messages("viz.argument.cited.actors"));
            });

            showMe($("#socio-data-display-@EExcerptGroupKey.ORGANIZATION.id").closest(".chart-container"), true, true);
        });
</script>

@if(filters != null && !filters.isEmpty) {
    @filterbar(filters)
}

<div>
@for((k, s) <- viewed) {
    <div id="socio-data-content-@k.id" class="socio-data-content" style="display: none;">
    @for(node <- s) {
        <div class="actor-thumbnail chart small filterable-item" data-filterable="@node.getFilterable">
            <div class="thumbnail-holder avatar" style="background-image : "@if(node.getAvatar != null){ url(/avatar/".concat(node.getAvatar).concat(")") }"></div>
            <div class="towrap socio-label">
                <h4>
                @if(node.getId != -1) {
                    <a class="normal-style" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(node.getId, EVizPane.CARTO.id, 0)">
                    @node.getLabel
                    </a>
                } else {
            @node.getLabel
            }
            </h4>
            </div>
            <span style="display: none">@node.getStatisticsAsString</span>
        </div>
    }
    </div>
    <div class="col-xs-12 no-padding-xs">
        @chartContainer("socio-data-display-".concat(k.id+""), "chart-labels-middle", "viz.argument.socio.nodata")
    </div>
}
</div>
