@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Argument texts pane to display all texts, folders and debates linked with this argument and its similars
*
* @param viz the argument to display
* @param filters the list of filters that apply here
* @param user current user
*
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.argument.EArgumentLinkShade
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.{EVizPane}
@import be.webdeb.presentation.web.controllers.viz.actor.EActorSortKey
@import be.webdeb.presentation.web.views.html.util.{authorInlineList, filterbar, tooltipBox}
@import be.webdeb.presentation.web.controllers.entry.EFilterName
@import be.webdeb.presentation.web.controllers.entry.FilterTree
@import be.webdeb.presentation.web.controllers.viz.argument.ArgumentContextVizHolder

@import be.webdeb.presentation.web.views.html.browse.textOverview
@import be.webdeb.presentation.web.views.html.browse.debateOverview
@import be.webdeb.presentation.web.views.html.browse.folderOverview

@(
        viz : ArgumentContextVizHolder,
        filters : java.util.Map[EFilterName, java.util.List[FilterTree]],
        user : WebdebUser
)

<script type="text/javascript">

        $(document).ready(function () {
            var container = $("#textscontent");
            initContainerPagers(container, 10);

            var pov = container.parent().find(".btn-pov.btn-success");
            $('.texts-data-display').hide();
            $('#texts-data-display-' + pov.val()).show();
        });

</script>

@if(filters != null && !filters.isEmpty) {
    @filterbar(filters)
}

<div id="texts-data-display-0" class="col-xs-12 texts-data-display no-padding-xs">

    <div class="pageable showall">
    @for(h <- viz.viewTextTexts(user)) {
        @textOverview(h, true, false, false)
    }
    </div>

    <div id="no-cited" class="col-xs-12" @if(!viz.viewTextTexts(user).isEmpty()){style="display: none;"}>
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("info") </strong> @Messages("viz.argument.texts.nodata.texts")
        </div>
    </div>
</div>

<div id="texts-data-display-1" class="col-xs-12texts-data-display no-padding-xs" style="display: none">

    <div class="pageable showall">
        @for(h <- viz.viewTextDebates()) {
            @debateOverview(h, true, false, false)
        }
    </div>

    <div id="no-cited" class="col-xs-12" @if(!viz.viewTextDebates().isEmpty()){style="display: none;"}>
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("info") </strong> @Messages("viz.argument.texts.nodata.debates")
        </div>
    </div>
</div>

<div id="texts-data-display-2" class="col-xs-12texts-data-display no-padding-xs" style="display: none">

    <div class="pageable showall">
        @for(h <- viz.viewTextFolders(user)) {
            @folderOverview(h, true, false, false)
        }
    </div>

    <div id="no-cited" class="col-xs-12" @if(!viz.viewTextFolders(user).isEmpty()){style="display: none;"}>
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("info") </strong> @Messages("viz.argument.texts.nodata.folders")
        </div>
    </div>
</div>