@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Add a select form to change shade of similar arg
*
* @param
*
* @author Martin Rouffiange
*@

@import helper._

@(
        argumentId : Long,
        argumentLinkId : Long,
        selected : Integer
)
<div class="form-horizontal col-xs-12 no-padding" style="display: none">
    <div class="form-group">
        <label for="linkform-@argumentId" class="control-label col-sm-3">Type : </label>
        <div class="col-sm-9">
            <select id="linkform-@argumentId" class="form-control argument-shade" data-link-id="@argumentLinkId" data-current-shade="@selected">
                <option value="-1">@Messages("argument.links.type.-1")</option>
                @if(selected <= 2) {
                    <option value="0" @if(selected == 0) {selected}>@Messages("argument.links.shade.0") </option>
                    <option value="1" @if(selected == 1) {selected}>@Messages("argument.links.shade.1") </option>
                    <option value="2" @if(selected == 2) {selected}>@Messages("argument.links.shade.2") </option>
                }else{
                    @if(selected <= 5) {
                        <option value="3" @if(selected == 3) {selected}>@Messages("argument.links.shade.3") </option>
                        <option value="4" @if(selected == 4) {selected}>@Messages("argument.links.shade.4") </option>
                        <option value="5" @if(selected == 5) {selected}>@Messages("argument.links.shade.5") </option>
                    }else{
                        <option value="6" @if(selected == 6) {selected}>@Messages("argument.links.shade.6") </option>
                        <option value="7" @if(selected == 7) {selected}>@Messages("argument.links.shade.7") </option>
                        <option value="8" @if(selected == 8) {selected}>@Messages("argument.links.shade.8") </option>
                    }
                }
            </select>
        </div>
    </div>
    <hr class="hr-small">
</div>
