@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Election 2019 stats 2
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.util.waitforit
@import be.webdeb.presentation.web.views.html.others.election.election2019statsSummary
@(
        user : WebdebUser
)


@scripts = {
    <title>@Messages("election.2019.stats.2.title") @Messages("general.metatitle")</title>
    <meta name="description" content="@Messages("election.2019.stats.2.desc.1")">

    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Messages("election.2019.stats.2.title")" />
    <meta property="og:description" content="@Messages("election.2019.stats.2.desc.1")" />
    <meta property="og:url" content="@be.webdeb.presentation.web.controllers.routes.Application.otherElectionStatsPage(2).absoluteURL()" />
    <meta property="og:image" content="@routes.Assets.at("images/others/election/2/share_graph.png").absoluteURL()" />

    <style>

    </style>

    <script type="text/javascript">
            $(document).ready(function() {
                $('.waiting').show();
                let container = $('#candidates-container');

                otherElectionStatsPageAsync(2).done(function (html) {
                    container.empty().append(html);
                }).fail(function (jqXHR) {
                    console.log("Error when load async");
                });
            });

    </script>

    <style>
        .election-chart-header{
            background-color: grey;
            border-bottom : 1px solid black;
        }
    </style>
}


@main(user, scripts) {

    <div id="webdeb-theme-presentation" class="row">

        <div class="col-xs-12">
            <h1>@Messages("election.2019.stats.2.title")</h1>
            <br>

            <div class="col-xs-12 no-padding-xs">
                <div class="row hidden-lg">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <div class="election-desc">
                            <p>@Messages("election.2019.stats.2.desc.1")</p>
                            <p>@Messages("election.2019.stats.2.desc.2")</p>
                            <p>@Messages("election.2019.stats.2.desc.3")</p>
                            <p>@Messages("election.2019.stats.2.desc.4")</p>
                        </div>
                        <br>
                    </div>

                    <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                        <img src="@routes.Assets.at("images/others/election/2/graph1.svg")" class="image-selectable" alt="graph1" style="max-width: 100%">
                        <p class="text-center"><em>@Messages("election.2019.stats.2.graph")</em></p>
                    </div>
                </div>

                <div class="col-xs-12 flex-container" style="justify-content: center;">
                    <div class="election-desc text-center visible-lg" style="width : 700px;margin-left : 20px;margin-right : 20px">
                        <p>@Messages("election.2019.stats.2.desc.1")</p>
                        <p>@Messages("election.2019.stats.2.desc.2")</p>
                        <p>@Messages("election.2019.stats.2.desc.3")</p>
                        <p>@Messages("election.2019.stats.2.desc.4")</p>
                    </div>

                    <div class="text-center visible-lg" style="flex-grow: 1">
                        <img src="@routes.Assets.at("images/others/election/2/graph1.svg")" class="image-selectable" alt="graph1" style="max-width: 100%">
                        <p class="text-center"><em>@Messages("election.2019.stats.2.graph")</em></p>
                    </div>
                </div>

                <div class="col-xs-12 no-padding" style="margin-top : 10px;">
                    <h3>@Messages("election.2019.stats.2.list")</h3>
                    <br>
                    <div id="candidates-container">
                        @waitforit("waiting")
                    </div>
                </div>

                @election2019statsSummary(2, "electionTitle2")

            </div>
        </div>
    </div>
}
