@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* All excerpts and theirs arguments.
*
* @param excerptArguments
* @param actorId the actor id that is the thinker of excerpts if any
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.views.html.util.authorInlineList
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptHolder
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextHolder
@import be.webdeb.presentation.web.views.html.util.{tooltipBox}

@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.controllers.entry.argument.BaseArgumentHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.toolbar.contributionActionsDiv
@import be.webdeb.core.api.contribution.EContributionType
@import be.webdeb.presentation.web.views.html.util.waitforit
@import be.webdeb.presentation.web.views.html.util.excerptsMetrics
@(
        arguments : java.util.List[ArgumentContextHolder],
        actorId : Long,
        user : WebdebUser
)

@content = {
    <button class="btn btn-link primary" title="@Messages("text.args.tooltip.arg.add")">
        <span class="fa fa-plus"></span>&nbsp; @Messages("text.args.add.argument")
    </button>
}

@datacontent(id : Long) = {
    <label for="sortby-group">@Messages("viz.argument.new.desc")</label>
    <div id="sortby-group" class="btn-group btn-group-sm">
        <button id="cited-new_@id" class="btn btn-default btn-checkbox" type="button" value="0">
            <span class="fa fa-check-circle"></span>&nbsp;@Messages("viz.argument.new.similar")
        </button>
        <button id="cited-new_@id" class="btn btn-default btn-checkbox" type="button" value="1">
            <span class="fa fa-dot-circle-o"></span>&nbsp;@Messages("viz.argument.new.qualifies")
        </button>
        <button id="cited-new_@id" class="btn btn-default btn-checkbox" type="button" value="2">
            <span class="fa fa-times-circle"></span>&nbsp;@Messages("viz.argument.new.rejects")
        </button>
    </div>
}

@for(a <- arguments) {
    <div class="col-xs-12 filterable-item no-padding" data-filterable="@a.getFilterable">
        <div class="row">
            <div class="col-xs-12">
                <blockquote class="no-border" style="font-style: normal!important;padding-bottom: 6px;">
                    <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.argumentContext(a.getId, EVizPane.RADIO.id, 0)"
                    class="normal-style serif pager-text-to-sort" style="font-size : 18px">
                        @a.getFullTitle
                    </a>
                    @excerptsMetrics(a.getExcerptMetrics(user), a.getId, actorId)
                    @contributionActionsDiv(a, false, null, null, actorId, true, false, user)

                    <button class="btn btn-xs btn-link secondary argument-see-citations-btn" data-id="@a.getId" data-contribution-id="@actorId">
                        @Messages("viz.actor.radio.showexc", a.getNbRelatedElements(EContributionType.EXCERPT, user))&nbsp;<span class="fa fa-chevron-down"></span>
                    </button>
                </blockquote>

            </div>
        </div>
        <hr class="argument-list">
    </div>
}