@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* All excerpts linked to an argument.
*
* @param excerpts
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.views.html.util.authorInlineList
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptHolder
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextHolder
@import be.webdeb.presentation.web.views.html.util.{tooltipBox}

@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.controllers.entry.argument.BaseArgumentHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.toolbar.contributionActionsDiv
@(
        excerpts : java.util.List[ExcerptHolder],
        user : WebdebUser
)

@for((e, index) <- excerpts.zipWithIndex) {
    <blockquote class="no-border filterable-item" data-filterable="@e.getFilterable">
        @if(e.getLinkShade != null){<span class="@BaseArgumentHolder.getShadeColor(e.getLinkShade)"><i class="fas fa-bullseye"></i></span>}
        @e.getWorkingExcerpt
        <footer>
            <cite>
                @authorInlineList(e.getReporters(3), EVizPane.CITATION), @Messages("actor.role." + e.getCommentsType.name.toLowerCase),
            <a class="normal-style primary" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(e.getTextId, EVizPane.CITATION.id, 0)">
            @e.getTextTitle
            </a>
                @if(e.getPublicationDate != null && e.getPublicationDate.length > 0){, @e.getPublicationDate}
            </cite>
        </footer>
    </blockquote>

    @if(index < excerpts.size() - 1){
        <hr class="hr-small">
    }
}