@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Modal frame to display the history of a contribution
*
* @param title the contribution "title"
* @param history a list of history api objects
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.account.settings.ESettingsPane
@import be.webdeb.core.api.contribution.ContributionHistory
@import be.webdeb.presentation.web.views.html.util.emptyModalframe


@(
    title : String,
    history : List[ContributionHistory]
)


@emptyModalframe("contrib-history", false, "form", "", false) {
  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">
      @Messages("viz.admin.history.title")
      <span class="small-caps text-primary">@title</span>
    </h3>
  </div>

  <div class="modal-body row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 220px;">@Messages("viz.admin.history.version")</th>
            <th style="width: 200px;">@Messages("viz.admin.history.author")</th>
            <th style="width: 100px;">@Messages("viz.admin.history.modification")</th>
            <th>@Messages("viz.admin.history.trace")</th>
          </tr>
        </thead>
        <tbody>
          @for(h <- history) {
            <tr>
              <td>@h.getVersion</td>
              <td><a href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(h.getContributor.getId, ESettingsPane.PROFILE.id)" class="normal-style">
                @h.getContributor.getPseudo
                @if(h.getContributor.isDeleted){
                  (<span>@Messages("contributor.isDeleted")</span>)
                }else{
                  @if(h.getContributor.getPseudo != null){(} @h.getContributor.getFirstname @h.getContributor.getLastname @if(h.getContributor.getPseudo != null){)}
                }
              </a>
              </td>
              <td>@h.getModificationStatus.name.toLowerCase</td>
              <td>@h.getTrace</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal-footer">
    <div class="pull-right">
      <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.close")</button>
    </div>
  </div>
}
