@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* All arguments linked to an excerpt.
*
* @param arguments the list of related arguments
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.views.html.util.{emptyModalframe}
@import be.webdeb.presentation.web.views.html.util.authorInlineList
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptHolder
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextHolder

@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.controllers.entry.argument.BaseArgumentHolder
@import be.webdeb.presentation.web.views.html.toolbar.contributionActionsDiv

@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.core.api.argument.EArgumentLinkShade
@(
        excerpt : ExcerptHolder,
        arguments : java.util.Map[EArgumentLinkShade, java.util.List[ArgumentContextHolder]],
        user : WebdebUser
)


<script type="text/javascript">
    $(document).ready(function () {
        let modal = $("#modal-excerpt-arguments");
        argumentOptionsHandler(modal.find(".modal-body"));
        excerptOptionsHandler(modal.find(".modal-body"));
    });
</script>

@cartobox(argument : ArgumentContextHolder, linktype : EArgumentLinkShade) = {
    <div class="arg-carto-box arg-box filterable-item @BaseArgumentHolder.getCartoColor(linktype)" data-filterable="@argument.getFilterable">
        <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(excerpt.getTextId, EVizPane.CITATION.id, 0)">
            <span class="@if(excerpt.isIndecision){indecision} box-title">@excerpt.getWorkingExcerpt</span>
        </a>

        @contributionActionsDiv(argument, false, argument.getId, argument.getContextId, null, true, false, user)
    </div>
}

@emptyModalframe("modal-excerpt-arguments", false, "full", "", false) {

    <div class="modal-header">
        <h3 class="modal-title small-caps text-muted"> @excerpt.getWorkingExcerpt </h3>
    </div>

    <div class="modal-body row">
        <div class="col-xs-12">
            <div class="col-xs-12 no-padding-xs">
            @for((k, list) <- arguments.iterator) {
                <div class="col-md-4 col-xs-12 padding-column">
                    <div class="arg-carto">
                        <div class="arg-carto-box small">
                            <h4 class="text-shade-@k.id()">
                                <p>@list.size @Messages("viz.excerpt.arguments." + k.id())</p>
                            </h4>
                        </div>
                        @* author name, source or date *@

                        @* show at most two and hide the rest under "+ button" *@
                        @if(list.size <= 6) {
                            @for(l <- list) {
                                @cartobox(l, k)
                            }
                        } else {
                            @for(l <- list.subList(0, 6)) {
                                @cartobox(l, k)
                            }
                            <button class="btn btn-xs btn-link secondary" data-toggle="collapse"
                            data-target=".showall-authors-@k.id()">
                                @Messages("viz.showmore.excerpt") (@(list.size - 6))
                                &nbsp;<span class="fa fa-chevron-down"></span>
                            </button>
                            <div class="collapse showall-authors-@k.id()">
                            @for(l <- list.drop(6)) {
                                @cartobox(l, k)
                            }
                            </div>
                        }
                        <div class="arg-carto-box small">
                            <button class="btn btn-link btn-simple-link excerpt-add-argument-btn
                            @BaseArgumentHolder.getShadeColor(k)" title="@Messages("text.args.tooltip.arg.add")"
                            data-id="@excerpt.getId" data-context-id="@excerpt.getTextId" data-linktype="@k.id()">
                                <span> <i class="fas fa-plus-square"></i>
                                        &nbsp;@Messages("viz.argument.carto.add.argument.title") @Messages("viz.argument.radio." + k.id())
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-actions pull-left">
            <button id="cancel-btn" type="button" name="cancel" class="btn btn-default" data-dismiss="modal">
                <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.close")
            </button>
        </div>
    </div>

}