@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* All excerpts and theirs arguments.
*
* @param excerptArguments
* @param actorId the actor id that is the thinker of excerpts if any
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.views.html.util.authorInlineList
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptHolder
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextHolder

@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.controllers.entry.argument.BaseArgumentHolder
@import be.webdeb.presentation.web.views.html.toolbar.contributionActionsDiv

@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.core.api.contribution.EContributionType

@import be.webdeb.presentation.web.views.html.util.waitforit
@(
        excerpts : java.util.List[ExcerptHolder],
        actorId : Long,
        user : WebdebUser
)

@excerptDiv(e : ExcerptHolder) = {
    <div class="col-xs-12 filterable-item no-padding" data-filterable="@e.getFilterable">
        <div class="row">
            <div class="col-xs-12">
                <blockquote class="no-border" style="font-style: normal!important;">
                    <span class="normal-style serif pager-text-to-sort" style="font-size : 18px">@e.getWorkingExcerpt</span>
                    @contributionActionsDiv(e, false, null, null, actorId, true, false, user)

                    @if(e.getNbRelatedElements(EContributionType.ARGUMENT_CONTEXTUALIZED, user) == 0) {
                        <button type="button" class="btn btn-link primary btn-simple-link excerpt-add-argument-btn"
                        title="@Messages("viz.actor.radio.citation.nolink")" style="font-size: 18px;"
                        data-id="@e.getId" data-context-id="@e.getTextId">
                            <i class="fas fa-comment-slash"></i>
                        </button>
                    }

                    <div class="flex-container">
                        <div style="flex-grow: 1">
                            <button class="btn btn-xs btn-link secondary excerpt-see-arguments-btn" data-id="@e.getId">
                                @Messages("viz.actor.radio.showarg", e.getNbRelatedElements(EContributionType.ARGUMENT_CONTEXTUALIZED, user))&nbsp;<span class="fa fa-chevron-down"></span>
                            </button>
                        </div>

                        <footer>
                            <cite>
                                @if(e.getCommentsType != null) {
                                    @authorInlineList(e.getReporters(3), EVizPane.RADIO), @Messages("actor.role." + e.getCommentsType.name.toLowerCase),
                                }
                                <a class="normal-style primary" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.text(e.getTextId, EVizPane.CITATION.id, 0)">
                                @e.getTextTitle
                                </a>
                                @if(e.getPublicationDate != null && e.getPublicationDate.length > 0){, @e.getPublicationDate}
                            </cite>
                        </footer>
                    </div>
                </blockquote>

            </div>
        </div>
        <hr class="argument-list">
    </div>
}

@for(e <- excerpts) {
    @if(e.getNbRelatedElements(EContributionType.ARGUMENT_CONTEXTUALIZED, user) == 0){
        @excerptDiv(e)
    }
}

@for(e <- excerpts) {
    @if(e.getNbRelatedElements(EContributionType.ARGUMENT_CONTEXTUALIZED, user) > 0){
        @excerptDiv(e)
    }
}