@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Search page. Contains a search bar. When going directly here (without being redirected from a prefilled-search),
* will display overviews of results (using a switch on concrete type of ContributionHolder)
*
* @param searchForm the form for the search query
* @param elements a list of contribution holders to be displayed
* @param user the user profile data
* @param map the message map
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.contribution.EContributionType
@import be.webdeb.presentation.web.controllers.browse.SearchForm
@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser

@import be.webdeb.presentation.web.views.html.browse.searchbar
@import be.webdeb.presentation.web.views.html.mainBrowse
@import be.webdeb.presentation.web.views.html.browse.defaultResult
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, breadcrumb, inlineform, hiddenFormField, message, noResultMessage, scrollTopWrapper}

@import helper._

@import be.webdeb.core.api.contributor.EContributionVisibility
@import be.webdeb.presentation.web.views.html.main
@(
        elements : java.util.Collection[ContributionHolder],
        user : WebdebUser,
        map : java.util.Map[String, String]
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@scripts = {
    <title>@Messages("general.metatitle.explore.title") @Messages("general.metatitle")</title>
    <meta name="description" content="@Messages("general.metatitle.explore.desc")">

    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Messages("general.metatitle.explore.title") @Messages("general.metatitle.explore.desc")" />
    <meta property="og:description" content="@Messages("general.metatitle.explore.desc")" />
    <meta property="og:url" content="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.index().absoluteURL()" />
    <meta property="og:image" content="@routes.Assets.at("images/webdeb_sharable.png").absoluteURL()" />

    <style>
            .carousel-indicators li {
                display: none;
                width: 10px;
                height: 10px;
                margin: 1px;
                text-indent: -999px;
                cursor: pointer;
                background-color: #000\9;
                background-color: rgba(0,0,0,0);
                border: 1px solid #e76f6f;
                border-radius: 10px !important;
                top: 20px !important;
                position: relative;
            }
            .carousel-indicators .active {
                display: none;
                background-color: #e76f6f;
            }
    </style>

}

@main(user, scripts) {

    @message(map)

    <div class="row">

        <div class="col-xs-12">

            <h2 style="text-align: center">
            @Messages("explore.title.news")
            </h2>
            <hr>

            <div class="col-xs-12 col-lg-6 text-center hidden-xs">
                <a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElection">
                    <img src="@routes.Assets.at("images/others/election.png")" alt="election 2019">
                </a>
                <div class="election1">
                    <div>
                        <span><a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElection">@Messages("election.2019.title")</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-lg-6 text-center visible-xs no-padding test2">
                <div class="election2">
                    <a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElection">@Messages("election.2019.title")</a>
                </div>
                <div>
                    <a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElection"><img src="@routes.Assets.at("images/others/election_xs.png")" alt="election 2019" style="width:100%"></a>
                </div>
            </div>

            <div class="col-xs-12 col-lg-6 text-center">
                <a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElectionStatsPage(6)">
                    <img src="@routes.Assets.at("images/others/election/6/graph6.svg")" class="image-selectable" alt="graph1" style="max-width: 650px; border : 1px solid black;background-color: white">
                </a>
                <div class="election1">
                    <div>
                        <span><a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElectionStatsPage(6)">@Messages("election.2019.stats.6.title")</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-center">
                <a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElectionStats">
                    <img src="@routes.Assets.at("images/others/election_stats.svg")" class="image-selectable" alt="graph1" style="max-width: 650px; border : 1px solid black">
                </a>
                <div class="election1">
                    <div>
                        <span><a class="election-link" href="@be.webdeb.presentation.web.controllers.routes.Application.otherElectionStats">@Messages("election.2019.stats.title")</a></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12">

            <h2 style="text-align: center">
            @Messages("explore.title.slides")
            </h2>
            <hr>

            @*
            <embed src="/assets/static/rsc/presentation.pdf" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html"
            width="100%" height="520">
            *@

            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-width:1280px;margin:auto">
                    <!-- Indicators -->
                <ol class="carousel-indicators">
                @for(i <- 1 to 42) {
                    <li data-target="#myCarousel" data-slide-to="@i" @if(i == 1){class="active"}></li>
                }
                </ol>

                    <!-- Wrapper for slides -->
                <div class="carousel-inner">
                @for(i <- 1 to 42){
                    <div class="item @if(i == 1){active}">
                        <img src="@routes.Assets.at("images/others/explore/presentation/Diapositive" + i + ".JPG")" alt="dia@i">
                    </div>
                }
                </div>

                    <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

        </div>

    </div>

    <button type="button" id="expand-search" class="btn btn-link btn-filter" style="display:none; margin-left:15px;">
        <i class="fa fa-arrows-h"></i>&nbsp;<span class="btn-text">@Messages("browse.search.expand")</span>
    </button>
}
