@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal frame to search for a contribution to merge
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.core.api.contribution.EContributionType
@import be.webdeb.presentation.web.controllers.browse.SearchForm
@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, emptyModalframe, hiddenField, inlineform}
@import helper._


@(
    contribution: ContributionHolder,
    searchForm : Form[SearchForm],
    user : WebdebUser
)

<script type="text/javascript">

  $(document).ready(function() {

    // bind typeahead / load argument on selection handler in search bar (no switch in scala templates)
    if (@contribution.getType.id === @EContributionType.ACTOR.id) {
      addActorTypeahead('#query', -1);
    } else if (@contribution.getType.id === @EContributionType.ARGUMENT_CONTEXTUALIZED.id) {
      addArgumentContextTypeahead('#query', @contribution.getId);
    } else if (@contribution.getType.id === @EContributionType.TEXT.id) {
      addTextTypeahead('#query');
    } else if (@contribution.getType.id === @EContributionType.DEBATE.id) {
      addDebateTypeahead('#query', @contribution.getId);
    } else if (@contribution.getType.id === @EContributionType.EXCERPT.id) {
      addExcerptTypeahead('#query', @contribution.getId);
    } else {
      addFolderTypeahead('#query', @contribution.getId);
    }

    var query = $('#query');
    // do post on search button pressed
    $('#search-btn').on('click', function() {
      runSearch();
    });

    query.on('typeahead:selected', function() {
      runSearch();
    });

    query.keyup(function(e){
      if(e.keyCode === 13) {
        runSearch();
      }
    });

    // select is disabled by default
    var selectbtn = $('#select-btn');
    selectbtn.prop('disabled', true);
    selectbtn.on('click', function() {
      window.location = '/entry/domerge?origin=' + @contribution.getId
          + '&replacement=' + $('.selected').prop('id').split('_')[1]
          + '&type=' + @contribution.getType.id;
    });
  });

  // launch search and remove this contribution from list after the search promise returns
  function runSearch() {
    executeSearch('#search', '#result-anchor', '#pager', 5, '.toggleable', false, true).then(function (pager) {
      postSearchExecuteFilter(pager, "#merge-contrib", "#result-anchor");
    });
  }
</script>


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@emptyModalframe("merge-contrib", false, "", "", true) {
  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">@Messages("viz.admin.merge.search.title")</h3>
  </div>

  <div class="modal-body row">
    <div id="search-content">
      <form id="search" class="col-xs-12">
        <div class="col-xs-12 input-group">
          <div class="input-group">
            <span class="input-group-addon">@Messages("viz.admin.merge.search.label." + contribution.getType.id())</span>
            @inputText(
              searchForm("query"),
              'placeholder -> Messages("viz.admin.merge.search.place." + contribution.getType.id()),
              '_label -> null,
              'class -> "form-control",
              'autocomplete -> "off"
            )(handler = inlineform, implicitly[Messages])

            @hiddenField("isText", "isText", contribution.getType == EContributionType.TEXT)
            @hiddenField("isArgument", "isArgument", contribution.getType == EContributionType.ARGUMENT)
            @hiddenField("isArgumentContext", "isArgumentContext", contribution.getType == EContributionType.ARGUMENT_CONTEXTUALIZED)
            @hiddenField("isDebate", "isDebate", contribution.getType == EContributionType.DEBATE)
            @hiddenField("isExcerpt", "isExcerpt", contribution.getType == EContributionType.EXCERPT)
            @hiddenField("isActor", "isActor", contribution.getType == EContributionType.ACTOR)
            @hiddenField("isFolder", "isFolder", contribution.getType == EContributionType.FOLDER)
            @hiddenField("inGroup", "inGroup", user.getGroup.getGroupId)
            @hiddenField("ignore", "ignore", contribution.getId)

            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="search-btn" title="@Messages("browse.search.tooltip")" data-placement="bottom">
                <span class="fa fa-search"></span>
              </button>
            </span>
          </div>
        </div>
        <p class="instructions">
        </p>
        @Html(Messages("viz.admin.merge.search.instructions"))
      </form>

      <div id="result-anchor" class="col-xs-12 pointable-content large-font"></div>
    </div> @* search-content *@
  </div>

  <div class="modal-footer">
    <div id="search-footer">
      <div id="search-btns" class="pull-left">
        <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
        <button id="select-btn" type="button" class="btn btn-primary toggleable" title="@Messages("viz.admin.merge.submit.title")">
          @Messages("viz.admin.merge.submit.btn")
        </button>
      </div>
      <div class="pull-right"><ul id="pager" class="pager pagination pagination-sm no-margin"></ul></div>
    </div>
  </div>
}
