@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@
@*
* Add meta data for media sharing
*
* @param contributionHolder the contribution for which the meta data will be added
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.views.html.main

@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@(
        contribution : ContributionHolder
)

@if(contribution == null || contribution.getMediaSharedData == null) {
    <meta property="og:type" content="article" />
    <meta property="og:title" content="WebDeb" />
    <meta property="og:description" content="@Messages("welcome.slogan.1") @Messages("welcome.slogan.2") @Messages("welcome.slogan.3")" />
    <meta property="og:url" content="https://webdeb.be/" />
    <meta property="og:image" content="https://webdeb.be/assets/images/webdeb.png" />
}else {
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@contribution.getMediaSharedData.getTitle" />
    <meta property="og:description" content="@contribution.getMediaSharedData.getDescription" />
    <meta property="og:image" content="@contribution.getMediaSharedData.getImage" />
}