@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Common template to display the viz header
*
* @param vizTitle the contribution name / title
* @param vizMsg the presentation message about the contribution type
* @param holder the contribution holder to display
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.folder.SimpleFolderForm
@import be.webdeb.presentation.web.views.html.util.foldersInlineList

@import be.webdeb.presentation.web.controllers.entry.PlaceForm
@import be.webdeb.presentation.web.views.html.util.placesInlineList
@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@import be.webdeb.presentation.web.controllers.entry.actor.ActorHolder

@import be.webdeb.presentation.web.controllers.viz.actor.ActorVizHolder
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentHolder
@import be.webdeb.presentation.web.controllers.entry.debate.DebateHolder
@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.controllers.entry.folder.FolderHolder
@import be.webdeb.core.api.actor.EActorType
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextHolder
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@(
        holder : ContributionHolder
)


@displayActorLine0(actor: ActorHolder) = {
    @actor.getEActortype match {
        case EActorType.PERSON => {
            @actor.getFullname
        }
        case EActorType.ORGANIZATION => {
            @actor.getFirstNameOrLast
        }
        case _ => {
            @actor.getFullname
        }
    }
}

@displayActorLine1(actor: ActorHolder) = {
    @actor.getEActortype match {
        case EActorType.PERSON => {
            @actor.getBirthdate @if(!actor.getBirthdate.equals("") && !actor.getDeathdate.equals("")){ - @actor.getDeathdate}
        }
        case EActorType.ORGANIZATION => {
            @if(!actor.getFirstNameOrLast.equals(actor.getOrgname.getLast)){@actor.getOrgname.getLast}
        }
        case _ => { @* ignore *@ }
    }
}

@displayActorLine2(actor: ActorHolder) = {
    @actor.getEActortype match {
        case EActorType.PERSON => {
            @actor.getResidence
        }
        case EActorType.ORGANIZATION => {
            @if(actor.getOldorgnames(3).nonEmpty) {
                @Messages("viz.actor.former") @actor.getOldorgnames(3).mkString(", ")
            }
        }
        case _ => { @* ignore *@ }
    }
}

<div class="col-xs-12 viz-head no-padding" id="title">
    <div class="viz-head-flex col-padding">
        @if(!holder.getDefaultAvatar.equals("")){
            <div class="viz-head-elem viz-head-elem-xs" style="text-align:center; height:100px;width:100px;background-image:url(@holder.getDefaultAvatar);background-size: cover;margin-right : 20px;"></div>
            <div class="viz-head-elem-scrolled viz-head-elem-xs" style="text-align:center; height:60px;width:60px;background-image:url(@holder.getDefaultAvatar);background-size: cover;margin-right : 15px;"></div>
        }else{
            <div class="viz-head-elem-xs"><h3 class="small-caps text-muted no-margin">
            @holder match {
                case h: ActorHolder => {
                    @Messages("viz.actor.title." + h.getActortype)
                }
                case h: ArgumentContextHolder => {
                    <span class="primary" style="font-size: 28px;">
                        <i class="far fa-comment"></i>&nbsp;&nbsp;
                    </span>
                }
                case h : DebateHolder => {
                    <span class="primary" style="font-size: 28px;">
                        <i class="far fa-comments"></i>&nbsp;&nbsp;&nbsp;
                    </span>
                }
                case h : TextHolder => {
                    <span class="primary" style="font-size: 28px;">
                        <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;
                    </span>
                }
                case h : FolderHolder => {
                    <span class="primary" style="font-size: 28px;">
                        <i class="far fa-folder"></i>&nbsp;&nbsp;&nbsp;
                    </span>
                }
                case _ => {}
            }
            </h3></div>

            @holder match {
                case h: ActorHolder => {
                    <div class="viz-head-elem-s"><h3 class="small-caps text-muted no-margin">&nbsp;-&nbsp;</h3></div>
                }
                case _ => {}
            }
        }

        @holder match {
            case h: ActorHolder => {
                <div>
                    <div><h1 class="viz-head-title no-padding" style="margin-bottom: 3px">@displayActorLine0(h)</h1></div>
                    <div class="viz-head-elem"><h2 class="viz-head-subtitle-1 text-muted">@displayActorLine1(h)</h2></div>
                    <div class="viz-head-elem"><h2 class="viz-head-subtitle-1 text-muted">@displayActorLine2(h)</h2></div>
                </div>
                <div class="viz-head-elem-scrolled"><h2 class="viz-head-subtitle-1 text-muted">&nbsp;@displayActorLine1(h)</h2></div>
            }
            case h: ArgumentContextHolder => {
                <div><h1 class="viz-head-title">@h.getFullTitle</h1></div>
            }
            case h : DebateHolder => {
                <div class="flex-container" style="align-items: center;">
                    <h1 class="viz-head-title">@h.getFullTitle</h1>
                    <p style="padding-left : 15px;padding-top : 10px">@placesInlineList(h.getId, h.getPlaces)</p>
                </div>
            }
            case h : TextHolder => {
                <div style="flex-grow: 1">
                    <h1 class="viz-head-title">@h.getTitle</h1>
                    <div>
                        <cite>
                            @for((a, i) <- h.getAuthors(3).zipWithIndex) {
                                <a class="normal-style primary" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(a.getId, EVizPane.CITATION.id, 0)">
                                    @a.getFullname@if(i < h.getAuthors(3).size - 1){,}
                                </a>
                            }
                            @if(h.getSourceTitle != null && h.getSourceTitle.length > 0){, @h.getSourceTitle}
                            @if(h.getPublicationDate != null && h.getPublicationDate.length > 0){, @h.getPublicationDate}
                        </cite>
                    </div>
                </div>
            }
            case h : FolderHolder => {
                <div><h1 class="viz-head-title">@h.getFolderName</h1></div>
            }
            case _ => {
                @if(!holder.getPlaces.isEmpty) {
                    <div class="viz-head-elem forcewrap" style="margin-top : 5px;margin-left : 10px">
                        (@placesInlineList(holder.getId, holder.getPlaces))
                    </div>
                }
                @* @if(folders != null) {
                <div class="viz-head-elem forcewrap" style="margin-top: 5px;margin-bottom: 0;">
                @foldersInlineList(folders)
                </div>
                }*@
            }
        }
    </div>
    <hr class="hr-xs-sensible" style="margin-top:0">
</div>
