@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Partial template to add/edit excerpts (composed by a series of steps, aka sub-screens)
*
* @param excForm an excerpt form (holding the excerpt data)
* @param textId the text id from which this excerpt belongs to
* @param excId the excerpt id (may not exist, so -1 or null)
* @param helper helper class to fetch predefined values from (countries, genders, types, ...)
* @param user the user profile data
* @param map the message map (may be null)
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.core.api.contributor.EPermission

@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser

@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.entry.excerpt.editExcerptFields
@import be.webdeb.presentation.web.views.html.util.{textContentButton, helpButton, publishInGroup, authordiv, authorsimplediv, helpbubble, inlineform, noerrorForm, hiddenField, foldertagdiv, hiddenFormField, message, bootstrapInput, breadcrumb, handleNameMatches, handleFolderNameMatches}

@import helper._

@(
        excForm: Form[ExcerptForm],
        textId: Long,
        excId: Long,
        helper : ContributionHelper,
        user : WebdebUser,
        map: java.util.Map[String, String]
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }


@scripts = {
    <title>
        @if(excForm("id").value == "-1") {
            @Messages("argument.new.title")
        } else {
            @Messages("argument.edit.title")
        } @Messages("general.metatitle")
    </title>
    <meta name="description" content="@if(excForm("id").value == "-1") {
        @Messages("general.btn.savein")
    } else {
        @Messages("general.btn.save")}">

    <script src="@routes.Assets.at("javascripts/excerpt-scripts.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            initExcerptListeners($('#excerpt-div_' + @excId), @textId, @excId, cancelExcerptEdit);
        });
    </script>
}

@main(user, scripts) {

    @if(!excForm.hasErrors && excForm.value.nonEmpty) {
        @for((aff, index) <- excForm.get.getActors.zipWithIndex) {
            @if(aff.getNameMatches.size > 0 && !aff.getIsDisambiguated) {
                @handleNameMatches(aff.getNameMatches, true, index)
            }
        }
        @for((aff, index) <- excForm.get.getActors.zipWithIndex) {
            @if(aff.getAffNameMatches.size > 0 && !aff.getIsAffDisambiguated) {
                @handleNameMatches(aff.getAffNameMatches, false, index)
            }
        }
        @for((folder, index) <- excForm.get.getFolders.zipWithIndex) {
            @if(folder.getNameMatches.size > 0 && !folder.getIsDisambiguated) {
                @handleFolderNameMatches(folder.getNameMatches, index)
            }
        }
    }

    <div class="row">
        <div class="col-xs-12">
            <h3 class="small-caps text-muted">
                @if(excForm("id").value == "-1") {
                    @Messages("argument.new.title")
                } else {
                    @Messages("argument.edit.title")
                }
            </h3>
            <hr>
        </div>

        <div class="well col-md-10 col-md-offset-1 col-xs-12" id="excerpt-div_@excId" style="z-index: 3">

            @form(be.webdeb.presentation.web.controllers.entry.excerpt.routes.ExcerptActions.save(textId, excId)) {
               @editExcerptFields(excForm, textId, excId, helper, user, map)
                <div class="form-actions">
                    <button type="button" class="btn btn-default cancel">
                        <span class="fa fa-times-circle"></span>&nbsp; @Messages("general.btn.cancel")
                    </button>
                    <button type="submit" id="submit-form" class="btn btn-primary">
                    @if(excForm("id").value == "-1") {
                        @Messages("general.btn.savein")
                    } else {
                        @Messages("general.btn.save")
                            &nbsp; <span class="fa fa-check-circle"></span>
                    }
                    </button>
                    @if(excForm("id").value == "-1") {
                        @publishInGroup("argument-change-group", "inGroup", user)
                    }
                </div>
            }
        </div>
    </div>
    <div id="nameMatches-anchor"></div>
}