@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reusable template to display affiliations between actors
*
* @param affActorsByActorType a map of affiliations or affiliated actor by actor type
* @param affType type of aff : affiliation or affiliated
* @param affButton the button message to add a new aff
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.actor.ActorHolder
@import be.webdeb.presentation.web.controllers.viz.actor.AffiliationViz
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.core.api.actor.EActorType

@import be.webdeb.presentation.web.controllers.entry.actor.ActorSimpleHolder
@(
        actor : ActorHolder,
        actor2 : ActorSimpleHolder,
        list : java.util.List[AffiliationViz],
        actorType: EActorType,
        withNameHorizontal : Boolean,
        typeClass : String
)

@getHREF() = {
    @if(actorType == EActorType.PERSON){
        @be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(if(actor != null){actor.getId}else{actor2.getId}, EVizPane.CARTO2.id, 0)
    }else{
        @be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(if(actor != null){actor.getId}else{actor2.getId}, EVizPane.CARTO.id, 0)
    }
}

@if(actor != null || actor2 != null) {
    <div class="actor-thumbnail filterable-item @typeClass"
    data-filterable="@if(actor != null){@actor.getFilterable}else{}" data-item-id="@if(actor != null){@actor.getId}else{@actor2.getId}" >
        <div class="thumbnail-holder" data-href="@getHREF()" style="background-color : white;background-image: url(/avatar/@if(actor != null){@actor.getSomeAvatar}else{@actor2.getSomeAvatar}); @if(withNameHorizontal){display: inline-block}"></div>

        <div class="chart-holder" @if(withNameHorizontal){style="display: inline-block"}>
            <h4><a class="normal-style to-clamp" @if(!withNameHorizontal){style="display: block;"}
            href="@getHREF()" title="@if(actor != null) {@actor.getFullname} else {@actor2.getName}">
            @if(actor != null) {@actor.getFirstNameOrLast} else {@actor2.getName}
            </a></h4>
        </div>

        @if(list != null) {
            @* for graph *@
            @for(aff <- list) {
                <div class="actor-affiliation hidden @if(aff.isFilterable) {filterable-item}"
                    @if(aff.isFilterable) {data-filterable="@aff.getFilterable" data-onlyfilteron="function"} >@aff</div>
            }
        }
    </div>
}

