@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Partial page to handle affiliations / affiliated of contributors or actors
*
* @param form the form that contains the affiliation-related fields
* @param fieldName actual name of the field in given form
* @param labelName base name of all labels in form
* @param person boolean saying if the affiliation concerns a person (true) or an organization (false)
* @param affiliated a EAffiliationSubtype define the relation type
* @param title display the title or not
* @param helper used to fetched organization's affiliation types
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, hiddenFormField, inlineform, noerrorForm, helpbubble}
@import helper._

@import be.webdeb.core.api.actor.EAffiliationSubtype
@import be.webdeb.core.api.actor.EActorType
@(
    form: Form[_],
    fieldName: String,
    labelName: String,
    actorType : EActorType,
    affiliated: EAffiliationSubtype,
    title : Boolean,
    helper: ContributionHelper
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }


<div class="controls col-xs-12 no-padding" id="@fieldName" style="margin-bottom: ">
  @if(title) {
    <label class="control-label">@Messages(labelName + "." + fieldName)
      @helpbubble("bubble.title", "bubble.entry.actor.".concat(fieldName))
    </label>
  }
  @repeatWithIndex(form(fieldName), min = 1) { (affiliationField, i) =>
    <div id="@fieldName.concat("_" + i.toString.concat("_aff"))" class="entry input-group padding-group input-group-border smaller-font">
      @if(affiliated != EAffiliationSubtype.FILIATION) {
        <div class="row flex-container" style="align-items: center;">
          <div>
            @if(actorType == EActorType.PERSON) {
              @if(affiliated == EAffiliationSubtype.AFFILIATION) {
                <div class="col-sm-6 padding-field">
                  @inputText(
                    form(affiliationField.name.concat(".function")),
                    '_label -> Messages(labelName + ".function"),
                    'class -> "form-control",
                    'autocomplete -> "off"
                  )(handler = noerrorForm, implicitly[Messages])
                  @hiddenFormField(form(affiliationField.name.concat(".functionid")))
                </div>
                <div class="col-sm-6 padding-field">
                  @inputText(
                    form(affiliationField.name.concat(".affname")),
                    '_label -> Messages(labelName + ".name"),
                    'class -> "form-control",
                    'autocomplete -> "off"
                  )(handler = noerrorForm, implicitly[Messages])
                  @hiddenFormField(form(affiliationField.name.concat(".affid")))
                </div>
              }else {
                <div class="col-sm-6 padding-field">
                  @inputText(
                    form(affiliationField.name.concat(".affname")),
                    '_label -> Messages(labelName + ".name"),
                    'class -> "form-control",
                    'autocomplete -> "off"
                  )(handler = noerrorForm, implicitly[Messages])
                  @hiddenFormField(form(affiliationField.name.concat(".affid")))
                </div>
                <div class="col-sm-6 padding-field">
                  @inputText(
                    form(affiliationField.name.concat(".function")),
                    '_label -> Messages(labelName + ".function"),
                    'class -> "form-control",
                    'autocomplete -> "off"
                  )(handler = noerrorForm, implicitly[Messages])
                  @hiddenFormField(form(affiliationField.name.concat(".functionid")))
                </div>
              }
            } else {
              <div class="col-sm-6 padding-field">
                @select(
                  form(affiliationField.name.concat(".afftype")),
                  options(helper.getAffiliationTypes(ctx.lang.code,
                    if(actorType == EActorType.UNKNOWN) {0} else if(actorType == EActorType.PERSON){2} else {1},
                    if(affiliated == EAffiliationSubtype.AFFILIATED) {1} else {0})),
                  '_default -> Messages(labelName + ".afftype"),
                  '_label -> Messages(labelName + ".afftype"),
                  'class -> "form-control"
                )(handler = noerrorForm, implicitly[Messages])
              </div>
            }
          }
          @if(affiliated == EAffiliationSubtype.FILIATION || actorType != EActorType.PERSON) {
            <div class="@if(affiliated == EAffiliationSubtype.FILIATION){col-xs-12}else{col-sm-6} padding-field">
              @inputText(
                form(affiliationField.name.concat(".affname")),
                '_label -> Messages(labelName + ".name"),
                'class -> "form-control",
                'autocomplete -> "off"
              )(handler = noerrorForm, implicitly[Messages])
              @hiddenFormField(form(affiliationField.name.concat(".affid")))
            </div>
          }

          @if(affiliated != EAffiliationSubtype.FILIATION) {
            <div class="col-md-3 col-sm-5 no-padding">
              <label class="control-label">@Messages("actor.label.affiliation.start")
                @helpbubble("bubble.title", "bubble.entry.actor.affiliations.start")
              </label>
              @select(
                form(affiliationField.name.concat(".startDateType")),
                options(helper.getPrecisionDateTypes(ctx.lang.code, true)),
                '_default -> Messages("actor.label.affiliation.place.starttype"),
                '_label -> "",
                'class -> "form-control",
                'autocomplete -> "off"
              )
            </div>

            <div class="col-md-3 col-sm-7 padding-field">
            @inputText(
              form(affiliationField.name.concat(".startDate")),
              '_label -> "",
              'class -> "form-control form-nolabel",
              'autocomplete -> "off",
              'placeholder -> Messages("actor.place.date")
            )(handler = noerrorForm, implicitly[Messages])
            </div>

            <div class="col-md-3 col-sm-5 no-padding">
              <label class="control-label">@Messages("actor.label.affiliation.end")
                @helpbubble("bubble.title","bubble.entry.text.textType")
              </label>
              @select(
                form(affiliationField.name.concat(".endDateType")),
                options(helper.getPrecisionDateTypes(ctx.lang.code, false)),
                '_default -> Messages("actor.label.affiliation.place.endtype"),
                '_label -> "",
                'class -> "form-control aff-ongoing",
                'autocomplete -> "off"
              )
            </div>

            <div class="col-md-3 col-sm-7 padding-field">
            @inputText(
              form(affiliationField.name.concat(".endDate")),
              '_label -> "",
              'class -> "form-control form-nolabel",
              'autocomplete -> "off",
              'placeholder -> Messages("actor.place.date"),
              if(form(affiliationField.name.concat(".endDateType")).value == "5"){'readonly -> "true"}else{'_label -> ""}
            )(handler = noerrorForm, implicitly[Messages])
            </div>
          }

          <div>
            @hiddenFormField(form(affiliationField.name.concat(".aha")))
            @checkbox(
              form(affiliationField.name.concat(".isDisambiguated")),
              '_name -> affiliationField.name.concat(i.toString).concat("].isDisambiguated"),
              '_label -> null,
              'class -> "form-control hidden"
            )(handler = inlineform, implicitly[Messages])
            @hiddenFormField(form(affiliationField.name.concat(".lang")))
            @hiddenFormField(form(affiliationField.name.concat(".fetched")))
          </div>
        @if(affiliated != EAffiliationSubtype.FILIATION) {
          </div>
        }
        <div class="@if(affiliated != EAffiliationSubtype.FILIATION) {flex-container}else{input-group-btn bottom}">
          <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
          <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
        </div>
      @if(affiliated != EAffiliationSubtype.FILIATION) {
        </div>
        <div class="row">
          <hr class="hr-small hr-grey">
        </div>
      }
    </div>
    @* must handle error message by hand for inlineforms *@
    @form.errors.map { case (key, error) =>
      @if(key.startsWith(affiliationField.name) && error(0).message != "" && !key.startsWith(affiliationField.name.concat(".profession_name"))){
        <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
      }
    }
  }
</div>
