@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Partial page to handle argument of contributions
*
* @param form the form that contains the argument-related fields
* @param helper helper class to fetch predefined values from (countries, genders, types, ...)
* @param argType the type of argument for the select div
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentForm
@import be.webdeb.presentation.web.views.html.util.{authorsimplediv, bootstrapInput, helpbubble, hiddenFormField, inlineform, publishInGroup, noerrorForm, folderdiv}
@import helper._
@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.util.helpButton
@import be.webdeb.core.api.argument.EArgumentType
@import be.webdeb.core.api.argument.EArgumentLinkShade

@(
        form: Form[_],
        label : String,
        helper : ContributionHelper,
        argType : EArgumentType
)

<div id="standarddiv" class="entry input-group col-xs-12">

    <div class="col-xs-12 no-padding">
        <div class="col-xs-12 col-sm-6 col-md-4 no-padding">
            <div class="col-xs-12">
                <div class="input-group col-xs-12">
                    <span>
                    @select(
                        form("shade"),
                        options(helper.getArgumentShades(argType.id, ctx.lang.code)),
                        '_default -> Messages("argument.place.shade"),
                        '_label -> Messages(label + ".standard.shade.label"),
                        'class -> "form-control",
                        'autocomplete -> "off"
                    )(handler = noerrorForm, implicitly[Messages])
                    </span>
                </div>
                @* must handle error message by hand for inlineforms *@
                @form.errors.map { case (key, error) =>
                    @if(key.startsWith("shade") && error(0).message != "") {
                        <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
                    }
                }
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8 no-padding">
            <label class="control-label">@Messages(label + ".standard.part.label")</label>
            <div class="input-group col-xs-12">
                @textarea(
                    form("title"),
                    'placeholder -> Messages("argument.place.standard"),
                    '_label -> null,
                    'class -> "form-control data-autoresize",
                    'rows -> "1"
                )(handler = noerrorForm, implicitly[Messages])
                @if(argType == EArgumentType.FIRST_ARGUMENT) {
                    <span class="input-group-addon">?</span>
                }
                @hiddenFormField(form("argumentDictionaryId"))
                @hiddenFormField(form("languageCode"))
            </div>
            @* must handle error message by hand for inlineforms *@
            @form.errors.map { case (key, error) =>
                @if(key.startsWith("title") && error(0).message != "") {
                    <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
                }
            }
        </div>
    </div>

    <div id="standardPart_warning" class="no-help col-xs-12 no-padding"></div>

    @hiddenFormField(form("id"))
    @hiddenFormField(form("isNotSame"))
    @hiddenFormField(form("argumentId"))
    @hiddenFormField(form("language"))
</div>

