@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Display given excerpts from an argument
*
* @param places a list of places form
* @param selectedPlace the selected place by the user if any
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.views.html.util.{emptyModalframe}

@import be.webdeb.presentation.web.controllers.viz.argument.ArgumentContextVizHolder
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.viz.argument.argumentRadioContent
@import be.webdeb.core.api.contribution.EContributionType
@(
        argument: ArgumentContextVizHolder,
        user : WebdebUser,
        contextId : Long,
        contributionId : Long,
        contributionType : EContributionType,
        isDebate : Integer
)

@emptyModalframe("modal-argument-excerpts", false, "full", "", false) {

    <div class="modal-header">
        <h3 class="modal-title small-caps text-muted"> @argument.getFullTitle </h3>
    </div>

    <div class="modal-body row">
        <div class="col-xs-12 no-padding">
            <div class="col-xs-12 no-padding-xs">
                @argumentRadioContent(argument, "modal-argument-excerpts .modal-body", null, true, user, contextId, contributionId, contributionType, isDebate)
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-actions pull-left">
            <button id="cancel-btn" type="button" name="cancel" class="btn btn-default" data-dismiss="modal">
                <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.close")
            </button>
        </div>
    </div>

}
