@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reusable template to display a list of authors in either text or argument detail page
*
* @param affiliations the list of affiliations to display
* @param fieldname the name of the field to display (eg author or sourceauthor), used when multiple authors are
* present on the same screen (for collapse reference)
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.entry.actor.ActorSimpleForm
@import be.webdeb.presentation.web.controllers.viz.EVizPane


@(
        authors : java.util.List[ActorSimpleForm],
        fieldname : String
)

@author(a : ActorSimpleForm) = {
  <li>
    <a class="primary" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(a.getId, EVizPane.CARTO.id, 0)">
      @a.getFullname
    </a>
    <span class="smaller-font">@a.getFullFunction</span>
    <span class="text-muted smaller-font">(@Messages("actor.role." + a.getRole))</span>
  </li>
}

<ul class="no-icon to-clamp">
  @if(authors.size > 3) {
    @for(a <- authors.subList(0, 3)) {
      @author(a)
    }
    <div class="col-xs-12 no-padding">
      <button class="btn btn-xs btn-link secondary" data-toggle="collapse" data-target=".showall-@fieldname">
        @Messages("viz.showmore.authors") (@(authors.size - 3))
        &nbsp;<span class="fa fa-chevron-down"></span>
      </button>
      <div class="collapse showall-@fieldname">
      @for(a <- authors.drop(3)) {
        @author(a)
      }
      </div>
    </div>
  } else {
    @for(a <- authors) {
      @author(a)
    }
  }
</ul>
