@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Redefine input elements to make them bootstrap-compliant
*
* @param elements a list of field elements
*
* @author Fabian Gilson (from initial contribution of Yvonnick Esnault)
*@


@import helper._


@(
    elements: FieldElements
)


<div class="form-group @if(elements.hasErrors) {has-error}">
  <label for="@elements.id">@elements.label</label>@elements.args.getOrElse('bubble, "")
  @elements.input
  <p class="help-inline">@elements.infos.mkString(", ")</p>
  @if(elements.hasErrors) {
    <div class="label label-danger">@elements.errors.mkString(", ")</div>
  }
</div>
