@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reusable counting map to display the number of excerpts linked to an argument
*
* @param countMap the number of excerpts by shade
*
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.argument.EArgumentLinkShade
@import be.webdeb.presentation.web.controllers.entry.argument.BaseArgumentHolder

@(
        countMap : java.util.Map[Integer, Integer],
        argumentId : Long,
        linkedContributionId : Long
)

@for(shade <- EArgumentLinkShade.getIllustrations) {
    @if(countMap.containsKey(shade.id()) && countMap.get(shade.id()) > 0) {
        <a class="button no-decoration cursor-pointer argument-see-citations-btn"
        title="@Messages("viz.argument.carto.nbexcerpts." + BaseArgumentHolder.getShadeColor(shade), countMap.get(shade.id))"
        data-id="@argumentId" data-contribution-id="@linkedContributionId">
            <span class="@BaseArgumentHolder.getShadeColor(shade)"><i class="fas fa-align-left"></i></span>
        </a> &nbsp;
    }
}