@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reusable exporting menu (with javascript handling) for highcharts graphs
*
* @param id the tooltip id (with export format choice buttons)
* @param chartId id of div containing the highcharts chart
* @param chartTitle title to be displayed on top of exported chart
* @param exportName name to be appended to chart title and file name
* @param listOfExport the number of highcard to import
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.views.html.util.{tooltipBox}
@import play.api.libs.json.Json


@(
    id : String,
    chartId : String,
    chartTitle : String,
    exportName : String,
    listOfExport : Integer
)


<script type="text/javascript">
  $(document).ready(function() {

    // handle export
    var tooltip = $('#@id');
    var listOfExport = @listOfExport;

    $(tooltip).find('[data-toggle="tooltip"]').tooltip();
    tooltip.on('click', function() {
      $(this).popover('toggle');
      $('[id^="' + '@id' + '_btn"]').each(function() {
        $(this).on('click', function () {
          if(listOfExport !== undefined && listOfExport > 0){
            for(var i = 0; i <= listOfExport; i++){

            }
          }else{

          }
          tooltip.popover('toggle');
        });
      });
    });
    $('body').on('click', function (e) {
      if (!$(e.target).parent().hasClass('popover') && !$(e.target).hasClass('btn-link')) {
        tooltip.popover("hide");
      }
    })
  });
</script>


@content = {
  <button class="btn btn-link btn-lg secondary" title="@Messages("general.chart.export.title")">
    <span class="fa fa-download">&nbsp;</span>@Messages("general.chart.export")
  </button>
}

@datacontent = {
  <div class="text-center" style="min-width: 210px">
    <p>@Messages("general.chart.export.desc")</p>
    <div id="group_@id" class="btn-group btn-group-sm">
      <button id="@id.concat("_btn_0")" class="btn btn-default btn-checkbox" type="button" value="PNG">PNG</button>
      <button id="@id.concat("_btn_1")" class="btn btn-default btn-checkbox" type="button" value="JPEG">JPEG</button>
      <button id="@id.concat("_btn_2")" class="btn btn-default btn-checkbox" type="button" value="SVG">SVG</button>
      <button id="@id.concat("_btn_3")" class="btn btn-default btn-checkbox" type="button" value="PDF">PDF</button>
    </div>
  </div>
}

@tooltipBox(id, Messages("general.chart.export.title"), "", datacontent, "", content)
