@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
*  Create inline list of folders linked to a contribution Simple box to display a span with a "tag" icon
*
* @param folders a list of folders
*
* @author Martin Rouffiange
* @author Fabian Gilson original template (topicToken)
*@

@import helper._
@import be.webdeb.presentation.web.controllers.entry.folder.SimpleFolderForm
@import be.webdeb.presentation.web.controllers.viz.EVizPane

@(
        folders : java.util.List[SimpleFolderForm],
        pane : EVizPane
)

@for(folder <- folders) {
  <i class="fa fa-folder"></i>&nbsp;
  <a href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.folder(folder.getFolderId, pane.id(), 0)"
  class="button no-decoration cursor-pointer" title="@Messages("browse.search.tooltip.fromtopic")">
    <span class="tokenlike">@folder.getName</span>
  </a>
}
