@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Partial page to handle folders linked with contributions
*
* @param form the form that contains the folder-related fields
* @param fieldName actual name of the field in given form (will also be added as main div classname for javascript handling)
* @param labelName base name of all labels in form
* @param help boolean saying if an inline help must be shown
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.views.html.util.{helpbubble, hiddenFormField, inlineform, noerrorForm}
@import helper._


@(
        form: Form[_],
        fieldName: String,
        labelName: String,
        help : Boolean
)

<script type="text/javascript">
        $(document).ready(function() {
            $('div[id^="folders_"]').find('[name$="name"]').keypress(function(e) {
                $(this).parents('.padding-field').find('[name$="folderId"]').val('-1');
            });
        });
</script>

<div class="controls col-xs-12 no-padding" id="folders">
    <label class="control-label">@Messages("viz."+labelName+".folders.label")
        @helpbubble("bubble.title","bubble.entry.tags")
    </label>

    <div class="col-xs-12" style="margin-bottom : 8px;">
        @repeatWithIndex(form("folders"), min = 3) { (folderField,i) =>
            <div id="folders_@i.toString.concat("_names")" class="smaller-font col-xs-12 col-sm-4 no-padding">
                <div class="padding-field input-div-group">
                    @inputText(
                        form(folderField.name.concat(".name")),
                        'placeholder -> Messages("argument.label.folder.place.name." + i),
                        '_label -> null,
                        'class -> "form-control",
                        'autocomplete -> "off"
                    )(handler = noerrorForm, implicitly[Messages])
                    @hiddenFormField(form(folderField.name.concat(".folderId")))
                    <div>
                        @checkbox(
                            form(folderField.name.concat(".isDisambiguated")),
                            '_name -> "folders[".concat(i.toString).concat("].isDisambiguated"),
                            '_label -> null,
                            'class -> "form-control hidden"
                        )(handler = inlineform, implicitly[Messages])
                    </div>
                </div>
            </div>
        }

        @form.errors.map { case (key, error) =>
            @if(key.contains("folders") && error(0).message != "") {
                <div class="label label-danger">@Messages(error(0).message)</div>
            }
        }
        <p class="help-inline">@(if(help) Messages(labelName + ".help"))</p>
    </div>
</div>
