@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Partial page to handle contributor group
*
* @param form the form that contains the place-related fields
* @param labelName base name of all labels in form
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.views.html.util.{helpbubble, hiddenFormField, inlineform, noerrorForm}
@import helper._


@(
        form: Form[_],
        labelName: String
)

<div id="contributorGroups" class="controls col-xs-12 no-padding">
    <label class="control-label">@Messages(labelName)</label>
    <div class="controls">
    @repeatWithIndex(form("contributorGroups"), min = 1) { (group, i) =>
        <div id="contributorGroups_@i.toString" class="entry input-group input-group-border padding-group smaller-font">
            <div class="col-xs-12 padding-field">
                @inputText(
                    form(group.name.concat(".name")),
                    'placeholder -> "",
                    '_label -> null,
                    '_help -> "",
                    'class -> "form-control placeselector",
                    'autocomplete -> "off"
                )(handler = noerrorForm, implicitly[Messages])
                @hiddenFormField(form(group.name.concat(".groupId")))
            </div>
            <span class="input-group-btn bottom">
                <button class="btn btn-default btn-sm btn-add" type="button"><span class="fa fa-plus"></span></button>
                <button class="btn btn-default btn-sm btn-remove" type="button"><span class="fa fa-minus"></span></button>
            </span>
        </div>
        @* must handle error message by hand for inlineforms *@
    @form.errors.map { case (key, error) =>
        @if(key.startsWith(group.name) && error(0).message != "") {
            <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
        }
    }
    }
    </div>
    <p></p>
</div>
