@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal dialog to warn user we found a (set of) possible matches on an folder's name and to ask him to either reuse
* an existing element or create a new one (see webdeb-scripts.js handleActorNameMatches)
*
* @param folders a list of folders that have the same name as one present in a form that has not been recognized by
* autocomplete feature
* @param idFolderForm the position of the desambiguation in the form
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.folder.FolderHolder
@import be.webdeb.presentation.web.views.html.viz.folder.folderCard
@import be.webdeb.presentation.web.views.html.util.{emptyModalframe, hiddenField}


@(
        folders: java.util.List[FolderHolder],
        indexFolderForm : Integer
)

@emptyModalframe("namesake-modal", true, "large", "", false) {

  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">
      @Messages("entry.folder.namesake.title") &nbsp;
      <span class="text-primary" id="namesake-name">@folders.get(0).getFolderName</span>
      @* hide all other spellings because spelled namesake may be spelled in another language
      will be used by js code to flag namesake folder *@

      @for((name, i) <- folders.get(0).getFolderNames.zipWithIndex) {
        <span class="hidden namesake">
          @name.getName
        </span>
      }
      @hiddenField("isFolder", "isFolder", "true")
      @hiddenField("indexFolderForm", "indexFolderForm", indexFolderForm)
    </h3>
  </div>

  <div class="modal-body">
    <p class="instructions">@Messages("entry.folder.namesake.desc")</p>
    <div id="namesake-boxes" class="pointable-content pageable smaller-font">
    @for(folder <- folders) {
      @folderCard(folder, true, true)
    }
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" id="createnew" class="btn btn-link primary toggleable">
    @Messages("entry.folder.existing.nok")
    </button>
    <button type="button" id="load" class="btn btn-primary toggleable" disabled="">
    @Messages("entry.folder.existing.ok")
    </button>
  </div>
}
