@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reusable button to show help modal
*
* @param names the names of the manual and video keys
* @param pullLeft true if the button must be display on the left
*
* @author Martin Rouffiange
*@

@import helper._

@(
        names : String,
        pullLeft : Boolean
)

<script type="text/javascript">
  $(document).ready(function () {
    $(document).on("click", "#show-help", function(){
      getHelpModal('@names').done(function(data){
        loadAndShowModal('#modal-anchor', data);
      });
    });
  });
</script>

<div class="@if(pullLeft){pull-left}else{pull-right}">
  <button type="button" id="show-help" class="btn btn-link btn-help hidden-xs">
    @Messages("help.btn.title")&nbsp;&nbsp;
    <i class="fas fa-question"></i>
  </button>
</div>