@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Reusable dropdown menu to change group when publishing contributions
*
* @param id the id of the main div of this box
* @param contributionId the contribution to add to selected group
* @param cType the contribution type (as defined in EContributionType)
* @param user the current user profile
*
* @author Fabian Gilson
*@


@import be.webdeb.core.api.contributor.EContributorRole
@import be.webdeb.core.api.contribution.EContributionType
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import  be.webdeb.presentation.web.views.html.util.filterFollowedBtn

@(
    contributionId : Long,
    cType: EContributionType,
    user : WebdebUser
)

<script type="text/javascript">
  $(document).ready(function() {
    let modal = $("#import-in-group");
    let div = $('#select-group');
    let boxes = div.find('input[type="checkbox"]');
    manageExclusiveCheckboxes(boxes, $('#import-id'), true);

    var confirm = $('#addto-group');
    boxes.on('click', function () {
      confirm.prop('disabled', false);
    });

    confirm.on('click', function () {
      // send request to add this contribution into selected group
      addContributionToGroup(div.find('input[type="checkbox"]:checked').val(), @contributionId, @cType.id).done(function (data) {
        hideAndDestroyModal($('#import-in-group'));
        $('#msg-div').append(data);
        fadeMessage();
      }).fail(function (jqXHR) {
        hideAndDestroyModal($('#import-in-group'));
        $('#msg-div').append(jqXHR.responseText);
        fadeMessage();
      });
    });

    toggleFollowedGroups(modal);
  });
</script>


@emptyModalframe("import-in-group", false, "default", "", false) {

  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">@Messages("entry.import.group")</h3>
  </div>

  <div class="modal-body row">
    <div id="form-content" class="col-xs-12">
      <p class="instructions">
        @Messages("entry.import.group.desc")
        @filterFollowedBtn()
      </p>
      <div class="funkyradio" id="select-group">
        @for(group <- user.getSubscriptions.filter(s => s.getRole.id >= EContributorRole.CONTRIBUTOR.id)) {
          <div class="funkyradio-primary col-xs-12 @if(!group.isFollowed){notfollowed-group}" @if(!group.isFollowed){style="display:none"}>>
            <input id="group_@group.getGroup.getGroupId" type="checkbox" value="@group.getGroup.getGroupId">
            <label for="group_@group.getGroup.getGroupId" class="forcewrap">
              <span>@group.getGroup.getGroupName</span>
              <span class="small-font text-muted">@group.getGroup.getDescription</span>
              <span class="small-font text-muted">(@Messages("group.visibility." + group.getGroup.getContributionVisibility.id))</span>
            </label>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="col-xs-12">
      <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
      <button id="addto-group" class="btn btn-primary" disabled>@Messages("general.btn.confirm")</button>
    </div>
  </div>
}
