@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Extension of the Play select template. May receive "optgroup" keys to generate optgroups.
* Using a for loop to get all values as they were inserted (to preserve their order)
*
* @param formId The form id.
* @param display the value of display style for the whole form
* @param msgLabel the left label of the textarea.
* @param msgPlace the placeholder of the textarea.
* @param msgTooltip the information text displayed in a tooltip.
*
* @author Martin Rouffiange
*@


@import helper._


@(
    formId : String,
    display : String,
    msgLabel : String,
    msgPlace : String,
    msgTooltip : String
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

<form id="@formId" style="display : @display;">
  <div class="input-group">
    <span class="input-group-addon dark">@msgLabel</span>
    <input type="text" class="form-control" id="query_@formId" name="query" placeholder="@msgPlace">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="searchtextbtn" title="@msgTooltip" data-placement="bottom">
        <span class="fa fa-search"></span>
      </button>
    </span>
  </div>
</form>
