@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Reusable template to show a places
*
* @param places a list of places
* @param selectedPlace the selected place by the user if any
* @param divId the div id
*
* @author Martin Rouffiange
*@


@import helper._
@import be.webdeb.presentation.web.controllers.entry.PlaceForm

@(
        places : java.util.List[PlaceForm],
        selectedPlace : Long,
        divId : String
)

@if(places != null && !places.isEmpty){
  <script src="@routes.Assets.at("javascripts/openLayers.js")" type="text/javascript"></script>
  <script type="text/javascript">
    var selectedPos = null;
    var selectedId = null;

    $(document).ready(function() {
      var pos = initializePlacesPos();
      if(pos !== undefined && Array.isArray(pos)) {
        selectedPos = selectedPos == null ? pos[0] : selectedPos;

        var map = new ol.Map({
          target: '@divId',
          layers: [
            new ol.layer.Tile({
              source: new ol.source.OSM()
            })
          ],
          view : new ol.View({
            center: selectedPos,
            zoom: getZoomByPlaceType(@places.get(0).getPlaceType)
          })
        });

        // Place markers
        var i = 0;
        $(".marker").each(function () {
          var marker = new ol.Overlay({
            position: pos[i++],
            positioning: 'center-center',
            element: this,
            stopEvent: false
          });
          map.addOverlay(marker);
        });

        // Place label
        i = 0;
        $(".marker-place").each(function () {
          var place = new ol.Overlay({
            position: pos[i++],
            element: this
          });
          map.addOverlay(place);
        });

        if(selectedId != null)
          $("#place-" + selectedId).parent().addClass('place-at-first');

      }
     placesListener(map);
    });

    function initializePlacesPos(){
      var pos = [];
      var mapContainer = $("#map-container");
      @for(place <- places) {
        @if(place.getLatitude != null && place.getLongitude != null) {
          pos.push(ol.proj.fromLonLat([@place.getLongitude, @place.getLatitude]));

          var elem = $('<div style="display: none;">'+
          '<span id="place-@place.getId" class="overlay marker-place"> @place.getName </span>'+
          '<div class="marker" title="Marker"></div>'+
          '</div>');
          mapContainer.append(elem);

          @if(selectedPlace != null && selectedPlace == place.getId){
            selectedId = @place.getId;
            selectedPos = pos[pos.length-1];
          }
        }
      }
      return pos;
    }

    function getZoomByPlaceType(placeType) {
      switch (placeType) {
        case 0 :
          return 2;
        case 1 :
          return 3;
        case 2 :
          return 5;
        case 3 :
          return 6;
        case 4 :
          return 8;
        case 5 :
          return 10;
        default :
          return 5;
      }
    }

    function placesListener(map){
      var links = $(".place_link");
      links.on("click", function() {
        let that = $(this);
        let lng = parseFloat(that.data("lng"));
        let lat = parseFloat(that.data("lat"));
        let zoom = getZoomByPlaceType(parseInt(that.data("zoom")));

        if (!isNaN(lng) && !isNaN(lat) && !isNaN(zoom)) {
          map.getView().setCenter(ol.proj.fromLonLat([lng, lat]));
          map.getView().setZoom(zoom);
          $('.place-at-first').removeClass("place-at-first");
          $(that.data("place-id")).parent().addClass('place-at-first');
        }
        links.removeClass("place_underline");
        $(this).addClass("place_underline");
      });

      window.onresize = function() {
          map.updateSize();
      };

      $(document).onresize = function() {
        map.updateSize();
      };

      $(document).on("reload-map", function() {
          map.updateSize();
      });
    }
  </script>
  <span class="text-muted">@Messages("text.args.label.place")</span>
  <div class="col-xs-12">
    @for((place, index) <- places.zipWithIndex) {
      <p><a id="@index" class="place_link @if((selectedPlace == null && index == 0) || (selectedPlace != null && selectedPlace == place.getId)){place_underline}"
      data-lng="@place.getLongitude" data-lat="@place.getLatitude" data-zoom="@place.getPlaceType" data-place-id="#place-@place.getId"> @place.getCompleteName</a></p>
    }
    <div id="map-container">
      <div id="@divId" class="map"></div>
    </div>
    @*<a class="primary" target="_blank" href="@place.getPlaceonmap">@Messages("place.map")</a>*@
  </div>
}
