@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Reusable container to draw a chart
*
* @param name the canvas name
* @param className additional classes
*
* @author Martin Rouffiange
*@


@import helper._


@(
        name : String,
        className : String
)


<div class="col-xs-12 flex-container" style="overflow-x: auto;overflow-y: hidden;">
    <div class="chart-labels @className" @if(className != ""){style="width : 380px"}></div>
    <div style="flex-grow: 1;">
        <canvas id="@name"></canvas>
        <canvas id="copy-@name" style="display: none"></canvas>
    </div>
</div>
