@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Helper template to give an overview of an actor
*
* @param actor an actor to be displayed
* @param withLink true if the title is clickable to go to his/her detail's page
* @param withCreator true if the creator (contributor name) must be shown too
* @param detailed true if the verbose overview is shown
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

  
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.controllers.entry.actor.ActorHolder

@import be.webdeb.presentation.web.controllers.account.settings.ESettingsPane
@(
    actor: ActorHolder,
    withLink: Boolean,
    withCreator: Boolean,
    detailed: Boolean
)


<div id="summary_@actor.getId" class="summary filterable-item no-padding-xs" data-filterable="@actor.getFilterable">
  <div id="content_@actor.getId">
    <table class="table-condensed">
      <tr>
        <td class="no-padding-left-xs">
          @if(withLink) {
            <a class="normal-style primary" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(actor.getId, EVizPane.CARTO.id, 0)">
          }
          <div class="actor-thumbnail small">
            <div class="thumbnail-holder avatar" style="background-image: url(/avatar/@actor.getSomeAvatar )"></div>
          </div>
          @if(withLink) {
            </a>
          }
        </td>
        <td><h4>
          @if(withLink) {
            <a class="normal-style primary" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.actor(actor.getId, EVizPane.CARTO.id, 0)">
          }
          @actor.getFullname
          @if(withLink) {
            </a>
          }
        </h4></td>
      </tr>
    </table>

    <ul class="fa-ul searched">
      @actor.getActortype match {
        case 0 => {
          @if(actor.getAffiliations.size > 0) {
            <li class="to-clamp">
              <i class="fa-li fa fa-vcard-o"></i>@actor.getAffiliations(3).map(a => a.getFullfunction).mkString(", ")
            </li>
          }
          @if(actor.getAffiliations.size == 0 && !actor.getResidence.equals("")) {
            <li><i class="fa-li fa fa-globe"></i><span class="forcewrap">@actor.getResidence</span></li>
          }
        }
        case 1 => {
          @if(detailed) {
            @if(actor.getOrgaffiliations.size > 0) {
              <li class="to-clamp"><i class="fa-li fa fa-vcard-o"></i>@actor.getOrgaffiliations.map(a => a.getFullfunction).mkString(", ")</li>
            }
            @if(actor.getLegalStatus != "") {
              <li><i class="fa-li fa fa-university"></i>@actor.getLegalStatus</li>
            }
          }

          @if(actor.getHeadOffice != "") {
            <li><i class="fa-li fa fa-globe"></i><span class="forcewrap">@actor.getHeadOffice</span></li>
          }
        }
        case _ => {
          @if(detailed) {
            <li><i class="fa-li fa fa-info"></i>@Messages("actor.label.unknowntype")</li>
          }
          @if(actor.getAffiliations.size > 0) {
            <li class="to-clamp"><i class="fa-li fa fa-vcard-o"></i>@actor.getAffiliations(3).map(a => a.getFullfunction).mkString(", ")</li>
          }
        }
      }
      @if(withCreator && actor.getCreator != null && actor.getCreator != -1L && actor.getCreatorName != null && !actor.getCreatorName.equals("")) {
        <li>
          @if(withLink) {
            <a class="normal-style primary" href="@be.webdeb.presentation.web.controllers.account.routes.ContributorActions.settings(actor.getCreator, ESettingsPane.PROFILE.id)">
          }

          <i class="fa-li fa fa-user-circle"></i>@Messages("viz.contributor.creator") @actor.getCreatorName

          @if(withLink) {
            </a>
          }
        </li>
      }
    </ul>
  </div>
</div>
