@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Helper template to give an overview of a folder
*
* @param folder the folder details (may not be null, but empty)
* @param withLink true if the folder name is clickable to go to detail page of clicked element
* @param detailed true if the verbose overview is shown (with types, classes and excerpt)
* @param withCreator true if the creator (contributor name) must be shown too
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.folder.FolderHolder
@import be.webdeb.presentation.web.controllers.viz.EVizPane


@(
        folder: FolderHolder,
        withLink: Boolean,
        detailed: Boolean,
        withCreator: Boolean
)


<div id ="summary_@folder.getId" class="summary filterable-item no-padding-xs" data-filterable="@folder.getFilterable">
  <div id="content_@folder.getId">
    <table class="table-condensed">
      <tr>
        <td class="no-padding-xs"><h4>
          @if(withLink) {
            <a class="normal-style primary" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.folder(folder.getId, EVizPane.CITATION.id, 0)">
          }
          <span class="far fa-folder browse-thumbnail"></span>
          @if(withLink) {
            </a>
          }
        </h4></td>
        <td class="no-padding-xs"><h4>
          @if(withLink) {
            <a class="normal-style primary" href="@be.webdeb.presentation.web.controllers.viz.routes.VizActions.folder(folder.getId, EVizPane.CITATION.id, 0)">
          }
          @folder.getFolderName
          @if(!folder.getFolderRewordingNames.isEmpty) {
            (@Html(folder.getFolderRewordingNames(3).map(n => n.getName).mkString(", ")))
          }
          @if(withLink) {
            </a>
          }
        </h4></td>
      </tr>
    </table>

    <ul class="fa-ul searched">
      @if(detailed) {
        @if(!folder.getParentsName(3).isEmpty) {
          <li class="to-clamp">
            <i class="fa-li fas fa-chevron-circle-up"></i>@folder.getParentsName(3).mkString(", ")
          </li>
        }
        @if(!folder.getChildrenName(3).isEmpty) {
          <li class="to-clamp">
            <i class="fa-li fas fa-chevron-circle-down"></i>@folder.getChildrenName(3).mkString(", ")
          </li>
        }
      }
      @if(withCreator) {
        <li><i class="fa-li fa fa-user-circle"></i>@Messages("viz.contributor.creator") @folder.getCreatorName</li>
      }
    </ul>
  </div>
</div>
