@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Partial page that contains search results. Re-used in many workflows, like for the many (embedded) search pages,
* when displaying all contributions liked to a text, an actor, an argument, a folder, etc.
*
* @param query the query string (for which the elements are the search results)
* @param holders the results of the above query (unbound types because we need a switch to construct right overview depending on concrete type)
* @param detailedResult true if the actor holders are displayed as actor-cards and the other contributions are shown with more details
* @param withLink true if contribution is clickable and links to details page
* @param filters the filter map to be used to filter the results (may be null)
* @param showFilters true if the filters must be shown when result are displayed
* @param showPager true if a pager must be displayed at the bottom of the results
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.ContributionHolder
@import be.webdeb.presentation.web.controllers.entry.actor.ActorHolder
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentHolder
@import be.webdeb.presentation.web.controllers.entry.argument.ArgumentContextHolder
@import be.webdeb.presentation.web.controllers.entry.debate.DebateHolder
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptHolder
@import be.webdeb.presentation.web.controllers.entry.folder.FolderHolder
@import be.webdeb.presentation.web.controllers.entry.text.TextHolder
@import be.webdeb.presentation.web.views.html.browse.{actorOverview, textOverview, folderOverview, argumentContextOverview, debateOverview, excerptOverview}
@import be.webdeb.presentation.web.views.html.viz.actor.actorCard
@import be.webdeb.presentation.web.views.html.util.{filterbar, noResultMessage, filterButton}
@import be.webdeb.presentation.web.controllers.entry.{EFilterName, EFilterType, FilterTree}

@(
        query : String,
        holders : java.util.Collection[_ <: ContributionHolder],
        detailedResult : Boolean,
        withLink : Boolean,
        filters : java.util.Map[EFilterName, java.util.List[FilterTree]],
        showFilter : Boolean,
        showPager : Boolean
)


@if(filters != null && !filters.isEmpty) {
  @filterbar(filters)
}

@if(query != null) {
  <input id="fullquery" value="@query" class="form-control hidden" type="text">
  <p class="instructions" style="display: none">@Messages("general.search.pointable.instructions")</p>
}

@if(showFilter){
  @filterButton()
  <hr class="hr-xs-sensible visible-xs">
}

<div class="col-xs-12 no-padding">
  @if(query != null && query != "" && holders.size == 0) {
    @noResultMessage(null)
  } else {
    <div class="pageable showall">
      @for(h <- holders) {
        @h match {
          case h : ArgumentContextHolder => { @argumentContextOverview(h, withLink, detailedResult, false) }
          case h : DebateHolder => { @debateOverview(h, withLink, detailedResult, false) }
          case h : ExcerptHolder => { @excerptOverview(h, withLink, detailedResult, false) }
          case h : ActorHolder => {
            @(if(detailedResult) actorCard(h, !withLink) else actorOverview(h, withLink, false, false))
          }
          case h : TextHolder => { @textOverview(h, withLink, detailedResult, false) }
          case h : FolderHolder => { @folderOverview(h, withLink, detailedResult, false) }
          case _ => { @* ignore *@ }
        }
      }
    </div>
  }
</div>

@if(showPager){
  <div class="col-xs-12 flex-container pager-container">
    <ul class="pager pagination pagination-sm no-margin"></ul>
  </div>
}

