@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Template used to display the confirmation page after a successful registration.
*
* @param user the user profile data
* @param map the message map
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.util.message


@(
    user: WebdebUser,
    map : java.util.Map[String,String]
)


@main(user) {

  @message(flash)
  @message(map)

  <div class="col-xs-12">
    <h3 class="small-caps text-muted">@Messages("contributor.signup.successfull")</h3>
    <hr>
  </div>

  <div class="col-sm-offset-3 col-sm-6">
    <p class="large-font">@Messages("contributor.signup.msg.success")
      <a href="@be.webdeb.presentation.web.controllers.routes.Application.index" class="btn btn-link">
        @Messages("general.btn.goback.main")
      </a>
    </p>
  </div>
}
