@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* User agreement modal page
*
* @author Fabian Gilson
*@


@import be.webdeb.presentation.web.views.html.util.emptyModalframe

@import be.webdeb.presentation.web.views.html.terms.fr.contributorTermsFR
@import be.webdeb.presentation.web.views.html.terms.en.contributorTermsEN
@import be.webdeb.presentation.web.views.html.terms.nl.contributorTermsNL

@()


<script type="text/javascript">
  $(document).ready(function() {
    var btn = $('#accept-btn');
    var acceptTerms = $('#acceptTerms');
    btn.prop('disabled', true);

    acceptTerms.on('click', function (e) {
    	e.preventDefault();
    });

    var doit;
    var modal = $('#user-conditions');
    var body = modal.find('.modal-body');
    var agreement = $('#agreement');
    body.on('scroll', function() {
        if(body.scrollTop() + body.innerHeight() >= agreement.innerHeight()) {
            btn.prop('disabled', false);
        }
    });

    btn.on('click', function() {
      // update checked state of signup form
      acceptTerms.prop('checked', true);
      hideAndDestroyModal(modal);
    });

    $('#scroll-down-btn').on('click', function() {
      body.animate({ scrollTop: agreement.innerHeight() }, 50);
    });

  });
</script>


@emptyModalframe("user-conditions", false, "default scrollable", "", false) {

  <div class="modal-header">
    <button type="button" class="btn-lg close" data-dismiss="modal">
      <span aria-hidden="true">x</span>
      <span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title small-caps text-muted">
      @Messages("terms.user.title") <span class="evensmaller-font">@Messages("terms.user.subtitle")</span>
    </h3>
  </div>

  <div class="modal-body">
    <div id="agreement" class="col-xs-12 justified-content">
      @contributorTermsFR()
      @contributorTermsEN()
      @contributorTermsNL()
    </div>
  </div>

  <div class="modal-footer">
    <div class="col-xs-12">
        <span class="scroll-down-wrapper">
            <span id="scroll-down-btn" class="scroll-top-inner">
                <i class="fas fa-3x fa-arrow-alt-circle-down"></i>
            </span>
        </span>
      <button id="accept-btn" type="button" class="btn btn-success">
        @Messages("contributor.accept.terms")
      </button>
    </div>
  </div>

}
