@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Main html canvas to add/edit debates (composed by a series of steps, aka sub-screens)
*
* @param debateForm a debate form (holding the debate data)
* @param helper helper class to fetch predefined values from (countries, genders, types, ...)
* @param user the user profile data
* @param map the message map (may be null)
*
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.contributor.EPermission
@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.debate.DebateForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.{EVizPane}
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.util.{argumentcontextdiv, bootstrapInput, breadcrumb, handleFolderNameMatches, handleNameMatches, hiddenField, hiddenFormField, message}
@import helper._
@import be.webdeb.core.api.argument.EArgumentType
@import be.webdeb.presentation.web.views.html.entry.debate.handleCandidates

@(
        debateForm: Form[DebateForm],
        helper : ContributionHelper,
        user : WebdebUser,
        map: java.util.Map[String, String]
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@scripts = {
    <title>
        @if((debateForm.data.isEmpty && debateForm.value.isEmpty) || debateForm("id").value == "-1") {
            @Messages("entry.debate.new")
        } else {
            @Messages("entry.debate.modify")
        } @Messages("general.metatitle")
    </title>
    <meta name="description" content="@if(debateForm("id").value == "-1") {
        @Messages("entry.debate.submit")
    } else {
        @Messages("entry.debate.btn.modify")}">

    <script src="@routes.Assets.at("javascripts/argument-scripts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/debate-scripts.js")" type="text/javascript"></script>
    <script type="text/javascript">
            $(document).ready(function() {
                manageDebatePanel($("#debatediv"));
            });
    </script>
}


@main(user, scripts) {

    <div id="msg-div">
        @message(flash)
        @message(map)
    </div>

    @if(!debateForm.hasErrors && debateForm.value.nonEmpty) {
        @for((folder, index) <- debateForm.get.getFolders.zipWithIndex) {
            @if(folder.getNameMatches.size > 0 && !folder.getIsDisambiguated) {
                @handleFolderNameMatches(folder.getNameMatches, index)
                <script type="text/javascript">
                        $(document).ready(function() {
                            handleContributionNameMatches($('#folders').find('[id$="name"]'), '[id$="_folderId"]', '[id$="_isDisambiguated"]', $('#submit'), "Folder");
                        });
                </script>
            }
        }
    }

    @if(!debateForm.hasErrors && debateForm.value.nonEmpty && debateForm.get.getCandidates.nonEmpty) {
        @handleCandidates(debateForm.get.getCandidates)
    }

    <div class="row">
        <div class="col-xs-12">
            <h3 class="small-caps text-muted" id="formtitle">
            @if((debateForm.data.isEmpty && debateForm.value.isEmpty) || debateForm("id").value == "-1") {
                @Messages("entry.debate.new")
            } else {
                @Messages("entry.debate.modify")
            }
            </h3>
            <hr>
        </div>

        <div class="col-xs-12" id="debatediv">
        @form(be.webdeb.presentation.web.controllers.entry.debate.routes.DebateActions.save(debateForm("id").value.toLong), 'enctype -> "multipart/form-data") {
            <div class="well">
                <fieldset>
                    @hiddenFormField(debateForm("contributor"))
                    @hiddenFormField(debateForm("lang"))
                    @hiddenFormField(debateForm("version"))
                    @hiddenFormField(debateForm("inGroup"))
                    @hiddenFormField(debateForm("firstArgumentId"))
                    @hiddenField("previousCall", "previousCall", "")

                    <div class="col-xs-12" style="padding: 0 0 10px 0">
                        <p class="instructions">@Messages("general.required.fields")</p>
                        @argumentcontextdiv(debateForm, helper, "debate", EArgumentType.FIRST_ARGUMENT)
                    </div>
                </fieldset>
                <div id="submit-container" class="form-actions" style="margin-top : 10px;">
                    <a href="@(if(debateForm("id").value == "-1") be.webdeb.presentation.web.controllers.entry.routes.EntryActions.contribute
                    else be.webdeb.presentation.web.controllers.viz.routes.VizActions.debate(debateForm("id").value.toLong, EVizPane.CARTO.id, 0))"
                    class="btn btn-default">
                        <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.cancel")
                    </a>
                    <button type="submit" class="btn btn-primary" id="submit">
                    @if(debateForm("id").value == "-1") {
                        @Messages("entry.debate.submit")
                    } else {
                        @Messages("entry.debate.btn.modify")
                            &nbsp; <span class="fa fa-check-circle"></span>
                    }
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
}
