@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Selection page for new contributions (routing page)
*
* @param user the user profile data
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.util.{breadcrumb, message}

@import be.webdeb.core.api.contribution.EContributionType
@(
    user : WebdebUser
)

@scripts = {
    <title>@Messages("entry.title") @Messages("general.metatitle")</title>
    <meta name="description" content="@Messages("entry.new")">

    @*
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/design/contribuer_styles.css")">
        *@

    <script type="text/javascript">
        $(document).ready(function () {
            var citation_btn = $("#citation-btn");
            var cancel_btn = $(".cancel-btn");

            var all_contribute_container = $("#all-contribute");
            var citations_options = $("#citations-options");

            citation_btn.on('click', function(){
                citations_options.show();
                all_contribute_container.hide();
            });

            cancel_btn.on('click', function(){
                citations_options.hide();
                all_contribute_container.show();
            });
        });
    </script>
}

@main(user, scripts) {

  <div id="msg-div">
    @message(flash)
  </div>

    <div id="all-contribute" class="col-lg-10 col-lg-offset-1 col-md-12 col-xs-12">

        <div class="col-sm-6 col-md-4" style="margin-bottom:20px">
            <a href="@be.webdeb.presentation.web.controllers.entry.actor.routes.ActorActions.edit(-1)">
                <img class="button-img hidden-xs" src="@routes.Assets.at("images/picto/contribute_actor.jpg")" alt="actor">
                <span class="btn btn-primary btn-full huge-font fixed-size">
                  <span class="fa fa-street-view"></span> &nbsp; @Messages("entry.new.actor.btn")
                </span>
            </a>
        </div>

        <div class="col-sm-6 col-md-4" style="margin-bottom:20px">
            <a href="@be.webdeb.presentation.web.controllers.entry.text.routes.TextActions.edit(-1)">
                <img class="button-img hidden-xs" src="@routes.Assets.at("images/picto/contribute_text.jpg")" alt="text">
                <span class="btn btn-primary btn-full huge-font fixed-size">
                  <span class="far fa-file-alt"></span> &nbsp; @Messages("entry.new.text.btn")
                </span>
            </a>
        </div>

        <div class="col-sm-6 col-md-4" style="margin-bottom:20px">
            <a href="@be.webdeb.presentation.web.controllers.entry.folder.routes.FolderActions.edit(-1)">
                <img class="button-img hidden-xs" src="@routes.Assets.at("images/picto/contribute_folder.jpg")" alt="folder">
                <span class="btn btn-primary btn-full huge-font fixed-size">
                  <span class="far fa-folder"></span> &nbsp; @Messages("entry.new.folder.btn")
                </span>
            </a>
        </div>

        <div class="clearfix visible-md-block visible-lg-block"></div>

        <div class="col-sm-6 col-md-4" style="margin-bottom:20px">
            <a href="@be.webdeb.presentation.web.controllers.entry.debate.routes.DebateActions.edit(-1)">
                <img class="button-img hidden-xs" src="@routes.Assets.at("images/picto/contribute_debate.jpg")" alt="debate">
                <span class="btn btn-primary btn-full huge-font fixed-size">
                  <span class="far fa-comments"></span> &nbsp; @Messages("entry.new.debate.btn")
                </span>
            </a>
        </div>

        <div class="col-sm-6 col-md-4" style="margin-bottom:20px">
            <a id="citation-btn">
                <img class="button-img hidden-xs" src="@routes.Assets.at("images/picto/contribute_citation.jpg")" alt="citation">
                <span class="btn btn-primary btn-full huge-font fixed-size">
                    <span class="fas fa-align-left"></span> &nbsp; @Messages("entry.new.excerpt.btn")
                </span>
            </a>
        </div>

        @* from existing *@
        @*
        <div class="col-sm-6 col-md-4" style="margin-bottom:20px">
            <a class="btn btn-primary btn-full huge-font fixed-size" href="">
              <span class="far fa-comment"></span> &nbsp; @Messages("entry.new.debate.argument.btn")
            </a>
        </div>

        <div class="col-sm-6 col-md-4" style="margin-bottom:20px">
            <a class="btn btn-primary btn-full huge-font fixed-size" href="@be.webdeb.presentation.web.controllers.entry.text.routes.TextActions.textExcerpts(-1)">
              <span class="far fa-comment"></span> &nbsp; @Messages("entry.new.text.argument.btn")
            </a>
        </div>
        *@
        @* validate *@

        <div class="col-sm-6 col-md-4" style="margin-bottom:20px">
            <a href="@be.webdeb.presentation.web.controllers.validate.routes.ValidateActions.excerpts(250)">
                <img class="button-img hidden-xs" src="@routes.Assets.at("images/picto/contribute_validation.jpg")" alt="validation">
                <span class="btn btn-primary btn-full huge-font fixed-size">
                  <span class="fa fa-check-square-o"></span> &nbsp; @Messages("entry.validate.arg.btn")
                </span>
            </a>
        </div>

    </div>

    <div id="citations-options" class="col-xs-12 col-md-10 col-md-offset-1" style="display: none">
        <div style="height:30px;"></div>
        <p><a href="@be.webdeb.presentation.web.controllers.browse.routes.BrowseActions.redirectSearch("contribution_type=" + EContributionType.EXCERPT.id)">
            <span class="btn btn-primary btn-full huge-font fixed-size text-align-left">
                <span class="fas fa-search"></span> &nbsp; @Messages("entry.excerpt.existing.citation")
            </span>
        </a></p>
        <p><a href="@be.webdeb.presentation.web.controllers.entry.text.routes.TextActions.textExcerpts(-1)">
            <span class="btn btn-primary btn-full huge-font fixed-size text-align-left">
                <span class="fas fa-align-left"></span> &nbsp; @Messages("entry.excerpt.existing.text")
            </span>
        </a></p>
        <p><a href="@be.webdeb.presentation.web.controllers.entry.text.routes.TextActions.edit(-1)">
            <span class="btn btn-primary btn-full huge-font fixed-size text-align-left">
                <span class="fas fa-file-alt"></span> &nbsp; @Messages("entry.excerpt.new.text")
            </span>
        </a></p>
        <p><a href="https://chrome.google.com/webstore/detail/webdeb-extension/jajhkepdfeglimnjjopjgkigofoadfhc?hl=fr" target="_blank">
            <span class="btn btn-primary btn-full huge-font fixed-size text-align-left">
                <span class="fab fa-chrome"></span> &nbsp; @Messages("entry.excerpt.new.externaltext.chrome")
            </span>
        </a></p>
        <p><a class="cancel-btn">
            <span class="btn btn-primary btn-full huge-font fixed-size text-align-left">
                <span class="fa fa-times-circle"></span> &nbsp; @Messages("general.btn.cancel")
            </span>
        </a></p>
    </div>
}
