@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Validation page where users may validate automatically discovered arguments (eg tweets or simple arguments).
*
* @param holders a list of arguments that will be subject to user validation
* @param helper the contribution helper
* @param user the user profile data
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.core.api.contributor.EPermission
@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.EFilterName
@import be.webdeb.presentation.web.controllers.entry.EFilterType
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser

@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.validate.validateExcerpt
@import be.webdeb.presentation.web.views.html.util.{breadcrumb, filterbar, filterButton, noResultMessage, scrollTopWrapper}

@import be.webdeb.presentation.web.controllers.entry.FilterTree
@(
    holders: java.util.List[Form[ExcerptForm]],
    helper : ContributionHelper,
    filters : java.util.Map[EFilterName, java.util.List[FilterTree]],
    user: WebdebUser
)


@scripts = {
  <title>@Messages("validate.argument.title") @Messages("general.metatitle")</title>

  <script src="@routes.Assets.at("javascripts/actor-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/folder-scripts.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/excerpt-scripts.js")" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      // auto-creation modal if any
      getAutoCreatedModals();

      var pagesize = 5;
      var filter = $('.vertical_filter');
      // manage filter if any
      if (filter.length > 0) {
        var pager = new Pager($('#validate-excerpts').find('.pageable'), pagesize, '#pager', addListeners);
        pager.reset();
        handleFilter($('.toggle_filter'), pager);
        // show it by default if we are not in an embedded search and screen width is at least 850px
        if (screen.width > 850) {
          filter.addClass('vertical_filter__opened');
          $('.vertical_filter_remaining').addClass('opened');
        }

        // must re-add listeners to previously hidden elements and go back to top at filtering
        $('.sub_filter--item input').on('click', function () {
          $('.scroll-top-wrapper').trigger('click');
          addListeners();
        });
      }

      // listeners on yes/no buttons at loading time on first 8 only
      addListeners();
    });


    /**
     * Add all listeners to current page, if not yet done
     */
    function addListeners() {
      $('[id^="validate-excerpt_"]:visible').each(function () {
        var index = $(this).prop('id').split('-')[1].split('_')[1];

        // ensure listeners are not yet added to this element
        if ($._data($('#validate-btns_' + index + ' .btn-danger')[0], 'events') === undefined) {
          var excid = $('#validate-btns_' + index + ' .btn-success').data('excid');
          // send rejection of argument and show "undo" on "no" click
          $('#validate-btns_' + index + ' .btn-danger').on('click', function () {
            handleRejection(true, excid);
            showMe($('#content-excerpt_' + index), false, false);
            showMe($('#undo-no_' + index), true, true);
          });

          // go back to yes/no pane if undo clicked after "no" (aka not related) has been selected
          $('#undo-no-btn_' + index).on('click', function () {
            // notify undo deletion of temp excerpt
            handleRejection(false, excid);
            showMe($('#undo-no_' + index), false, false);
            showMe($('#content-argument_' + index), true, true);
          });

          // load edit excerpt form when clicking
          $('#validate-btns_' + index + ' .btn-success').on('click', function () {
            var validatebtn = $(this);
            // get edit excerpt content, append to form div and add listeners to form elements
            editTempArgument(validatebtn.data('excid')).done(function (html) {
              // first clean any existing form and hide this excerpt summary
              cancelEdition();
              showMe($('#content-excerpt_' + index), false, false);
              // append received content into reserved place and add listeners to it
              $('#edit-excerpt_' + index).append(html);

              var pane = $('#validate-pane_' + index);
              showMe(pane, true, true);

              initExcerptListeners(pane, -1, validatebtn.data('excid'), cancelEdition, ajaxSubmit);
              getAutoCreatedModals();

            }).fail(function (xhr) {
              showMessage(xhr.responseText, 'body');
            });
          });
        }
      });
    }

    function ajaxSubmit() {
      var mainpane = $('#submit-form').parents('[id^="validate-argument_"]');
      var content = mainpane.find('[id^="content-argument_"]');
      var index = mainpane.prop('id').split('-')[1].split('_')[1];
      var validatebtn = mainpane.find('[id^="validate-btns_"] .btn-success');
      var pane = $('#validate-pane_' + index);

      submitTempArgument(validatebtn.data('argid'), mainpane.find('form')).done(function (html) {
        // actor auto-creation if any
        getAutoCreatedModals();

        // show general message
        slideMessage($('#success-div'));
        // update content of displayed standard form in pane with result message
        $('#standard-part_' + index).text(html);
        // show success pane
        showMe(pane, false, false);
        showMe(validatebtn.parent(), false, false);
        showMe($('#confirmed_' + index), true, false);
        showMe(content, true, true);

      }).fail(function (xhr) {
        if (xhr.status === 500) {
          // we have an internal error, cancel edition and show error message in responseText
          cancelEdition();
          showMessage(xhr.responseText, 'body');
        } else if (xhr.status === 409) {
          // we got a modal frame to resolve nameMatches
          $('#nameMatches-anchor').html(xhr.responseText);
          if ($('#isActor').val() === 'true') {
            handleContributionNameMatches($(pane).find('[id$="fullname"]'), '[id$="_id"]', '[id$="_isDisambiguated"]', $('#submit-form'), "Actor");
          } else {
            handleContributionNameMatches($(pane).find('[id$="affname"]'), '[id$="_affid"]', '[id$="_isAffDisambiguated"]', $('#submit-form'), "Actor");
          }

        } else {
          // we have a validation error, simply rebuild fieldset
          replaceContent('fieldset', xhr.responseText, 'fieldset');
          initExcerptListeners(pane, -1, validatebtn.data('argid'),
                  @user.getGroup.getPermissions.contains(EPermission.DISABLE_CLASSIFICATION), cancelEdition, ajaxSubmit);
        }
      });
    }

    /**
     * Cancel the edition of a temp argument, hide and remove edition form and re-show summary pane
     */
    function cancelEdition() {
      var existing = $('[name="edit-argument-content"]');
      var mainPane = existing.parents('[id^="validate-argument_"]');
      var content = mainPane.find('[id^="content-argument_"]');
      var validatepane = mainPane.find('[id^="validate-pane_"]');

      if (existing.length > 0) {
        showMe(existing, false, false);
        existing.remove();
      }

      showMe(validatepane, false, false);
      showMe(content, true, true);
    }

    /**
     * Send (undo) rejection request and show result message
     *
     * param rejected true if this argument must be rejected, false otherwise
     * param argId argument id to reject (or not)
     */
    function handleRejection(rejected, argId) {
      setTempArgumentState(argId, rejected).done(function (message) {
        showMessage(message, 'body');
      }).fail(function (xhr) {
        showMessage(xhr.responseText, 'body');
      });
      if(rejected){
        rejectTweet(argId);
      }
    }

  </script>
}

@main(user, scripts) {

  @if(filters != null && !filters.isEmpty) {
    @filterbar(filters)
  }

  <div class="row">
    <div class="col-xs-12">
      <h3 class="small-caps text-muted">@Messages("validate.argument.title")</h3>
      @filterButton()
      <hr>
    </div>

    <div id="validate-arguments" class="col-lg-offset-1 col-lg-10 col-xs-12">
      <p class="instructions">@Html(Messages("validate.argument.instructions"))</p>
      <div class="pageable">
        @if(holders.size == 0) {
          @noResultMessage(Messages("validate.argument.none"))
        } else {
          @for((h, i) <- holders.zipWithIndex) {
            <div class="filterable-item" data-filterable="@h("filterable").value">
              @validateExcerpt(h, helper, user, i)
            </div>
          }
        }
      </div>
      <div class="col-xs-12">
        <ul id="pager" class="pager pagination pagination-sm no-margin"></ul>
      </div>

      @scrollTopWrapper()

    </div>
  </div>
  <div id="nameMatches-anchor"></div>

  @* general success message to be shown when argument is added *@
  <div id="success-div" class="alert alert-fixed alert-success" style="display: none">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>@Messages("success")</strong> @Messages("validate.argument.success")
  </div>
}
