@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Validation page where users may validate automatically discovered arguments.
*
* @param argument an argument form that will be displayed to user to confirm creation or not of a new argument
* @param helper the contribution helper to retrieve all types/shades for an argument to validate
* @param user the user profile data
* @param index used to set unique ids to div containing validation questions
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import helper._


@(
    argument : Form[ExcerptForm],
    helper : ContributionHelper,
    user : WebdebUser,
    index : Int
)


<div id="validate-argument_@index" class="col-xs-12 well">
  <div id="content-argument_@index">
    <div class="col-xs-12">
      <h3>@Messages("validate.argument.question")</h3>
    </div>

    <div class="col-md-5 col-sm-12">
      <blockquote class="argument large">@argument("excerpt").value</blockquote>
    </div>

    <div class="col-md-7 col-sm-12">
      <h4 class="small-caps text-muted">@Messages("validate.argument.label")</h4>
      <p><span id="standard-part_@index" class="larger-font serif">@argument("standardPart").value</span></p>
      <p>
        <span class="text-muted text-lowercase small-font">@Messages("argument.sumup.author")</span>
        @argument("authors[0].fullname").value
          &nbsp;&nbsp;&nbsp;&nbsp;
        @if(argument("publicationDate") != null) {
          <span class="small-font">&nbsp;&nbsp;&nbsp;(@argument("publicationDate").value)</span>
        }
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="small-font text-muted">@Messages("text.args.label.sourceTitle")</span>
        @argument("source").value
      </p>

    </div>
    <div id="validate-btns_@index" class="col-xs-12 pull-right">
      <button type="button" class="btn btn-danger" data-argid="@argument("id").value">@Messages("label.no")</button>
      <button type="button" class="btn btn-success" data-argid="@argument("id").value">@Messages("label.yes")</button>
    </div>

    @* displayed if user confirmed in place of buttons here above*@
    <div id="confirmed_@index" class="col-xs-12" style="display: none;">
      <h4><span id="confirmed-argument_@index" class="text-primary">@Messages("validate.argument.confirmed")</span></h4>
    </div>
  </div>

  <div id="validate-pane_@index" style="display: none;">
    <form data-argid="@argument("id").value">
      <div class="col-xs-12">
        <h3 class="small-caps text-muted">
          @Messages("validate.argument.edit.title") <span id="step-label_@argument("id").value">1</span>
        </h3>
      </div>

      <div id="edit-argument_@index" class="col-xs-12">
        @*
          dynamically loaded div with argument edition, will be added/removed each time because we
          reuse the editArgumentContent template and webdeb-arguments javascript and using unique ids
          for all arguments in this page would have make the javascript very complex and needed many
          changes in, ie, the funkycheckboxes handling and more
        *@
      </div>
    </form>
  </div>
  @* displayed if user said NO *@
  <div id="undo-no_@index" class="col-xs-12" style="display: none;">
    <h4>
      @Messages("validate.argument.unconfirmed")
      <button id="undo-no-btn_@index" type="button" class="btn btn-link">@Messages("general.btn.undo")</button>
    </h4>
  </div>

</div>

