/*========================================
              VARIABLE COULEURS
========================================*/
/*========================================
              hauteur nav
========================================*/
/*========================================
                BREACKPOINT
========================================*/
/*========================================
                BOX SHADOW
========================================*/
/*========================================
              VARIABLE COULEURS
========================================*/
/*========================================
              hauteur nav
========================================*/
/*========================================
                BREACKPOINT
========================================*/
/*========================================
                BOX SHADOW
========================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  position: relative; }

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.5;
  text-decoration: none; }

a:link {
  outline: none; }

/*========================================
===================MOBILE=================
========================================*/
.footer {
  background: #374955; }

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 2rem;
  max-width: 1440px; }
  .footer_content > * {
    margin-bottom: 2rem; }
  .footer_content > div > ul > li {
    text-align: center;
    line-height: 2.5rem; }
  .footer_content > div > ul > li > a {
    font-size: 1rem;
    color: #F8F8F8; }
  .footer_content > div > ul > li > a:hover {
    color: #44ABDD;
    text-decoration: underline; }
  .footer_content .social > a {
    font-size: 3rem;
    color: #F8F8F8; }
  .footer_content .social > a:hover {
    color: #44ABDD; }
  .footer_content .social > a + a {
    margin-left: 1rem; }
  .footer_content .designed-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .footer_content .designed-by > p {
      margin-bottom: .8rem;
      color: #F8F8F8; }
    .footer_content .designed-by .designed-by_img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer_content .designed-by .designed-by_img > a > img {
        max-width: 160px;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: .2rem;
        background: #fff; }
  .footer_content .support-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .footer_content .support-by > p {
      margin-bottom: .8rem;
      color: #F8F8F8; }
    .footer_content .support-by .support-by_img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer_content .support-by .support-by_img > a > img {
        max-width: 80px;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: .2rem;
        background: #fff; }

.copyright_content {
  padding: 2rem 1rem; }
  .copyright_content > * {
    font-size: .9rem;
    text-align: center; }
  .copyright_content > p > a {
    font-size: .9rem; }

/*========================================
===================TABLET=================
========================================*/
@media screen and (min-width: 768px) {
  .footer_content {
    min-height: 36.8vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem; }
    .footer_content > * {
      width: 33%;
      margin-bottom: 0; }
    .footer_content > div:first-child, .footer_content div:nth-child(2) {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .footer_content > div:nth-child(3) {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .footer_content > div > ul > li {
      text-align: left; }
    .footer_content .designed-by {
      width: 33%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
      .footer_content .designed-by .designed-by_img {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .footer_content .designed-by .designed-by_img > img {
          margin-right: 1rem; }
    .footer_content .social {
      position: relative;
      top: 1.5vh;
      font-size: 4rem;
      text-align: center;
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; }
    .footer_content .support-by {
      width: 33%;
      -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
      order: 5; }
      .footer_content .support-by .support-by_img {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .footer_content .support-by .support-by_img > img {
          margin-right: 1rem; } }

/*========================================
===================DESKTOP================
========================================*/
@media screen and (min-width: 1024px) {
  .footer_content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 4rem; } }

body {
  background: #F8F8F8; }

main {
  max-width: 960px; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.8rem; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5; }

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5; }

a {
  color: #99BF27; }

a:hover {
  color: #44ABDD; }

.container-fluid {
  overflow: hidden; }

/*========================================
==================ACTION==================
========================================*/
.action {
  margin-bottom: 15px;
  padding: 0 !important; }

.action_btn {
  width: 100vw; }
  .action_btn > a {
    color: #F8F8F8; }
  .action_btn > a > img {
    width: 100%; }
  .action_btn > a > div {
    height: 62px;
    padding: 1rem 0;
    background: #44ABDD;
    font-size: 1.5rem; }
    .action_btn > a > div > i {
      margin-right: .5rem; }

/*========================================
=============3 WAYS CONTRIBUTE============
========================================*/
.threeways {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 1rem 1rem 3rem 1rem;
  margin-bottom: 15px;
  background: #374955;
  -webkit-box-shadow: 0px 3px 3px 0px #575757;
  box-shadow: 0px 3px 3px 0px #575757; }
  .threeways > h2 {
    color: #99BF27; }
  .threeways > * {
    margin-bottom: 1rem; }

.threeways_content {
  width: 100%; }
  .threeways_content > h3 {
    color: #F8F8F8; }
  .threeways_content > p {
    color: #F8F8F8; }
  .threeways_content > div > i {
    margin-top: .8rem;
    color: #99BF27;
    font-size: 2.5rem; }
  .threeways_content > div > i + i {
    margin-left: 1rem; }

/*========================================
=================REGISTER=================
========================================*/
.registerAstuce {
  margin-bottom: 15px;
  padding-bottom: 0; }

.register {
  padding-top: 1rem;
  margin-bottom: 55px; }
  .register > h2 {
    color: #44ABDD;
    margin-bottom: .5rem; }

/*========================================
==================ASTUCE==================
========================================*/
.astuce {
  background: #374955;
  -webkit-box-shadow: 0px 3px 3px 0px #575757;
  box-shadow: 0px 3px 3px 0px #575757;
  width: 100%; }
  .astuce > h2 {
    position: relative;
    top: -65px;
    left: 60px;
    color: #44ABDD;
    margin-bottom: -60px; }
  .astuce > i {
    position: relative;
    top: -40px;
    font-size: 5rem;
    color: #44ABDD;
    margin-bottom: -60px; }

.carousel-item {
  padding: 1rem;
  color: #F8F8F8; }

/*========================================
===================HELP===================
========================================*/
.big {
  margin-bottom: 15px; }

.help {
  margin-bottom: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #F0EAEA;
  -webkit-box-shadow: 0px 3px 3px 0px #575757;
  box-shadow: 0px 3px 3px 0px #575757; }
  .help > h2 {
    margin-bottom: -3rem;
    color: #99BF27; }
  .help > i {
    position: relative;
    left: 95%;
    top: -2rem;
    margin-bottom: -3rem;
    color: #99BF27;
    font-size: 4rem; }

.help_picto {
  text-align: center;
  margin-bottom: 20px; }
  .help_picto > * {
    display: inline;
    font-size: 1.5rem;
    color: #99BF27; }
  .help_picto > p {
    margin-left: 2rem; }

/*========================================
================CONTRIBUTE================
========================================*/
.contribute {
  margin-bottom: 15px;
  padding: 0 15px; }
  .contribute > h2 {
    width: 100%;
    color: #44ABDD; }

.contribute_content {
  width: 100%; }
  .contribute_content > * + * {
    margin-bottom: 1rem; }
  .contribute_content > p a {
    font-size: 1rem; }

/*========================================
==================DIFUSE==================
========================================*/
.diffuse {
  padding: 0 15px; }
  .diffuse > h2 {
    width: 100%;
    margin-bottom: 1rem;
    color: #99BF27; }

.diffuse_content {
  width: 100%;
  margin-bottom: 15px;
  padding: 1rem;
  -webkit-box-shadow: 0px 3px 3px 0px #575757;
  box-shadow: 0px 3px 3px 0px #575757;
  background: #F0EAEA; }
  .diffuse_content > * + * {
    margin-bottom: 1rem; }

.diffuse_content_img {
  border: 4px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.diffuse_content_social {
  width: 100%;
  text-align: center; }
  .diffuse_content_social > * {
    font-size: 3rem;
    color: #44ABDD; }
  .diffuse_content_social > * + * {
    margin-left: 1rem; }

.diffuse_illu {
  width: 100%;
  max-width: 520px; }
  .diffuse_illu > img {
    width: initial;
    margin-left: auto;
    margin-right: auto; }

/*================LARGE PHONE===================
==================LARGE PHONE===================
==================LARGE PHONE===================
==================LARGE PHONE===================
==================LARGE PHONE===================
==================LARGE PHONE=================*/
@media screen and (min-width: 576px) {
  .action_btn {
    width: 50%; }
  /*========================================
    =============3 WAYS CONTRIBUTE============
    ========================================*/
  .threeways {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 0; }
    .threeways > h2 {
      width: 100%; }
    .threeways > * + * {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: 33%;
      padding: 0 1rem; } }

/*================TABLET========================
==================TABLET========================
==================TABLET========================
==================TABLET========================
==================TABLET========================
==================TABLET======================*/
@media screen and (min-width: 768px) {
  /*========================================
    =============3 WAYS CONTRIBUTE============
    ========================================*/
  .threeways {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 0; }
    .threeways > h2 {
      width: 100%; }
    .threeways > * + * {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: 33%;
      padding: 0 1rem; }
  /*========================================
    ===================HELP===================
    ========================================*/
  .big {
    padding: 0 1rem; }
  .help > img {
    width: 90%; }
  /*========================================
    ================CONTRIBUTE================
    ========================================*/
  .contribute {
    margin-bottom: 15px; }
    .contribute > h2 {
      margin-left: 15px; }
  .contribute_content {
    width: 30%;
    padding: 1rem; }
  /*========================================
    ==================DIFUSE==================
    ========================================*/
  .diffuse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .diffuse > * + * {
      width: 48%; }
  .diffuse_illu_container {
    position: relative;
    left: 50%;
    width: 48%;
    margin-top: -22rem; }
  .diffuse_illu {
    max-width: 396px; } }

/*================DESKTOP========================
==================DESKTOP========================
==================DESKTOP========================
==================DESKTOP========================
==================DESKTOP========================
==================DESKTOP======================*/
@media screen and (min-width: 992px) {
  .container-fluid {
    overflow: initial; }
  /*========================================
    ==================ACTION==================
    ========================================*/
  .action_btn > a > img {
    max-width: 300px; }
  .action_btn > a > div {
    max-width: 300px; }
  /*========================================
    =============3 WAYS CONTRIBUTE============
    ========================================*/
  .threeways {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .threeways > * + * {
      padding: 0;
      width: initial; }
  /*========================================
    ===================HELP===================
    ========================================*/
  .big {
    padding: 0; }
  /*========================================
    ==================DIFUSE==================
    ========================================*/
  .magik {
    max-width: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .diffuse {
    width: 75vw; }
  .diffuse_content {
    width: 48%; }
    .diffuse_content > p {
      font-size: .9rem; }
  .diffuse_illu_container {
    width: 25vw;
    left: initial;
    width: initial;
    margin-top: initial; }
  .diffuse_illu {
    max-width: initial; }
  .export {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-left: 52%;
    margin-top: -13rem; } }

/*=============VERY LARGE DESKTOP================
===============VERY LARGE DESKTOP================
===============VERY LARGE DESKTOP================
===============VERY LARGE DESKTOP================
===============VERY LARGE DESKTOP================
===============VERY LARGE DESKTOP==============*/
@media screen and (min-width: 1140px) {
  .magik {
    max-width: 1980px; }
  .diffuse {
    width: 640px; }
  .diffuse_illu_container {
    position: relative;
    max-width: 100vh; } }

/*# sourceMappingURL=contribuer_styles.css.map */