/*========================================
              VARIABLE COULEURS
========================================*/
/*========================================
              hauteur nav
========================================*/
/*========================================
                BREACKPOINT
========================================*/
/*========================================
===================MOBILE=================
========================================*/
.footer {
  background: #374955; }

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 2rem;
  max-width: 1440px; }
  .footer_content > * {
    margin-bottom: 2rem; }
  .footer_content > div > ul > li {
    text-align: center;
    line-height: 2.5rem; }
  .footer_content > div > ul > li > a {
    font-size: 1rem;
    color: #F8F8F8; }
  .footer_content > div > ul > li > a:hover {
    color: #44ABDD;
    text-decoration: underline; }
  .footer_content .social > a {
    font-size: 3rem;
    color: #F8F8F8; }
  .footer_content .social > a:hover {
    color: #44ABDD; }
  .footer_content .social > a + a {
    margin-left: 1rem; }
  .footer_content .designed-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .footer_content .designed-by > p {
      margin-bottom: .8rem;
      color: #F8F8F8; }
    .footer_content .designed-by .designed-by_img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer_content .designed-by .designed-by_img > a > img {
        max-width: 80px;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: .2rem;
        background: #fff; }
  .footer_content .support-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .footer_content .support-by > p {
      margin-bottom: .8rem;
      color: #F8F8F8; }
    .footer_content .support-by .support-by_img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer_content .support-by .support-by_img > a > img {
        max-width: 80px;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: .2rem;
        background: #fff; }

.copyright_content {
  padding: 2rem 1rem; }
  .copyright_content > * {
    font-size: .9rem;
    text-align: center; }
  .copyright_content > p > a {
    font-size: .9rem; }

/*========================================
===================TABLET=================
========================================*/
@media screen and (min-width: 768px) {
  .footer_content {
    min-height: 36.8vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem; }
    .footer_content > * {
      width: 33%;
      margin-bottom: 0; }
    .footer_content > div:first-child, .footer_content div:nth-child(2) {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .footer_content > div:nth-child(3) {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .footer_content > div > ul > li {
      text-align: left; }
    .footer_content .designed-by {
      width: 33%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
      .footer_content .designed-by .designed-by_img {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .footer_content .designed-by .designed-by_img > img {
          margin-right: 1rem; }
    .footer_content .social {
      position: relative;
      top: 1.5vh;
      font-size: 4rem;
      text-align: center;
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; }
    .footer_content .support-by {
      width: 33%;
      -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
      order: 5; }
      .footer_content .support-by .support-by_img {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .footer_content .support-by .support-by_img > img {
          margin-right: 1rem; } }

/*========================================
===================DESKTOP================
========================================*/
@media screen and (min-width: 1024px) {
  .footer_content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 4rem; } }
