@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal frame to send a mail to all members of a group
*
* @param mailForm the mail form to send user-defined content to all members of group
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.account.group.GroupMailForm
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, emptyModalframe, inlineform}
@import helper._

@(
        mailForm : Form[GroupMailForm]
)


@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }


<script type="text/javascript">
  $(document).ready(function() {
    //addContributorTypeahead($('#invitations').find('input'));
    addListeners();
  });

  function addListeners() {
    $('#submit-btn').on('click', function () {
        sendMailToGroup($('#mail-form')).done(function (data) {
        $('#manage-groups').empty().append(data);
        $('#sendMailGroup').modal("hide");
        addManageGroupListeners();
      }).fail(function (jqXHR) {
        if (jqXHR.status === 400) {
          replaceContent('#mail-form', jqXHR.responseText, 'form');
          addListeners();
        } else {
            $('#manage-groups').empty().append(jqXHR.responseText);
            addManageGroupListeners();
        }
      });
    });
  }

</script>

@emptyModalframe("sendMailGroup", false, "default", "", false) {
  <div class="modal-header">
    <h3 class="modal-title small-caps text-muted">
      @Messages("group.mail.title")
    </h3>
  </div>

  <div class="modal-body row">
    <div id="form-content" class="col-xs-12">
      <form id="mail-form">
        <fieldset>
          @inputText(
            mailForm("groupId"),
            '_label -> null,
            'class -> "form-control hidden",
            'autocomplete -> "off"
          )
          @inputText(
            mailForm("title"),
            '_label -> Messages("group.mail.mailTitle"),
            'class -> "form-control",
            'autocomplete -> "off"
          )
          @textarea(
            mailForm("content"),
              '_label -> Messages("group.mail.mailContent"),
            'class -> "form-control",
            'rows -> "10"
          )
        </fieldset>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <div class="col-xs-12">
      <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
      <button id="submit-btn" type="button" class="btn btn-primary">@Messages("group.mail.btn.title")</button>
    </div>
  </div>
}
