@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Page to manage projects
*
* @param map the message map to display (if any)
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.viz.text.TextVizHolder
@import be.webdeb.presentation.web.views.html.util.{waitforit}

@import be.webdeb.presentation.web.controllers.account.admin.project.ProjectForm

@import be.webdeb.presentation.web.controllers.account.admin.project.ProjectGroupForm
@import be.webdeb.presentation.web.controllers.account.admin.project.ProjectSubgroupForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.util.message
@(
        projects : java.util.List[ProjectForm],
        user : WebdebUser,
        map : java.util.Map[String, String]
)

@scripts = {
    <title>@Messages("title." + play.Configuration.root().getString("server.type"))</title>

    <script src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.fr.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/project-scripts.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            initProjectsListener();
        });
    </script>
}


@main(user, scripts) {


    <div id="msg-div">
        @message(flash)
        @message(map)
        <div id="error-save" class="alert alert-fixed alert-danger" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("danger")</strong> @Messages("project.save.error")
        </div>
        <div id="success-save" class="alert alert-fixed alert-success" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("success")</strong> @Messages("project.save.success")
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 class="small-caps text-muted">
                @Messages("project.title")
            </h3>
            <hr>
        </div>

        <div id="manage-project" class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 no-padding-xs">
            <div class="col-xs-12">
                @for(project <- projects){
                    @projectContainer(project)
                }
            </div>
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary edit-project-btn" data-id="-1">Nouveau projet</button>
            </div>
        </div>
    </div>

    <div id="">

    </div>
}

@projectSubgroupContainer(projectSubgroup : ProjectSubgroupForm) = {
    <div>
        Classe : "@projectSubgroup.getName (@projectSubgroup.getTechnicalName, <span>@projectSubgroup.getNbContributors</span>p., @projectSubgroup.getContributorExample)"
        <button type="button" class="btn btn-link primary edit-projectsubgroup-btn" data-id="@projectSubgroup.getId"
         data-groupid="@projectSubgroup.getProjectGroupId" data-projectid="@projectSubgroup.getProjectId">
            Editer
        </button>
        <span class="count-project-contributors" data-ref="count-contributors-@projectSubgroup.getProjectId" style="display: none;">@projectSubgroup.getNbContributors</span>
        <span class="count-project-contributors" data-ref="count-contributors-@projectSubgroup.getProjectId-@projectSubgroup.getProjectGroupId" style="display: none;">@projectSubgroup.getNbContributors</span>
    </div>
}

@projectGroupContainer(projectGroup : ProjectGroupForm) = {
    <div>
        <p>
            Ecole : "@projectGroup.getName (@projectGroup.getTechnicalName, <span class="count-contributors-@projectGroup.getProjectId-@projectGroup.getId">0</span>p.)"
            <button type="button" class="btn btn-link primary edit-projectgroup-btn" data-id="@projectGroup.getId" data-projectid="@projectGroup.getProjectId">
                Editer
            </button>
        </p>
        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#projectgroup-@projectGroup.getProjectId-@projectGroup.getId">Classes (@projectGroup.getSubgroups.size)<i class="fa fa-caret-down"></i></button>
        <div id="projectgroup-@projectGroup.getProjectId-@projectGroup.getId" class="collapse in" style="margin-left:15px">
            @for(projectSubgroup <- projectGroup.getSubgroups){
                @projectSubgroupContainer(projectSubgroup)
            }
            <button type="button" class="btn btn-link primary edit-projectsubgroup-btn" data-id="-1"
            data-groupid="@projectGroup.getId" data-projectid="@projectGroup.getProjectId">
                Ajouter une classe
            </button>
        </div>
        <span class="count-projectsubgroup" data-ref="count-projectsubgroup-@projectGroup.getProjectId" style="display: none;">@projectGroup.getSubgroups.size</span>
    </div>
    <hr>
}

@projectContainer(project : ProjectForm) = {
    <div class="col-xs-12 col-md-9 no-padding">
        <p>
            Projet : "@project.getName (@project.getTechnicalName, <span class="count-contributors-@project.getId">0</span>p.)"
            <button type="button" class="btn btn-link primary edit-project-btn" data-id="@project.getId">
                Editer
            </button>
        </p>
        <p>
            @if(!project.getHasContributors) {
                <button type="button" class="btn btn-link primary generate-project-users" data-id="@project.getId">
                    Générer les utilisateurs du projet
                </button>
            }else{
                <a class="primary" target="_blank" href="/projectreport/@project.getTechnicalName">
                    Obtenir le rapport
                </a>
                <button type="button" class="btn btn-link primary delete-project-users" data-id="@project.getId">
                    Supprimer les utilisateurs du projet
                </button>
                <button type="button" class="btn btn-link primary see-project-activity" data-id="@project.getId">
                    Voir l'activité
                </button>
            }
        </p>
        <button type="button" class="btn btn-link info" data-toggle="collapse" data-target="#project-@project.getId">Ecoles (@project.getGroups.size) <i class="fa fa-caret-down"></i></button>
        <button type="button" class="btn btn-link primary edit-projectgroup-btn" data-id="-1" data-projectid="@project.getId">Ajouter une école</button>
        <div id="project-@project.getId" class="collapse" style="margin-left:15px;">
            @for(projectGroup <- project.getGroups){
                @projectGroupContainer(projectGroup)
            }
            <button type="button" class="btn btn-link primary edit-projectgroup-btn" data-id="-1" data-projectid="@project.getId">Ajouter une école</button>
        </div>
        <br>
        <hr>
    </div>
    <div class="col-xs-12 col-md-3" style="border-left : 1px solid black;">
        <p>Nb Ecoles : @project.getGroups.size()</p>
        <p>Nb classes : <span class="count-projectsubgroup-@project.getId">0</span></p>
        <p>Nb élèves : <span class="count-contributors-@project.getId">0</span></p>
        <p>Du: @project.getBeginDate au @project.getEndDate</p>
        <hr>
    </div>
}
