@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Modal page with all fields to encode/update a project group
*
* @param groupForm the form that holds the project group values
* @param map the message map to display (if any)
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.account.admin.project.ProjectGroupForm
@import be.webdeb.presentation.web.views.html.util.{noerrorForm, bootstrapInput, helpbubble, hiddenField, hiddenFormField, inlineform, message, folderdiv}
@import helper._

@import be.webdeb.presentation.web.views.html.util.emptyModalframe
@(
        groupForm: Form[ProjectGroupForm],
        map : java.util.Map[String, String]
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@emptyModalframe("create-projectgroup-modal", true, "default", "", false) {
    <div class="modal-header">
        <h3 class="modal-title small-caps text-muted">
            @Messages("projet.group.edit")
        </h3>
    </div>

    <div class="modal-body row">
        <div id="form-content" class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 instructions">@Messages("general.required.fields")</div>
                <br>
                <br>
            </div>
            <form id="projectgroup-form" method="post" enctype="multipart/form-data">
                <fieldset>
                    <div class="col-xs-12 col-sm-6 padding-field">
                    @inputText(
                        groupForm("name"),
                        'placeholder -> "",
                        '_label -> Messages("project.group.name"),
                        'class -> "form-control",
                        'autocomplete -> "off"
                    )(handler = noerrorForm, implicitly[Messages])
                    </div>
                    <div class="col-xs-12 col-sm-6 padding-field">
                    @inputText(
                        groupForm("technicalName"),
                        'placeholder -> "",
                        '_label -> Messages("project.group.technicalName"),
                        'class -> "form-control",
                        'autocomplete -> "off"
                    )(handler = noerrorForm, implicitly[Messages])
                    </div>
                    @hiddenFormField(groupForm("id"))
                    @hiddenFormField(groupForm("projectId"))
                </fieldset>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
            <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
            <button id="submit-btn" type="button" name="submit" class="btn btn-primary" title="@Messages("group.manage.btn.title")">
                @Messages("project.group.submit")
            </button>
        </div>
    </div>

    <div id="inner-msg-div">
    @message(map)
    </div>
}
