@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@

@*
* Modal page with all fields to encode/update a project
*
* @param projectForm the form to fill in the new project
* @param map the message map (may be null)
*
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.account.admin.project.ProjectForm
@import be.webdeb.presentation.web.views.html.util.{emptyModalframe, noerrorForm, bootstrapInput, helpbubble, hiddenField, hiddenFormField, inlineform, message}
@import helper._

@(
        projectForm: Form[ProjectForm],
        map : java.util.Map[String,String]
)

@emptyModalframe("create-project-modal", true, "form", "", false) {
    <div class="modal-header">
        <h3 class="modal-title small-caps text-muted">
            @Messages("project.edit")
        </h3>
    </div>

    <div class="modal-body row">
        <div id="form-content" class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 instructions">@Messages("general.required.fields")</div>
                <br>
                <br>
            </div>
            <form id="project-form" method="post" enctype="multipart/form-data">
                <fieldset>
                    @hiddenFormField(projectForm("id"))
                    <div class="col-xs-12 col-sm-6 padding-field">
                    @inputText(
                        projectForm("name"),
                        'placeholder -> "",
                        '_label -> Messages("project.name"),
                        'class -> "form-control",
                        'autocomplete -> "off"
                    )(handler = noerrorForm, implicitly[Messages])
                    </div>

                    <div class="col-xs-12 col-sm-6 padding-field">
                    @inputText(
                        projectForm("technicalName"),
                        'placeholder -> "",
                        '_label -> Messages("project.technicalName"),
                        'class -> "form-control",
                        'autocomplete -> "off"
                    )(handler = noerrorForm, implicitly[Messages])
                    </div>

                    <div class="col-xs-12 col-sm-6 padding-field">
                        @inputText(
                            projectForm("beginDate"),
                            'placeholder -> "",
                            '_label -> Messages("project.beginDate"),
                            'class -> "form-control datepicker",
                            'autocomplete -> "off"
                        )(handler = noerrorForm, implicitly[Messages])
                    </div>

                    <div class="col-xs-12 col-sm-6 padding-field">
                        @inputText(
                            projectForm("endDate"),
                            'placeholder -> "",
                            '_label -> Messages("project.endDate"),
                            'class -> "form-control datepicker",
                            'autocomplete -> "off"
                        )(handler = noerrorForm, implicitly[Messages])
                    </div>

                    <div class="col-xs-12 no-padding">
                        <label for="b-pedagogic">
                        @Messages("project.pedagogic")
                        </label>
                        <div id="b-pedagogic" class="funkyradio inline">
                            <div class="form-group funkyradio-primary">
                                <input id="pedagogic-false" type="checkbox" name="pedagogic" value="false"
                                    @if(projectForm("pedagogic").value == "false"){checked="checked"}>
                                <label for="pedagogic-false">@Messages("label.no")</label>
                            </div>
                            <div class="form-group funkyradio-primary">
                                <input id="pedagogic-true" type="checkbox" name="pedagogic" value="true"
                                    @if(projectForm("pedagogic").value == "true"){checked="checked"}>
                                <label for="pedagogic-true">@Messages("label.yes")</label>
                            </div>
                            @inputText(
                                projectForm("pedagogic"),
                                '_label -> null,
                                'class -> "form-control hidden",
                                'autocomplete -> "off"
                            )(handler = inlineform, implicitly[Messages])
                        </div>
                        @projectForm.errors.map { case (key, error) =>
                            @if(key.contains("pedagogic")) {
                                <div class="no-help"><div class="label label-danger">@Messages(error(0).message)</div></div>
                            }
                        }
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
            <button id="cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">@Messages("general.btn.cancel")</button>
            <button id="submit-btn" type="button" name="submit" class="btn btn-primary" title="@Messages("group.manage.btn.title")">
                @Messages("project.submit")
            </button>
        </div>
    </div>

    <div id="inner-msg-div">
    @message(map)
    </div>
}
