@*
* Copyright 2014-2018 University of Namur (PReCISE) - University of Louvain (Girsef - CENTAL).
* This is part of the WebDeb software (WDWEB), a collaborative platform to record and analyze
* argumentation-based debates. This is free software:  you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License version 3 as published by the
* Free Software Foundation. It is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
* PARTICULAR PURPOSE.
*
* See <https://webdeb.be/> for a running instance of a webdeb web platform.
* See the GNU Lesser General Public License (LGPL) for more details over the license terms.
*
* You should have received a copy of the GNU Lesser General Public License along with this copy.
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Argument details pane, showing its originating excerpt, its text details and classification details
*
* @param argument the argument for which the details will be displayed
* @param user current user profile
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.viz.EVizPane
@import be.webdeb.presentation.web.views.html.browse.searchResult
@import be.webdeb.presentation.web.views.html.util.authorList
@import be.webdeb.presentation.web.views.html.util.folderList
@import be.webdeb.presentation.web.controllers.entry.excerpt.ExcerptHolder

@import be.webdeb.presentation.web.views.html.util.placeList
@(
        excerpt : ExcerptHolder
)

<div class="center-flex large">
    <div class="col-sm-12 contribution-card no-padding-xs">
        <p><span class="larger-font serif">@Messages("excerpt.working.excerpt") : </span>@excerpt.getWorkingExcerpt</p>
        <p><span class="larger-font serif">@Messages("excerpt.original.excerpt") : </span>@excerpt.getOriginalExcerpt</p>

        <p>
            <span class="text-muted text-lowercase small-font">@Messages("argument.sumup.actorname")</span>
            @authorList(excerpt.getActors, "authors")
        </p>

        <p>
            <span class="text-lowercase text-muted small-font" style="margin-bottom: 2px">@Messages("text.label.folder")</span>
            @folderList(excerpt.getFolders, "folders", EVizPane.CITATION)
        </p>

        <p>
            <span class="text-lowercase text-muted small-font" style="margin-bottom: 2px">@Messages("text.label.places")</span>
            @placeList(excerpt.getPlaces, "places")
        </p>
    </div>
</div>